<apex:page standardController="ffct__BundleSubComponent__c" extensions="ffct.BundleSubComponentControllerExtension" >
  <apex:form id="form">
         <apex:actionStatus id="eventStatus"  >
         <apex:facet name="start">
          <apex:outputPanel >
                        <div style="width:100%;height:100%;position:absolute;top:0;left:0;">
                            <div style="position:absolute;top:50%;left:50%">
                                <apex:image value="/img/loading32.gif"></apex:image>
                            </div>
                        </div>
           </apex:outputPanel>
        </apex:facet>   
         </apex:actionStatus>
        <apex:sectionHeader subtitle="{!IF(IsEdit,NewSubComponent.Name,$Label.NewBundleSubComponent)}" title="{!$Label.BundleSubComponent}"/>
        <apex:pagemessages id="pgMsg"/>
        <apex:pageBlock title="{!$Label.BundleSubComponentEdit}">
            <apex:pageblockbuttons >
                <apex:commandbutton action="{!save}" value="{!$Label.Save}" />
                <apex:commandbutton action="{!cancel}" value="{!$Label.Cancel}" />
            </apex:pageblockbuttons>
            <apex:pageblocksection >
                <apex:inputfield required="true" value="{!NewSubComponent.ffct__BundleSubComponentName__c}" />
                <apex:outputfield value="{!NewSubComponent.ffct__BundleComponent__c}" />
                
                <apex:pageblocksectionitem >
                    <apex:outputlabel >{!$Label.Type}</apex:outputlabel>
                    <apex:panelgroup >
                     <apex:selectList required="true" value="{!NewSubComponent.ffct__Type__c}" multiselect="false" size="1"  onchange="showTheFilterElements()"  rendered="{!BundleComponent.ffct__Type__c==MetadataModeRecordValue && !DisplaySubComponentTypeBox}">
                        <apex:selectOptions value="{!BundleSubCompType}"/>
                    </apex:selectList>
                    <apex:inputField required="true" value="{!NewSubComponent.ffct__Type__c}" rendered="{!BundleComponent.ffct__Type__c!=MetadataModeRecordValue || DisplaySubComponentTypeBox}" onblur="showTheFilterElements()" />
                 </apex:panelgroup>
                </apex:pageblocksectionitem>
                
                <apex:pageblocksectionitem >
                    <apex:outputlabel >{!$Label.IsFilter}</apex:outputlabel>
                    
                    <apex:selectList value="{!NewSubComponent.ffct__IsFilter__c}" multiselect="false" size="1" onchange="showTheFilterElements()">
                        <apex:selectOptions value="{!BundleSubCompFilter}"/>
                    </apex:selectList>
                       
                </apex:pageblocksectionitem>
                
                <apex:pageblocksectionitem id="filterbyList" >
                    
                    <apex:outputlabel >{!$Label.Filter}</apex:outputlabel>
                     <apex:panelgroup >
                     <apex:selectList value="{!NewSubComponent.ffct__FilterBy__c}" multiselect="false" size="1" rendered="{!NewSubComponent.ffct__IsFilter__c!=IsFilterModeTagsValue}">
                        <apex:selectOptions value="{!BundleSubCompFilterByElement}"/>
                    </apex:selectList>
                    <apex:inputField value="{!NewSubComponent.ffct__FilterBy__c}" rendered="{!NewSubComponent.ffct__IsFilter__c==IsFilterModeTagsValue}" />
                    </apex:panelgroup>
                </apex:pageblocksectionitem>
                
            </apex:pageblocksection>
        </apex:pageBlock>  
       <apex:actionFunction name="showTheFilterElements" action="{!buildTheListOfFilterBy}" reRender="form" status="eventStatus" />
    </apex:form> 
 
  
</apex:page>