<apex:page controller="ffps_bmatching.BackgroundMatchingController" tabStyle="Contact" showHeader="true" sidebar="false" >
<apex:includeScript value="{!$Resource.ffps_bmatching__javascript}"/>
    <script type="text/javascript">
    $j = jQuery.noConflict();
        function loadingImage(val)
        {
            console.log('xxxxxxxxx');
            if(val==true)
            {
                console.log('xxxxxxxxxp');
                $j("body").addClass("loadingCustom");
            } else {
                $j("body").removeClass("loadingCustom");
            }
        }
        console.log('ssss');
    </script> 
    <head>
      <style type="text/css">
        .smallWidth {
            width:50px;
            word-wrap: break-word;
            background-color:red;
          }
          .modal {
              display:    none;
              position:   fixed;
              z-index:    20000;
              top:        0;
              left:       0;
              height:     100%;
              width:      100%;
              background: rgba( 255, 255, 255, .8 ) 
                          url('/img/loading.gif') 
                          50% 50% 
                          no-repeat;
          }
          /* When the body has the loading class, we turn
             the scrollbar off with overflow:hidden */
          body.loadingCustom {
              overflow: hidden;   
          }

          /* Anytime the body has the loading class, our
             modal element will be visible */
          body.loadingCustom .modal {
              display: block;
          }
      </style>
    </head> 
    <apex:form >
        <apex:actionStatus id="loadingImage" onstart="loadingImage(true)" onstop="loadingImage(false)" />
        <apex:pageBlock >
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:pageMessages id="messages"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
         </apex:pageBlock>
        <apex:pageBlock mode="maindetail" id="pb"> 
          <apex:pageBlockButtons >
            <apex:commandButton action="{!runbatch}" value="Run Background Matching" onComplete="loading()" status="loadingImage" reRender="messages, pb"/>
          </apex:pageBlockButtons>
		<apex:pageBlockSection columns="1"> 
	        <apex:pageBlockSectionItem >
	        	<apex:outputLabel value="Account 1:" for="Account1"/>
	            <apex:inputField value="{!lookup1.c2g__Account__c}" label="Account 1" required="true" />
	        </apex:pageBlockSectionItem>
	        <apex:pageBlockSectionItem >
	        	<apex:outputLabel value="Account 2:" for="Account2"/>
	            <apex:inputField value="{!lookup2.c2g__Account__c}" label="Account 2"/>
	        </apex:pageBlockSectionItem> 
	        <apex:pageBlockSectionItem >
	        	<apex:outputLabel value="Account 3:" for="Account3"/>
	            <apex:inputField value="{!lookup3.c2g__Account__c}" label="Account 3"/>
	        </apex:pageBlockSectionItem>
	        <apex:pageBlockSectionItem >
	        	<apex:outputLabel value="Account 4:" for="Account4"/>
	            <apex:inputField value="{!lookup4.c2g__Account__c}" label="Account 4"/>
	        </apex:pageBlockSectionItem> 
	        <apex:pageBlockSectionItem >
	        	<apex:outputLabel value="Account 5:" for="Account5"/>
	            <apex:inputField value="{!lookup5.c2g__Account__c}" label="Account 5"/>
	        </apex:pageBlockSectionItem>
	      </apex:pageBlockSection>
         </apex:pageBlock>
    </apex:form>
  <div class="modal"><!-- Place at bottom of page --></div>     
</apex:page>