<apex:page showHeader="true" sidebar="true">
    <apex:sectionHeader subtitle="Background Matching Links" />   
    <apex:panelGrid style="padding:4px;margin-bottom:10px;border-radius:5px" columns="1" bgcolor="#DCFBDC" width="100%" >
    </apex:panelGrid>
    <apex:form >
        <apex:pageBlock mode="maindetail" id="pb">
        	<apex:pageBlockSection title="Standard Background Matching Links">
        		<apex:outputLink value="{!$Page.ffps_bmatching__CustomBackgroundMatchingControllerPage}" id="theLink">Standard Background Matching </apex:outputLink><br/><br/>
        		<apex:outputLink value="{!$Page.ffps_bmatching__BackgroundMatchingControllerPage}" id="theLink2">Standard Background Matching - Account Selection Option</apex:outputLink><br/><br/>
        	</apex:pageBlockSection>
        	<!--<apex:pageBlockSection title="National Background Matching Links">
        		<apex:outputLink value="{!$Page.ffps_bmatching__NationalBackgroundMatchingBatchInterface}" id="theLink">National Background Matching </apex:outputLink><br/><br/>
        	</apex:pageBlockSection> -->
        </apex:pageBlock>
    </apex:form>
</apex:page>