<apex:page controller="c2g.CODACurrencyRevalController" tabStyle="c2g__codaCurrencyRevaluation__c">

    <apex:stylesheet value="{!URLFOR($Resource.c2g__front,'front/base/base.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.c2g__front,'front/components/wizard_steps/wizard_steps.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.c2g__front,'front/components/percentage_bar/percentage_bar.css')}"/>
    
    <script src="{!URLFOR($Resource.front,'front/base/frameworks/jquery-1.4.2.min.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.front,'front/base/base.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.front,'front/components/wizard_steps/wizard_steps.js')}" type="text/javascript"></script>

    <apex:sectionHeader title="{!$Label.codaRevalWizardTitle}" subtitle="{!$Label.codaRevalWizardStep6Title}"/>

    <div class="wizardSteps">
        <ul class="steps steps6">
            <li class="firstChild on">
                <div>
                    <span class="step">1</span>
                    <span class="title">{!$Label.codaRevalWizardStep1Title}</span>
                </div>
            </li>
            <li class="on"> 
                <div>
                    <span class="step">2</span>
                    <span class="title">{!$Label.codaRevalWizardStep2Title}</span>
                </div>
            </li>
            <li class="on">
                <div>
                    <span class="step">3</span>
                    <span class="title">{!$Label.codaRevalWizardStep3Title}</span>
                </div>
            </li>
            <li class="on">
                <div>
                    <span class="step">4</span>
                    <span class="title">{!$Label.codaRevalWizardStep4Title}</span>
                </div>
            </li>
            <li class="on on_current">
                <div>
                    <span class="step">5</span>
                    <span class="title">{!$Label.codaRevalWizardStep5Title}</span>
                </div>
            </li>
            <li class="lastChild current">
                <div>
                    <span class="step">6</span>
                    <span class="title">{!$Label.codaRevalWizardStep6Title}</span>
                </div> 
            </li>
        </ul>
    </div>
<apex:form >
   
   <apex:pageBlock mode="edit">
   
    <apex:pageBlockSection columns="1" rendered="{!!submitted}">
        <div class="informationArea">
            <h3>{!$Label.codaRevalWizardStep6Information}</h3>
        </div>
    </apex:pageBlockSection>
        
        <apex:outputPanel id="messagePanel" layout="block">
            <apex:outputPanel id="errorPanel" layout="block" styleClass="errorArea" rendered="{!viewstate.showErrorMessages}">
                <apex:repeat value="{!viewstate.errorMessages}" var="errorMessage" rendered="{!viewstate.showErrorMessages}">
                    <h3><apex:outputText value="{!errorMessage}"/></h3>
                </apex:repeat>
            </apex:outputPanel>
        </apex:outputPanel>
   
        <apex:pageBlockSection columns="2">
          
                    <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardRevaluationType}" for="RevalSelect" />
                <apex:outputLabel value="{!viewState.revalType}" id="GLAinput" />
           </apex:pageBlockSectionItem>
            
            
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardDocumentCurrency}" for="doccur" />
                <apex:outputLabel value="{!ViewState.docCurrency}" id="RevalSelect"/>
            </apex:pageBlockSectionItem>
            
            
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardGainsLosses}" for="GLAinput" />
                <apex:outputLabel value="{!ViewState.CriteriaGlaName}" id="GLAinput" />
            </apex:pageBlockSectionItem>
            
            
        
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardHomeCurrency}" for="homecur" />
                <apex:outputLabel value="{!ViewState.HomeCurrency}" id="homecur"/>
            </apex:pageBlockSectionItem>
            
            
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardAnalysis}" for="GroupLevelSelect" />
                <apex:outputLabel value="{!viewState.groupingLevel}" id="group" />
            </apex:pageBlockSectionItem>
           
           
                
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardDualCurrency}" for="dualcur" />
                <apex:outputLabel value="{!ViewState.DualCurrency}" id="dualcur"/>
            </apex:pageBlockSectionItem>
        
          <apex:pageBlockSectionItem >
                <apex:outputText value=" "/>
           </apex:pageBlockSectionItem>
           

           
           <apex:pageBlockSectionItem >
                <apex:outputText value=" "/>
           </apex:pageBlockSectionItem>
           
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardPeriodFrom}" for="fromPeriod"/>
                <apex:outputLabel value="{!ViewState.FromPeriodName}" id="fromPeriod" rendered="{!ViewState.isIncomeStatement}"/>
            </apex:pageBlockSectionItem>
            
        
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!viewstate.docCurrency} to {!viewstate.homeCurrency} : " for="txtHomeDoc" />
                <apex:outputLabel value="{!viewstate.exHomeDoc}" id="txtHomeDoc"/>
            </apex:pageBlockSectionItem>
            
            
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardPeriodTo}" for="toPeriod"/>
                <apex:outputLabel value="{!ViewState.ToPeriodName}" id="periodfrom" />
            </apex:pageBlockSectionItem>
            
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!viewstate.dualCurrency} to {!viewstate.homeCurrency}: " for="txtHomeDual" />
                <apex:outputLabel value="{!viewstate.exHomeDual}" id="txtHomeDual" styleClass="calcHomeDual"/>
            </apex:pageBlockSectionItem>
            
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardPostingPeriod}" for="postingPeriod" />    
                <apex:outputLabel value="{!ViewState.PostingPeriodName}" id="postingPeriod" />
            </apex:pageBlockSectionItem>
            
            <apex:pageBlockSectionItem >
                <apex:outputText value="" />    
            </apex:pageBlockSectionItem>
            
            
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$Label.codaRevalWizardReversalPeriod}" for="reversalPeriod" />    
                <apex:outputLabel value="{!ViewState.ReversalPeriodName}" id="reversalPeriod" />
            </apex:pageBlockSectionItem>
            
         
        </apex:pageBlockSection>
        
        
    <apex:pageBlockButtons id="buttonSet" location="bottom">
        <apex:commandButton value="{!$Label.codaCurrRevaluationButtonPrevious}" action="{!previousPage}" rendered="{!!submitted}"/>
        <apex:commandButton value="{!$Label.codaCurrRevaluationButtonCancel}" action="{!cancel}" rendered="{!!submitted}"/> 
        <apex:commandButton value="{!$Label.codaCurrRevaluationButtonSubmit}" action="{!submit}" rendered="{!!submitted}">
            <apex:actionSupport event="onclick" rerender="buttonSet"/>
        </apex:commandButton>
    </apex:pageBlockButtons>
    
  
      <apex:pageBlockSection columns="1" rendered="{!submitted}">
        <div class="informationArea">
            <h3>{!$Label.codaRevalWizardSubmittedText1}</h3>
            <h3>{!$Label.codaRevalWizardSubmittedText2}</h3>
        </div>                             
      <apex:actionPoller action="{!viewstate.getHome}" oncomplete="{!submitted}" enabled="{!submitted}" interval="5"/>
     </apex:pageBlockSection>
     
     
       </apex:pageBlock>
</apex:form>
</apex:page>