<!-- codaquickpaymentdiscard -->
<apex:page standardController="c2g__codaPayment__c" extensions="c2g.CODAQuickPaymentController">
	<script src="{!URLFOR($Resource.coda2go,'coda2go/web/script/lib.js')}" type="text/javascript"></script>
	<apex:stylesheet value="{!URLFOR($Resource.c2g__coda2go,'coda2go/web/css/style.css')}"/>
	<style>
	.pbError
	{
		background-image:url({!URLFOR($Resource.coda2go, 'coda2go/web/images/pbErrorIcon.gif')});
	}
	</style>
	<apex:form onsubmit="if(CODA2GoButtons.disableSaveButtons){return CODA2GoButtons.disableSaveButtons();}">
		<!-- Header -->
		<apex:sectionHeader title="{!$Label.codaPaymentDiscardPaymentDiscard}" subtitle="{!viewstate.payment.Dto.Name}" help="{!URLFOR('/apex/c2g__codahelploader?topicid=1077')}"/>
		<!-- Payment Status -->
		<apex:pageBlock title="{!$Label.codaPaymentDiscardPaymentStatus}">
			<apex:pageBlockButtons >
				<!-- Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaQuickPaymentDiscard}" action="{!discard}" id="discard_h" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaQuickPaymentCancel}" action="{!cancelForDiscard}" id="cancel_h" styleclass="hiddensubmit" immediate="true" reRender=""/>
				<!-- End of Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaQuickPaymentDiscard}" id="discard" onclick="document.getElementById('{!$Component.discard_h}').click();return false;" rerender=""/>				
				<apex:commandButton value="{!$Label.codaQuickPaymentCancel}" id="cancel" rerender="" onclick="if(!CODA.queing()){document.getElementById('{!$Component.cancel_h}').click()};return false;"/>
				<script>
					var CODA2GoButtons = new CODA2GoPage();
					var CODA2GoBtnSaveValue = "{!$Label.codaPaymentDiscardProcessing}"
	                var discard = document.getElementById("{!$Component.discard}");
	                var cancel = document.getElementById("{!$Component.cancel}");	               
	                CODA2GoButtons.initButtons([discard.id,cancel.id]);
				</script>
			</apex:pageBlockButtons>
			<!-- Messages -->
			<apex:outputPanel id="messagePanel" layout="block">
				<apex:outputPanel id="errorPanel" layout="block" styleClass="pbError" rendered="{!viewstate.showErrorMessages}">
					<apex:repeat value="{!viewstate.errorMessages}" var="errorMessage" rendered="{!viewstate.showErrorMessages}">
						<apex:outputText value="{!errorMessage}"/><br/>
					</apex:repeat>
				</apex:outputPanel>
			</apex:outputPanel>
			<apex:pageBlockSection >
				<apex:inputField value="{!viewstate.payment.Dto.c2g__DiscardReason__c}" required="true" style="width:90%;height:60px;"/>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>