<!-- codaopportunityconvert -->
<apex:page standardController="c2g__codaInvoice__c" extensions="c2g.CODAInvoiceController">
	<script src="{!URLFOR($Resource.coda2go,'coda2go/web/script/lib.js')}" type="text/javascript"></script>
	<apex:stylesheet value="{!URLFOR($Resource.c2g__coda2go,'coda2go/web/css/style.css')}"/>
	<style>
	.pbError
	{
		background-image:url({!URLFOR($Resource.coda2go, 'coda2go/web/images/pbErrorIcon.gif')});
	}
	</style>
	<apex:form onsubmit="if(CODA2GoButtons.disableSaveButtons){ return CODA2GoButtons.disableSaveButtons(); }">
		<!-- Header -->
		<apex:sectionHeader title="{!$Label.codaPageOpportunityConvertOpportunity}" subtitle="{!$Label.codaPageOpportunityConvertConvert}" help="{!URLFOR('/apex/c2g__codahelploader?topicid=1035')}"/>
		<!-- Opportunity Detail -->
		<apex:pageBlock title="{!$Label.codaPageOpportunityConvertOpportunityD}" mode="edit">
			<apex:pageBlockButtons >
				<!-- Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaPageOpportunityConvertConvert2}" id="convert_h" action="{!convertOpportunity}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageOpportunityConvertCancel}" id="cancel_h" action="{!cancelOpportunnity}" styleclass="hiddensubmit" immediate="true"/>
				<!-- End of Hiddens Buttons -->
				<apex:commandButton value="{!$Label.codaPageOpportunityConvertConvert3}" id="convert" onclick="document.getElementById('{!$Component.convert_h}').click();return false" rerender=""/>
				<apex:commandButton value="{!$Label.codaPageOpportunityConvertCancel}" id="cancel" rerender="" onclick="if(!CODA.queing()){document.getElementById('{!$Component.cancel_h}').click()};return false;"/>
				<script>
					var CODA2GoButtons = new CODA2GoPage();
					var CODA2GoBtnSaveValue = "{!$Label.codaPageOpportunityConvertProcessing}"
	                var convert = document.getElementById("{!$Component.convert}");
	                var cancel = document.getElementById("{!$Component.cancel}");
	                CODA2GoButtons.initButtons([convert.id,cancel.id]);
				</script>
			</apex:pageBlockButtons>
			<!-- Messages -->
			<apex:outputPanel id="messagePanel" layout="block">
				<apex:outputPanel id="errorPanel" layout="block" styleClass="pbError" rendered="{!viewstate.showErrorMessages}">
					<apex:messages />
					<apex:repeat value="{!viewstate.errorMessages}" var="errorMessage" rendered="{!viewstate.showErrorMessages}">
						<apex:outputText value="{!errorMessage}"/><br/>
					</apex:repeat>
				</apex:outputPanel>
			</apex:outputPanel>
			<apex:pageBlockSection title=" ">
				<apex:inputField value="{!viewstate.invoice.Dto.c2g__Opportunity__c}" required="true"/>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>