<!-- codacreditNoteview -->
<apex:page standardController="c2g__codaCreditNote__c" extensions="c2g.CODACreditNoteController" action="{!maximunNumberOfLinesReached}">
	<script src="{!URLFOR($Resource.coda2go,'coda2go/web/script/lib.js')}" type="text/javascript"></script>
	<apex:stylesheet value="{!URLFOR($Resource.c2g__coda2go,'coda2go/web/css/style.css')}"/>
	<style>
	.extracollapsed
	{
		BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')});
	}
	
	.extraexpanded
	{
		BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')});
	}
	
	.extracollapsed_h
	{
		BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')});
	}
	
	.extraexpanded_h
	{
		BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')});
	}
	
	.pbError
	{
		background-image:url({!URLFOR($Resource.coda2go, 'coda2go/web/images/pbErrorIcon.gif')});
	}
	
	.extracollapsed
	{
		vertical-align:top;
		position:relative;
		top:-2px;
	}
	</style>
	<apex:form onsubmit="if(CODA2GoButtons.disableSaveButtons){ return CODA2GoButtons.disableSaveButtons(); }">
		<!-- Header -->
		<apex:sectionHeader title="{!$Label.codaPageCreditNoteViewCreditNoteDetail}" subtitle="{!viewstate.creditNote.dto.Name}" help="{!URLFOR('/apex/c2g__codahelploader?topicid=1025')}"/>
		<!-- Back to CreditNotes -->
		<DIV class="goBreadcrumb">
		&nbsp;&#171;<a href="{!URLFOR($Action.codaCreditNote__c.Tab,$ObjectType.codaCreditNote__c)}">{!$Label.codaPageCreditNoteViewBackToListCredit}</a>
		</DIV>
		<!-- CreditNote Detail -->
		<apex:pageBlock title="{!$Label.codaPageCreditNoteViewCreditNoteDetail2}">
			<!-- Buttons -->
			<apex:pageBlockButtons >
				<!-- Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewAmend}" id="amend_h" action="{!gotoAmendDocument}" rendered="{!viewstate.creditNote.canAmendDocument}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewEdit}" id="edit_h" action="{!edit}" rendered="{!viewstate.creditNote.canEdit}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewDiscard}" id="discard_h" action="{!gotoDiscard}" rendered="{!viewstate.creditNote.canDiscard}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewPost}" id="post_h" action="{!post}" rendered="{!viewstate.creditNote.canPost}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewPost}" id="postVal_h" action="{!postVal}" rendered="{!viewstate.creditNote.canPostVal}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewPrint}" id="print_h" onclick="window.open('{!viewstate.printUrl}');" action="{!print}" rendered="{!viewstate.creditNote.canPrint}" styleclass="hiddensubmit"/>				
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewPrintPdf}" id="printPDF_h" onclick="window.open('{!viewstate.pdfUrl}');" action="{!print}" rendered="{!viewstate.creditNote.canPrint}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewEmailPdf}" id="emailPDF_h" onclick="return;" action="{!email}" rendered="{!viewstate.creditNote.canPrint}" styleclass="hiddensubmit"/>
				<!-- End of Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewAmend}" id="amend" rendered="{!viewstate.creditNote.canAmendDocument}" onclick="document.getElementById('{!$Component.amend_h}').click();return false;" rerender=""/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewEdit2}" id="edit" rendered="{!viewstate.creditNote.canEdit}" onclick="document.getElementById('{!$Component.edit_h}').click();return false;" rerender=""/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewDiscard2}" id="discard" rendered="{!viewstate.creditNote.canDiscard}" onclick="document.getElementById('{!$Component.discard_h}').click();return false;" rerender=""/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewPost2}" id="post" rendered="{!viewstate.creditNote.canPost}" onclick="document.getElementById('{!$Component.post_h}').click();return false;" rerender="post, postVal"/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewPost2}" id="postVal" rendered="{!viewstate.creditNote.canPostVal}" onclick="document.getElementById('{!$Component.postVal_h}').click();return false;" rerender="post, postVal"/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewPreview}" id="preview" onclick="window.open('{!viewstate.printUrl}'); return;" rendered="{!viewstate.creditNote.canPrint}" reRender=""/>				
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewPrint2}" id="print" rendered="{!viewstate.creditNote.canPrint}" onclick="document.getElementById('{!$Component.print_h}').click();return false;" rerender=""/>				
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewViewPdf}" id="viewPDF" onclick="window.open('{!viewstate.pdfUrl}'); return;"  rendered="{!viewstate.creditNote.canPrint}" reRender=""/>				
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewPrintPdf2}" id="printPDF" rendered="{!viewstate.creditNote.canPrint}" onclick="document.getElementById('{!$Component.printPDF_h}').click();return false;" rerender=""/>
				<apex:commandButton value="{!$Label.codaPageCreditNoteViewEmailPdf2}" id="emailPDF" rendered="{!viewstate.creditNote.canPrint}" onclick="document.getElementById('{!$Component.emailPDF_h}').click();return false;" rerender=""/>
				<script>
					var CODA2GoButtons = new CODA2GoPage();
					var CODA2GoBtnSaveValue = "{!$Label.codaPageCreditNoteViewProcessing}"
					var CODA2GoButtonArray = "";

	                if(document.getElementById("{!$Component.amend}"))
	                {
	                	var amend = document.getElementById("{!$Component.amend}");
	                	CODA2GoButtonArray = CODA2GoButtonArray + ',' +amend.id;
	                }

	                if(document.getElementById("{!$Component.edit}"))
	                {
	                	var edit = document.getElementById("{!$Component.edit}");
	                	CODA2GoButtonArray = CODA2GoButtonArray + ',' +edit.id;
	                }
	                
	                if(document.getElementById("{!$Component.discard}"))
	                {
	   	                var discard = document.getElementById("{!$Component.discard}");
	   	                CODA2GoButtonArray = CODA2GoButtonArray + ',' + discard.id;
	                }
   	                
   	                if(document.getElementById("{!$Component.post}"))
	                {
		                var post = document.getElementById("{!$Component.post}");
		                CODA2GoButtonArray = CODA2GoButtonArray + ',' + post.id;
	                }
	                
	                if(document.getElementById("{!$Component.postVal}"))
	                {
		                var postVal = document.getElementById("{!$Component.postVal}");
		                CODA2GoButtonArray = CODA2GoButtonArray + ',' + postVal.id;
	                }
	                
	                if(document.getElementById("{!$Component.preview}"))
	                {
		                var preview = document.getElementById("{!$Component.preview}");
		                CODA2GoButtonArray = CODA2GoButtonArray + ',' + preview.id;
	                }
	                
	                if(document.getElementById("{!$Component.print}"))
	                {
		                var print = document.getElementById("{!$Component.print}");
		                CODA2GoButtonArray = CODA2GoButtonArray + ',' + print.id;
	                }
	                
	                if(document.getElementById("{!$Component.viewPDF}"))
	                {
		                var viewPDF = document.getElementById("{!$Component.viewPDF}");
		                CODA2GoButtonArray = CODA2GoButtonArray + ',' + viewPDF.id;
	                }
	                
	                if(document.getElementById("{!$Component.printPDF}"))
	                {
		                var printPDF = document.getElementById("{!$Component.printPDF}");
		                CODA2GoButtonArray = CODA2GoButtonArray + ',' + printPDF.id;
	                }
				
					if(document.getElementById("{!$Component.emailPDF}"))
	                {
		                var emailPDF = document.getElementById("{!$Component.emailPDF}");
		                CODA2GoButtonArray = CODA2GoButtonArray + ',' + emailPDF.id;
	                }

					var myCODA2GoButtonArray = CODA2GoButtonArray.substr(1).split(",");
	                CODA2GoButtons.initButtons(myCODA2GoButtonArray);
				</script>
			</apex:pageBlockButtons>
			<!-- Messages -->
			<apex:outputPanel id="messagePanel" layout="block">
				<apex:outputPanel id="errorPanel" layout="block" styleClass="pbError" rendered="{!viewstate.showErrorMessages}">
					<apex:messages />
					<apex:repeat value="{!viewstate.errorMessages}" var="errorMessage" rendered="{!viewstate.showErrorMessages}">
						<apex:outputText value="{!errorMessage}"/><br/>
					</apex:repeat>
				</apex:outputPanel>
				<apex:outputPanel id="editMessagePanel" layout="block" styleClass="pbError" rendered="{!viewstate.showEditMessages}">
					<apex:outputText value="{!$Label.codaDocumentCannotBeEditedWithoutAccount}"/>
				</apex:outputPanel>
				<apex:outputPanel id="generalMessagePanel" layout="block" styleClass="pbInfo" rendered="{!viewstate.showGeneralMessages}">
						<apex:repeat value="{!viewstate.generalMessages}" var="generalMessage" rendered="{!viewstate.showGeneralMessages}">
							<apex:outputText value="{!generalMessage}"/><br/>
						</apex:repeat>
				</apex:outputPanel>
			</apex:outputPanel>
			<!-- Account Detail -->
			<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewAccountDetail}">
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNote__c.fields.c2g__Account__c.label}"/>
					<apex:outputPanel styleClass="holder">
						<apex:outputField value="{!viewstate.creditNote.dto.c2g__Account__c}"/>
						<a href="#" onclick="CODA.toggleHeaderExpand(this,'myex');return false;" title="{!$Label.codaPageCreditNoteViewToggleAnalysisAr}">
								<img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaPageCreditNoteViewToggleAnalysisAr2}"/>
						</a>
						<DIV id="myex" class="headerexpander">
									<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewAnalysis}" collapsible="false" columns="1">
										<apex:outputField value="{!viewstate.creditNote.dto.c2g__Dimension1__c}"/>
										<apex:outputField value="{!viewstate.creditNote.dto.c2g__Dimension2__c}"/>
										<apex:outputField value="{!viewstate.creditNote.dto.c2g__Dimension3__c}"/>
										<apex:outputField value="{!viewstate.creditNote.dto.c2g__Dimension4__c}"/>
									</apex:pageBlockSection>
									
									<!-- CUSTOM FIELDS HEADER -->
							<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewAdditionalInformation}" id="headerCustomBlock" collapsible="false" columns="1" rendered="{!viewstate.DynamicFieldsInfoTable.size > 0}">
								<apex:dataTable id="dtDynamicFields" value="{!viewstate.DynamicFieldsInfoTable}" var="fieldInfo" rowClasses="odd,even" headerClass="listheader" styleClass="list detailListnoPadding" border="0" onRowMouseOver="if (window.hiOn){hiOn(this);}" onRowMouseOut="if (window.hiOff){hiOff(this);}">
									<apex:column styleClass="widthauto">
										<apex:outputText value="{!fieldInfo.DynamicFieldController.DynamicFieldInfo.label}"/>
									</apex:column>
									<apex:column styleClass="widthauto">
										<!-- 
										The implementation using new feature Dynamic Binding in VF would be much easier, efficient and user friendly. We would not need any custom component
										<apex:repeat value="{!myFieldList}" var="f">
											<apex:outputField value="{!account[f]}"/>
										</apex:repeat>
										 -->
										<c:CODADynamicField m_fieldinfo="{!fieldInfo.DynamicFieldController.DynamicFieldInfo}" m_mode="VIEW" m_objectc="codaCreditNote__c"/>
									</apex:column>
					        	</apex:dataTable>
	                        </apex:pageBlockSection>
						</DIV>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageOpportunityConvertOpportunity}"/>
					<apex:outputField value="{!viewstate.creditNote.dto.c2g__Opportunity__c}"/>
				</apex:pageBlockSectionItem>
				
				
				<!-- Below pageBlockSectionItem rendered depending on Tax Method - Sales and Use Tax -->
				
				<apex:pageBlockSectionItem rendered="{!viewstate.isSalesAndUse}">
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewTaxCodes}"/>
					
					<apex:outputPanel styleClass="holder">
						<apex:outputPanel >
							<apex:outputText value="{!viewstate.creditNote.taxCodesAsString}"/>
						</apex:outputPanel> 
						<a href="#" onclick="CODA.toggleHeaderExpand(this,'myex1');return false;" title="{!$Label.codaPageCreditNoteViewToggleTaxCodesAr2}"><img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaPageCreditNoteViewToggleTaxCodesAr2}"/></a>
						<DIV id="myex1" class="headerexpander">
								<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewTaxCodes2}" collapsible="false" columns="1">
									<apex:panelGrid width="100%" columns="3" border="0" columnClasses="labelCol first, data2Col first,data2Col">
										<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNote__c.fields.c2g__TaxCode1__c.label}"/>
										<apex:outputPanel ><apex:outputField value="{!viewstate.creditNote.dto.c2g__TaxCode1__c}"/></apex:outputPanel>
										<apex:outputPanel ><apex:outputText value="{!viewstate.creditNote.TaxRate1}"/></apex:outputPanel>
										<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNote__c.fields.c2g__TaxCode2__c.label}"/>
										<apex:outputPanel ><apex:outputField value="{!viewstate.creditNote.dto.c2g__TaxCode2__c}"/></apex:outputPanel>
										<apex:outputPanel ><apex:outputText value="{!viewstate.creditNote.TaxRate2}"/></apex:outputPanel>
										<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNote__c.fields.c2g__TaxCode3__c.label}"/>
										<apex:outputPanel ><apex:outputField value="{!viewstate.creditNote.dto.c2g__TaxCode3__c}"/></apex:outputPanel>
										<apex:outputPanel ><apex:outputText value="{!viewstate.creditNote.TaxRate3}"/></apex:outputPanel>
									</apex:panelGrid>
								</apex:pageBlockSection>
						</DIV>
												
					</apex:outputPanel>					
				</apex:pageBlockSectionItem>
				
				
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewInvoiceNumber}"/>
					<apex:outputField value="{!viewstate.creditNote.dto.c2g__Invoice__c}"/>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewBillingAddress}"/>
					<apex:outputPanel >
					<apex:outputText value="{!viewstate.creditNote.billingAddress.fullAddress}"/>&nbsp;
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewShippingAddress}"/>
					<apex:outputPanel >
					<apex:outputText value="{!viewstate.creditNote.shippingAddress.fullAddress}"/>&nbsp;
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.canPrint}">
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewInvoiceEmail}"/>
					<apex:outputText value="{!viewstate.creditNote.creditNote.account.Dto.c2g__CODAInvoiceEmail__c}"/>
					
				</apex:pageBlockSectionItem>
				
				
				
			</apex:pageBlockSection>
			
			<!-- CreditNote Detail -->
			<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewCreditNoteDetail3}">
				<apex:outputField value="{!viewstate.creditNote.dto.Name}"/>
				<apex:outputField value="{!viewstate.creditNote.dto.c2g__Transaction__c}"/>
				<apex:outputField value="{!viewstate.creditNote.dto.c2g__CreditNoteDate__c}"/>
				
				<apex:outputField id="period" value="{!viewstate.creditNote.dto.c2g__Period__c}"/>
				
				<apex:outputField id="invoiceDate" value="{!viewstate.creditNote.dto.c2g__InvoiceDate__c}" rendered="{!!viewstate.isConvertedFromInvoice}"/>
				<apex:pageBlockSectionItem rendered="{!viewstate.isConvertedFromInvoice}">
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewInvoiceDate}"/>
					<apex:outputField value="{!viewstate.creditNote.creditNote.invoice.dto.c2g__InvoiceDate__c}"/>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewCustomerReferenc}"/>
					<apex:outputPanel >
						<apex:outputField value="{!viewstate.creditNote.dto.c2g__CustomerReference__c}"/>&nbsp;
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:outputField value="{!viewstate.creditNote.dto.c2g__DueDate__c}"/>
				<apex:outputField value="{!viewstate.creditNote.dto.c2g__CreditNoteReason__c}"/>	
				
				<apex:pageBlockSectionItem id="currencyblock">
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewCreditNoteCurren}"/>
					<apex:outputText value="{!viewstate.creditNote.creditNote.creditNoteCurrency.name}"/>
				</apex:pageBlockSectionItem>
				
				<apex:outputField value="{!viewstate.creditNote.dto.c2g__CreditNoteDescription__c}"/>
			</apex:pageBlockSection>

			<!-- CreditNote Line Items -->
			<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewCreditNoteLineIt}" columns="1">
				<apex:dataTable id="dtLineItems" value="{!viewstate.creditNote.lineItems}" var="lineItem" rowClasses="odd,even" styleClass="list" headerClass="listheader" border="0" onRowMouseOver="if (window.hiOn){hiOn(this);}" onRowMouseOut="if (window.hiOff){hiOff(this);}">
					<apex:column styleClass="widthlinenumbers">
						<apex:facet name="header">&nbsp;</apex:facet>
						<apex:outputPanel styleclass="holder">
							<nobr><apex:outputField value="{!lineItem.dto.c2g__LineNumber__c}"/><a href="#" onclick="CODA.toggleExtraArea('{!$Component.extra}','{!$Component.dtLineItems}',this);return false" title="{!$Label.codaPageCreditNoteViewToggleNotesAndAn}"><apex:image id="expandcollapse" value="/s.gif" width="16" height="16" styleClass="extracollapsed"/></a></nobr>
							<apex:outputPanel layout="block" styleClass="extra" id="extra">
								<apex:outputPanel layout="block" styleClass="headerdetailsview">
									<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewNotesAndAnalysis}" collapsible="false" columns="2">
									<apex:panelGrid width="100%" columns="2" border="0" columnClasses="labelCol first, dataCol first">
											<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__Dimension1__c.label}"/>
											<apex:outputField value="{!lineItem.dto.c2g__Dimension1__c}"/>
											<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__Dimension2__c.label}"/>
											<apex:outputField value="{!lineItem.dto.c2g__Dimension2__c}"/>
											<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__Dimension3__c.label}"/>
											<apex:outputField value="{!lineItem.dto.c2g__Dimension3__c}"/>
											<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__Dimension4__c.label}"/>
											<apex:outputField value="{!lineItem.dto.c2g__Dimension4__c}"/>
									</apex:panelGrid>
									<apex:panelGrid width="100%" columns="2" border="0" columnClasses="labelCol first, dataCol first">
											<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__LineDescription__c.label}"/>
											<apex:outputField value="{!lineItem.dto.c2g__LineDescription__c}"/>
									</apex:panelGrid>		
									</apex:pageBlockSection>
									
									<!-- CUSTOM FIELDS LINE ITEM -->
									<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewAdditionalInformation}" id="customFieldBlock" collapsible="false" columns="2" rendered="{!lineItem.DynamicFieldsInfoTableLI.size > 0}">
										<apex:dataTable id="dtDynamicFieldLineItems" value="{!lineItem.DynamicFieldsInfoTableLI}" var="fieldLI" rowClasses="odd,even" headerClass="listheader" styleClass="list detailListnoPadding" border="0" onRowMouseOver="if (window.hiOn){hiOn(this);}" onRowMouseOut="if (window.hiOff){hiOff(this);}">    
											<apex:column styleClass="widthauto">
												<apex:outputText value="{!fieldLI.DynamicFieldController.dynamicFieldInfo.label}"/>
								            </apex:column>
											<apex:column styleClass="widthauto">
												<!-- 
												The implementation using new feature Dynamic Binding in VF would be much easier, efficient and user friendly. We would not need any custom component
												<apex:repeat value="{!myFieldList}" var="f">
													<apex:outputField value="{!account[f]}"/>
												</apex:repeat>
												 -->
												<c:CODADynamicField m_fieldinfo="{!fieldLI.DynamicFieldController.DynamicFieldInfo}" m_mode="VIEW" m_objectc="codaCreditNoteLineItem__c"/>
									        </apex:column>
								   		</apex:dataTable>
									</apex:pageBlockSection>
								</apex:outputPanel>
							</apex:outputPanel>
						</apex:outputPanel>
					</apex:column>
					<apex:column >
						<apex:facet name="header">{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__Product__c.label}</apex:facet>
						<apex:outputField value="{!lineItem.dto.c2g__Product__c}"/>
					</apex:column>
					<apex:column >
						<apex:facet name="header">{!$ObjectType.product2.fields.ProductCode.label}</apex:facet>
						<apex:outputText value="{!lineItem.ProductCode}"/>
					</apex:column>
					<apex:column styleClass="alignright widthsmall">
						<apex:facet name="header">
							<apex:outputPanel layout="block" styleClass="alignright">{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__Quantity__c.label}</apex:outputPanel>
						</apex:facet>
						<apex:outputField value="{!lineItem.dto.c2g__Quantity__c}"/>
					</apex:column>
					<apex:column styleClass="alignright widthmedium">
						<apex:facet name="header">
							<apex:outputPanel layout="block" styleClass="alignright">{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__UnitPrice__c.label}</apex:outputPanel>
						</apex:facet>
						<apex:outputText value="{!lineItem.UnitPrice}" styleClass="alignright"/>
					</apex:column>
					
					<!-- Below column rendered depending on Tax Method - Sales and Use Tax -->
					
					<apex:column styleClass="widthsmall alignright" rendered="{!viewstate.isSalesAndUse}">
						<apex:facet name="header"><apex:outputPanel layout="block" styleClass="alignright">{!$Label.codaPageCreditNoteViewTaxRate}&nbsp;&nbsp;&nbsp;&nbsp;</apex:outputPanel></apex:facet>
						<apex:outputPanel styleClass="holder">
							<nobr><apex:outputText value="{!lineItem.CompositeTaxRate}"/><a href="#" onclick="CODA.toggleExtraArea('{!$Component.extratax}','{!$Component.dtLineItems}',this);return false" title="{!$Label.codaPageCreditNoteViewToggleTaxRatesAr}"><apex:image id="expandcollapsetax" value="/s.gif" width="16" height="16" styleClass="extracollapsed"/></a></nobr>
							<apex:outputPanel layout="block" styleClass="extra" id="extratax">
							<apex:outputPanel layout="block" styleClass="headerdetails">
								<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewTaxRates}" collapsible="false" columns="1">
								<apex:panelGrid columns="4" border="0" rowClasses="labelheader,none,none,none" columnClasses="labelCol widthauto, widthauto, widthauto alignright, widthmedium alignright">
										
										<apex:outputText value=" "/>
										<apex:outputText value=" "/>
										<apex:outputText value="{!$Label.codaPageCreditNoteViewTaxRate2}"/>
										<apex:outputText value="{!$Label.codaPageCreditNoteViewTaxValue}"/>
										
										
										<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__TaxCode1__c.label}"/>
										<apex:outputPanel ><apex:outputField value="{!lineItem.dto.c2g__TaxCode1__c}" styleClass="analysisdata"/></apex:outputPanel>
										<apex:outputPanel ><apex:outputText value="{!lineItem.TaxRate1FromLine}"/></apex:outputPanel>
										<apex:outputPanel ><apex:outputText value="{!lineItem.TaxValue1WithSymbol}"/></apex:outputPanel>
										
										<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__TaxCode2__c.label}"/>
										<apex:outputPanel ><apex:outputField value="{!lineItem.dto.c2g__TaxCode2__c}" styleClass="analysisdata"/></apex:outputPanel>
										<apex:outputPanel ><apex:outputText value="{!lineItem.TaxRate2FromLine}"/></apex:outputPanel>
										<apex:outputPanel ><apex:outputText value="{!lineItem.TaxValue2WithSymbol}"/></apex:outputPanel>
										
										<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__TaxCode3__c.label}"/>
										<apex:outputPanel ><apex:outputField value="{!lineItem.dto.c2g__TaxCode3__c}" styleClass="analysisdata"/></apex:outputPanel>
										<apex:outputPanel ><apex:outputText value="{!lineItem.TaxRate3FromLine}"/></apex:outputPanel>
										<apex:outputPanel ><apex:outputText value="{!lineItem.TaxValue3WithSymbol}"/></apex:outputPanel>
								</apex:panelGrid>
								
								
								</apex:pageBlockSection>
							</apex:outputPanel>
						</apex:outputPanel>
						</apex:outputPanel>
					</apex:column>
					
					<apex:column rendered="{!viewstate.isVAT}">
						<apex:facet name="header">{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__TaxCode1__c.label}</apex:facet>
						<apex:outputField value="{!lineItem.dto.c2g__TaxCode1__c}"/>
					</apex:column>
					<apex:column styleClass="alignright widthmedium" rendered="{!viewstate.isVAT}">
						<apex:facet name="header">
							<apex:outputPanel layout="block" styleClass="alignright">{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__TaxValue1__c.label}</apex:outputPanel>
						</apex:facet>
						<apex:outputText value="{!lineItem.TaxValue1}" styleClass="alignright"/>
					</apex:column>
					<apex:column styleClass="widthmedium alignright" rendered="{!viewstate.isSalesAndUse}">
						<apex:facet name="header">
							<apex:outputPanel layout="block" styleClass="alignright">{!$ObjectType.c2g__codaInvoiceLineItem__c.fields.c2g__TaxValue1__c.label}</apex:outputPanel>
						</apex:facet>
						<apex:outputText id="taxValueSUT" value="{!lineItem.TaxValueTotalWithSymbol}" styleClass="alignright" />
					</apex:column>
					<apex:column styleClass="alignright widthmedium">
						<apex:facet name="header">
							<apex:outputPanel layout="block" styleClass="alignright">{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__NetValue__c.label}</apex:outputPanel>
						</apex:facet>
						<apex:outputText id="netValue" value="{!lineItem.NetValue}"/>
					</apex:column>
				</apex:dataTable>
			</apex:pageBlockSection>
			<!-- Summary -->
			<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewSummary}" columns="2" collapsible="false">
				<!-- Tax Summary -->
				<apex:outputPanel layout="block" style="margin-top:-15px;margin-left:-10px;">
				<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewTaxSummary}" columns="1" >
					<apex:dataTable id="dtTaxSummary" value="{!viewstate.creditNote.taxSummaryItems}" var="taxSummary" rowClasses="odd,even" headerClass="listheader" styleClass="list detailListnoPadding" border="0" onRowMouseOver="if (window.hiOn){hiOn(this);}" onRowMouseOut="if (window.hiOff){hiOff(this);}">
						<apex:column styleClass="widthmed">
							<apex:facet name="header">
								<apex:outputPanel layout="block">{!viewstate.creditNote.TaxSummaryTaxCodeHeading}</apex:outputPanel>
							</apex:facet>
							<apex:outputText value="{!taxSummary.TaxCode}"/>
						</apex:column>
						
						<!-- Below column rendered depending on Tax Method - Sales and Use Tax -->
						<apex:column styleClass="widthmed alignright" headerclass="alignright" rendered="{!viewstate.isVat}">
						<apex:facet name="header">
								<apex:outputPanel layout="block">{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__TaxRate1__c.label}</apex:outputPanel>
							</apex:facet>
							<apex:outputText value="{!taxSummary.TaxRate}"/>
						</apex:column>
						
						<apex:column styleClass="widthmed alignright" rendered="{!viewstate.isVat}">
							<apex:facet name="header">
								<apex:outputPanel layout="block" styleClass="alignright">{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__NetValue__c.label}</apex:outputPanel>
							</apex:facet>
							<apex:outputText value="{!taxSummary.NetValue}"/>
						</apex:column>
						<apex:column styleClass="widthmed alignright">
							<apex:facet name="header">
								<apex:outputPanel layout="block" styleClass="alignright">{!$ObjectType.c2g__codaCreditNoteLineItem__c.fields.c2g__TaxValue1__c.label}</apex:outputPanel>
							</apex:facet>
							<apex:outputText value="{!taxSummary.TaxValue}"/>
						</apex:column>
					</apex:dataTable>
				</apex:pageBlockSection>
				</apex:outputPanel>
				<apex:panelGrid columns="2" border="0" width="100%" styleClass="detailList detailListnoPadding" columnClasses="labelCol widthauto,dataCol alignright widthmedium">
					<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNote__c.fields.c2g__NetTotal__c.label}"/>
					<apex:outputText id="netTotal" value="{!viewstate.creditNote.NetTotal}"/>
					<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNote__c.fields.c2g__TaxTotal__c.label}"/>
					<apex:outputText id="taxTotal" value="{!viewstate.creditNote.TaxTotal}"/>
					<apex:outputLabel value="{!$ObjectType.c2g__codaCreditNote__c.fields.c2g__CreditNoteTotal__c.label}"/>
					<apex:outputText id="cnTotal" value="{!viewstate.creditNote.CreditNoteTotal}"/>
				</apex:panelGrid>
			</apex:pageBlockSection>
			
			<!-- CreditNote Status -->
			<apex:pageBlockSection title="{!$Label.codaPageCreditNoteViewCreditNoteStatus}">
				<apex:outputField value="{!viewstate.creditNote.dto.c2g__CreditNoteStatus__c}"/>
				<apex:outputField value="{!viewstate.creditNote.dto.c2g__DiscardReason__c}"/>
			</apex:pageBlockSection>
			
			<!-- Start Edit -->
			
			<apex:pageBlockSection columns="1" title="{!$Label.codaPageCreditNoteViewPrintedText}" id="printedTextBlock">
				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText1Panel}"> 
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewTextDef1}"/>
						<apex:outputText id="textDefName1" value="{!viewState.creditNote.dto.c2g__PrintedText1TextDefinitionName__c}" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText1Panel}"> 
					<apex:outputLabel id="heading1Label" value="{!$Label.codaPageCreditNoteViewHeading}" style="{!viewState.creditNote.DisabledPrintedText1Style}"/>
						<apex:outputText id="heading1" value="{!viewstate.creditNote.dto.c2g__PrintedText1Heading__c}" />
				</apex:pageBlockSectionItem>		
					<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText1Panel}">
						<apex:outputLabel id="text1Label" value="{!$Label.codaPageCreditNoteViewText}" style="{!viewState.creditNote.DisabledPrintedText1Style}"/>
						<apex:repeat value="{!viewstate.creditNote.textdefvalue1}" var="textdefvalue1">
							<apex:outputText value="{!textdefvalue1}"/><br/>
						</apex:repeat>	
					</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem />
			

				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText2Panel}"> 
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewTextDef2}"/>
						<apex:outputText id="textDefName2" value="{!viewState.creditNote.dto.c2g__PrintedText2TextDefinitionName__c}" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText2Panel}"> 
					<apex:outputLabel id="heading2Label" value="{!$Label.codaPageCreditNoteViewHeading}" style="{!viewState.creditNote.DisabledPrintedText2Style}"/>
						<apex:outputText id="heading2" value="{!viewstate.creditNote.dto.c2g__PrintedText2Heading__c}" />
				</apex:pageBlockSectionItem>		
					<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText2Panel}">
						<apex:outputLabel id="text2Label" value="{!$Label.codaPageCreditNoteViewText}" style="{!viewState.creditNote.DisabledPrintedText2Style}"/>
						<apex:repeat value="{!viewstate.creditNote.textdefvalue2}" var="textdefvalue2">
							<apex:outputText value="{!textdefvalue2}"/><br/>
						</apex:repeat>	
					</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem />
			

				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText3Panel}"> 
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewTextDef3}"/>
						<apex:outputText id="textDefName3" value="{!viewState.creditNote.dto.c2g__PrintedText3TextDefinitionName__c}" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText3Panel}"> 
					<apex:outputLabel id="heading3Label" value="{!$Label.codaPageCreditNoteViewHeading}" style="{!viewState.creditNote.DisabledPrintedText3Style}"/>
						<apex:outputText id="heading3" value="{!viewstate.creditNote.dto.c2g__PrintedText3Heading__c}" />
				</apex:pageBlockSectionItem>		
					<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText3Panel}">
						<apex:outputLabel id="text3Label" value="{!$Label.codaPageCreditNoteViewText}" style="{!viewState.creditNote.DisabledPrintedText3Style}"/>
						<apex:repeat value="{!viewstate.creditNote.textdefvalue3}" var="textdefvalue3">
							<apex:outputText value="{!textdefvalue3}"/><br/>
						</apex:repeat>	
					</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem />
			

				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText4Panel}"> 
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewTextDef4}"/>
						<apex:outputText id="textDefName4" value="{!viewState.creditNote.dto.c2g__PrintedText4TextDefinitionName__c}" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText4Panel}"> 
					<apex:outputLabel id="heading4Label" value="{!$Label.codaPageCreditNoteViewHeading}" style="{!viewState.creditNote.DisabledPrintedText4Style}"/>
						<apex:outputText id="heading4" value="{!viewstate.creditNote.dto.c2g__PrintedText4Heading__c}" />
				</apex:pageBlockSectionItem>		
					<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText4Panel}">
						<apex:outputLabel id="text1Label" value="{!$Label.codaPageCreditNoteViewText}" style="{!viewState.creditNote.DisabledPrintedText4Style}"/>
						<apex:repeat value="{!viewstate.creditNote.textdefvalue4}" var="textdefvalue4">
							<apex:outputText value="{!textdefvalue4}"/><br/>
						</apex:repeat>	
					</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem />
			

				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText5Panel}"> 
					<apex:outputLabel value="{!$Label.codaPageCreditNoteViewTextDef5}"/>
						<apex:outputText id="textDefName5" value="{!viewState.creditNote.dto.c2g__PrintedText5TextDefinitionName__c}" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText5Panel}"> 
					<apex:outputLabel id="heading5Label" value="{!$Label.codaPageCreditNoteViewHeading}" style="{!viewState.creditNote.DisabledPrintedText5Style}"/>
						<apex:outputText id="heading5" value="{!viewstate.creditNote.dto.c2g__PrintedText5Heading__c}" />
				</apex:pageBlockSectionItem>		
					<apex:pageBlockSectionItem rendered="{!viewstate.creditNote.showPrintedText5Panel}">
						<apex:outputLabel id="text5Label" value="{!$Label.codaPageCreditNoteViewText}" style="{!viewState.creditNote.DisabledPrintedText5Style}"/>
						<apex:repeat value="{!viewstate.creditNote.textdefvalue5}" var="textdefvalue5">
							<apex:outputText value="{!textdefvalue5}"/><br/>
						</apex:repeat>	
					</apex:pageBlockSectionItem>

					
			</apex:pageBlockSection>
			
			<!-- End Edit -->
			<script>
				CODA.twistPageBlockSection("{!$Component.printedTextBlock}");
			</script>
			
		</apex:pageBlock>
		<script>
			CODA.setExpanderIconState('view');
		</script>
	</apex:form>

	<!-- Notes and Attachments, Open Activities, Activity Histories -->    
	<apex:relatedList list="NotesAndAttachments"/>    
	<apex:relatedList list="OpenActivities"/>    
	<apex:relatedList list="ActivityHistories"/>    	
    <!-- Payment Details -->
	<apex:form onsubmit="if(CODA2GoButtons.disableSaveButtons){ return CODA2GoButtons.disableSaveButtons(); }">
	<apex:pageBlock title="{!$Label.codaPageCreditNoteViewPaymentDetails}">
       <apex:pageBlockSection >
       <apex:pageBlockSectionItem >
            <apex:outputLabel value="{!$ObjectType.c2g__codaCreditNote__c.fields.c2g__PaymentStatus__c.label}"/>
  			<apex:outputText value="{!viewstate.creditNote.PaymentStatus}"/>
         </apex:pageBlockSectionItem> 
         <apex:pageBlockSectionItem >
           <apex:outputLabel value="{!$ObjectType.c2g__codaCreditNote__c.fields.c2g__OutstandingValue__c.label}"/>
			<apex:outputField value="{!viewstate.creditNote.dto.c2g__OutstandingValue__c}" styleClass="alignright"/>
       </apex:pageBlockSectionItem>
		 </apex:pageBlockSection>
		</apex:pageBlock>
		<script>
			CODA.setExpanderIconState('view');
		</script>
     </apex:form>

		<!-- Event Log -->
	<apex:relatedList list="EventLogs__r" rendered="{!viewstate.creditNote.showEventLog}"/>
</apex:page>