<apex:page controller="Vertex_Berry.BSureC_CustomerList" showHeader="true" sidebar="false" id="pgCustList">
    <apex:form id="frmCustList">
        <style>
            .homeTab .tertiaryPalette {            
                border-color: #35B4E9 !important;
            } 
            .pageHeader
            { 
                font-size:185%;             
            }          
        </style>
        <script>
            var sAdvCustName = '';
            //var sCustCatg = '';
            var sCustZone = '';
            var sCustSubZone = '';
            var sCustCountry = '';
            var sCustState = '';
            var sNextRevStartDate = '';
            var sNextRevEndDate = '';
            var sLastRevStartDate = '';
            var sLastRevEndDate = '';
            var sSpendFrom = '';
            var sSpendUpto = '';
            var bZeroChecked = '';
            var bOneChecked = '';
            var bTwoChecked = '';
            var bThreeChecked = '';
            var bFourChecked = '';
            var bFiveChecked = '';
            var bSevenChecked = '';
            var bStarted = '';
            var bScheduled = '';
            var bOverdue = '';
            var bPendApproval = '';
            var sRiskLevel = '';
            var sStatus = '';
            var sHiddenRisk = '';
            var sHiddenStatus = '';
             
            window.onload = function() {
                var supText=document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').value;
                if(supText=='')
                {
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').value='Start typing your Customer Name';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.font='italic 12px arial,serif';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.color='#848484';
                }
            };
            
            function funDefaultClear()
            {
                var supText=document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').value;
                if(supText=='Start typing your Customer Name')
                {
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').value='';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.font='';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.color='';
                }
            }
        
            function funDefaultText()
            {
                var supText=document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').value;
                if(supText=='')
                {
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').value='Start typing your Customer Name';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.font='italic 12px arial,serif';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.color='#848484';
                }
            }       
            
            function funFormatText()
            {
                var supText=document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').value;
                if(supText=='Start typing your Customer Name')
                {
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').value='Start typing your Customer Name';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.font='italic 12px arial,serif';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.color='#848484';
                }
                else if(supText=='')
                {
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').value='Start typing your Customer Name';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.font='italic 12px arial,serif';
                    document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection:pbCustSecItem:CustomerName').style.color='#848484';
                }
            }
            
            function isValidDate(subject)
            {
                //alert('Date Length ' + subject.length);
                if(subject.length == 8 || subject.length == 9)
                {
                    if (subject.match(/^(?:([1-9]|1[012])[\- \/.]([1-9]|[12][0-9]|3[01])[\- \/.](19|20)[0-9]{2})$/))
                    {
                        return true;
                    }
                    else
                    {
                        return false;
                    }
                }
                else
                {
                    if (subject.match(/^(?:(0[1-9]|1[012])[\- \/.]([1-9]|[12][0-9]|3[01])[\- \/.](19|20)[0-9]{2})$/))
                    {
                        return true;
                    }
                    else
                    {
                        return false;
                    }
                }
            }
            
            function compareDates(startDate,endDate) 
            {
                startDate = FormatDate(startDate);
                endDate = FormatDate(endDate);
                
                var startDay,endDay;
                var startMonth,endMonth;
                var startYear,endYear;
                   
                startMonth=startDate.substring (0, 2);
                startDay=startDate.substring (3,5);
                startYear=startDate.substring (6, startDate.length);
        
                endMonth=endDate.substring (0, 2);
                endDay=endDate.substring (3,5)
                endYear=endDate.substring (6, endDate.length);
        
                var startDate =new Date(startYear,startMonth,startDay);
                var endDate =new Date(endYear,endMonth,endDay);
                    
                var one_day=1000*60*60*24
                var daysDiff = Math.ceil((endDate.getTime()-startDate.getTime())/(one_day));
                //alert('DaysDiff ' + daysDiff);
                return daysDiff;        
            }
            
            function FormatDate(MyDate)
            {
                var MyDateString;
                MyDate = new Date(MyDate);
                MyDate.setDate(MyDate.getDate() + 20);
                
                MyDateString = ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                             + ('0' + MyDate.getDate()).slice(-2) + '/'
                             + MyDate.getFullYear();
                return MyDateString;
            }
            
            function isValidCurrency(sSpend) 
            {
                if(sSpend.match(/(?:^\d{1,3}(?:\.?\d{2})*(?:,\d{2})?$)|(?:^\d{1,3}(?:,?\d{3})*(?:\.\d{2})?$)/))
                {
                    return true;
                }
                else
                {
                    return false;
                }
            }
            
            function ConfirmDelete(custID)
            {
                //alert('custID-- ' + custID);
                if(confirm('Are You Sure?') == true)
                {   
                    DeleteCustomerInfo(custID);
                }
                else 
                {
                    return false;
                }
            } 
            
            function FetchAdvSearchResults()
            {
                if(sSpendFrom != null)
                {
                    if(sSpendFrom.value != '' && sSpendFrom.value != '0.0' && !isValidCurrency(sSpendFrom.value)) {
                        alert('Please enter valid Credit Limit From');
                        sSpendFrom.focus();
                        return false;
                    }
                }
                if(sSpendUpto != null)
                {
                    if(sSpendUpto.value != '' && sSpendUpto.value != '0.0' && !isValidCurrency(sSpendUpto.value)) {
                        alert('Please enter valid Credit Limit To');
                        sSpendUpto.focus();
                        return false;
                    }
                }
                if(sSpendUpto != null && sSpendFrom != null) {
                    if(sSpendFrom.value != '' && sSpendUpto.value != '')
                    {
                        var SpendTo = sSpendUpto.value;
                        var SpendFrom = sSpendFrom.value;
                        while(SpendTo.indexOf(',') > 0)
                        {
                            SpendTo = SpendTo.replace(',','');
                        }
                        while(SpendFrom.indexOf(',') > 0)
                        {
                            SpendFrom = SpendFrom.replace(',','');
                        }
                        if(parseInt(SpendTo) < parseInt(SpendFrom))
                        {
                            alert('Please enter Credit Limit From less than Credit Limit To');
                            sSpendFrom.focus();
                            return false;
                        }
                    }
                }
                
                if(sNextRevStartDate.value != '' && !isValidDate(sNextRevStartDate.value)){
                    alert('Please enter valid Future Review From Date');
                    sNextRevStartDate.focus();
                    return false;
                }
                if(sNextRevEndDate.value != '' && !isValidDate(sNextRevEndDate.value)){
                    alert('Please enter valid Future Review To Date');
                    sNextRevEndDate.focus();
                    return false;
                }
                if(sNextRevStartDate.value != '' && sNextRevEndDate.value != '')
                {
                    if(parseInt(compareDates(sNextRevStartDate.value,sNextRevEndDate.value)) < 0)
                    {
                        alert('Please enter Future Review To Date greater than Future Review From Date');
                        sNextRevEndDate.focus();
                        return false;
                    }
                }
                
                if(sLastRevStartDate.value != '' && !isValidDate(sLastRevStartDate.value)){
                    alert('Please enter valid Review Completed From Date');
                    sLastRevStartDate.focus();
                    return false;
                }
                if(sLastRevEndDate.value != '' && !isValidDate(sLastRevEndDate.value)){
                    alert('Please enter valid Review Completed To Date');
                    sLastRevEndDate.focus();
                    return false;
                }
                if(sLastRevStartDate.value != '' && sLastRevEndDate.value != '')
                {
                    if(parseInt(compareDates(sLastRevStartDate.value,sLastRevEndDate.value)) < 0)
                    {
                        alert('Please enter Review Completed To Date greater than Review Completed From Date');
                        sLastRevEndDate.focus();
                        return false;
                    }
                }
                if(bZeroChecked != null) {
                    if(bZeroChecked.checked){
                        sRiskLevel += '000,';
                    }
                    if(bOneChecked.checked){
                        sRiskLevel += '001,';
                    }
                    if(bTwoChecked.checked){
                        sRiskLevel += '002,';
                    }
                    if(bThreeChecked.checked){
                        sRiskLevel += '003,';
                    }
                    if(bFourChecked.checked){
                        sRiskLevel += '004,';
                    }
                    if(bFiveChecked.checked){
                        sRiskLevel += '005,';
                    }
                    if(bSevenChecked.checked){
                        sRiskLevel += '007,';
                    }
                    //alert('Rating Selected' + sRiskLevel);
                    sHiddenRisk.value = sRiskLevel;
                    sRiskLevel = '';
                }
                if(bStarted.checked) {
                    sStatus += 'Started,';
                }
                if(bScheduled.checked) {
                    sStatus += 'Scheduled,';
                }
                if(bOverdue.checked) {
                    sStatus += 'Overdue,';
                }
                if(bPendApproval.checked) {
                    sStatus += 'Pending Approval,';
                }
                sHiddenStatus.value = sStatus;
                //alert('Status ' + sStatus);
                sStatus = '';
                
                FetchSearchResults();
            }

            function ClearFields()
            {
                if(sSpendUpto != null && sSpendFrom != null) {
                    sSpendFrom.value = '';
                    sSpendUpto.value = '';
                }
                sNextRevStartDate.value = '';
                sNextRevEndDate.value = '';
                sLastRevStartDate.value = '';
                sLastRevEndDate.value = '';
                if(bZeroChecked != null) {
                    bZeroChecked.checked = false;
                    bOneChecked.checked = false;
                    bTwoChecked.checked = false;
                    bThreeChecked.checked = false;
                    bFourChecked.checked = false;
                    bFiveChecked.checked = false;
                    bSevenChecked.checked = false;
                    sHiddenRisk.value = '';
                }
                bStarted.checked = false;
                bScheduled.checked = false;
                bOverdue.checked = false;
                bPendApproval.checked = false;
                sHiddenStatus.value = '';
                //sCustCatg.selectedIndex = 0;
                sCustZone.selectedIndex = 0;
                
                ClearFunction();
            }
            
            function ClearCheckBoxes()
            {
            	if(bZeroChecked != null) {
                    bZeroChecked.checked = false;
                    bOneChecked.checked = false;
                    bTwoChecked.checked = false;
                    bThreeChecked.checked = false;
                    bFourChecked.checked = false;
                    bFiveChecked.checked = false;
                    bSevenChecked.checked = false;
                    sHiddenRisk.value = '';
                }
                bStarted.checked = false;
                bScheduled.checked = false;
                bOverdue.checked = false;
                bPendApproval.checked = false;
                sHiddenStatus.value = '';
            }
            
            function ResetCountry()
            {
                var countryLen = sCustCountry.options.length;
                for(var i=0; i< countryLen ; i++)
                {
                    sCustCountry.options[0] = null;                 
                }
            }
            
            function ResetState()
            {
                var statesLen = sCustState.options.length;
                for(var i=0; i< statesLen ; i++)
                {
                    sCustState.options[0] = null;                   
                }
            }
            
            function hideAdvSearch() 
            {
                if(document.getElementById('pgCustList:frmCustList:pbCustomer:pbAdvSearch') != null)
                {
                    twistSection(document.getElementById('pgCustList:frmCustList:pbCustomer:pbAdvSearch').childNodes[0].childNodes[0]);
                    //twistSection(document.getElementById('pgCustList:frmCustList:pbCustomer:pbCustSection').childNodes[0].childNodes[0]);
                }
            }
            
            function removeSerchbox()
            {  
                var a = [];
                var re = new RegExp('\\bsearchCell\\b');
                var els =document.getElementsByTagName("td");
                for(var i=0,j=els.length; i<j; i++)
                    if(re.test(els[i].className))
                        a.push(els[i]);
                var parent=a[0];
                parent.style.display='none';
            } 
            
            var oldonload = window.onload;
            if (typeof window.onload != 'function')
            {     
                window.onload = oldonload;
            }
            else
            {  
                window.onload = function() 
                {     
                    if(oldonload) 
                    {      
                        oldonload(); 
                    }    
                    removeSerchbox();
                    hideAdvSearch();
                }  
            } 
     	</script>
        <apex:pageBlock id="pbCustomer" mode="maindetail">
            <apex:outputPanel >
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr height="12px"></tr>
                    <tr>
                        <td valign="bottom" height="40px">
                            <apex:image value="../resource/Vertex_berry__BSureC_Logo" width="32" height="32" style="padding-left:5px;"/>
                        </td>
                        <td width="3px"></td>
                        <td valign="top">
                            <apex:outputLabel styleClass="pageHeader" value="Customer Information"/>
                        </td>
                    </tr>
                </table>
            </apex:outputPanel>
            <center>
                <apex:panelGrid rendered="{!showNewBtn}" >
                    <input type="button" value="Add New Customer" class="btn" onclick="CreateCustomer()" />
                </apex:panelGrid>               
            </center>
            
            <apex:pageBlockSection title="Search by Customer Name" columns="3" id="pbCustSection">
                <apex:pageBlockSectionItem id="pbCustSecItem">
                    <apex:outputPanel >
                        <apex:inputText id="CustomerName"  value="{!strCustomerName}" maxlength="100" style="height:100%; width:80%;" onClick="javascript:funDefaultClear();" onblur="javascript: funDefaultText();">
                            <c:BSureC_SecureAutoComplete autocomplete_textbox="{!$Component.CustomerName}" objectname="Vertex_Berry__BSureC_Customer_Basic_Info__c" additionalfield="Name" adnlQuery="{!JSENCODE(strQueryParam)}"/>
                        </apex:inputText>
                        <apex:commandButton value="Search" action="{!getSearchResults}"></apex:commandButton>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
               <!--  <apex:pageBlockSectionItem >
                    <apex:outputPanel rendered="{!!showNewBtn}" > 
                        <apex:outputLabel style="font-weight:bold; " value="View: " rendered="{!!showNewBtn}" />
                    
                        <apex:selectList value="{!strAnalystChoice}" id="ddAnalystChoice" style="align: left;"  
                            size="1" >
                            <apex:selectOptions value="{!lstAnalystChoice}" id="lstChoices" />
                            <apex:actionSupport status="pleasewait" reRender="frmCustList" event="onchange" action="{!getCustomCustomerList}" oncomplete="hideAdvSearch();"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem> -->
                <apex:pageBlockSectionItem >
                    <apex:outputPanel id="out" rendered="{!!showNewBtn}">
                        <apex:actionStatus id="pleasewait" layout="block" style="height: 15px;">
                            <apex:facet name="start">
                                <img src="{!$Resource.Vertex_Berry__AjaxAnimation}"><span style="font-weight: bold; color:black;">Loading.. Please wait...</span></img>
                            </apex:facet> 
                        </apex:actionStatus>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
           <!--  <apex:pageBlockSection title="Advanced Search" columns="1" id="pbAdvSearch" rendered="{!showToVisitor}">
                <apex:pageBlockSectionItem id="pbCustSecItem" >
                    <apex:outputPanel >
                        <apex:inputHidden id="RiskLevelHidden" value="{!strRiskLevel}"/>
                        <apex:inputHidden id="StatusHidden" value="{!strReviewStatus}"/>
                        <table border="0" cellspacing="0" cellpadding="0" width="1200" >
                            <tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                            <tr height="25px">
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BSureC_CustomerName} "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:outputPanel >
                                        <apex:inputText id="advCustomerName"  value="{!strAdvCustomerName}" maxlength="100" style="height:100%; width:80%;">
                                            <c:BSureC_SecureAutoComplete autocomplete_textbox="{!$Component.advCustomerName}" objectname="BSureC_Customer_Basic_Info__c" additionalfield="Name" adnlQuery="{!JSENCODE(strQueryParam)}"/>
                                        </apex:inputText>
                                    </apex:outputPanel>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-top-width:1px;border-top-style:solid;">&nbsp;</td>
                            </tr>
                            <tr height="25px">
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BSureC_Zone} "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:selectList value="{!strCustomerZone}" id="SZid" size="1" style="width:80%"> 
                                        <apex:selectOptions value="{!lstCZones}" />  
                                        <apex:actionSupport reRender="SSZid,SCid,CustomerState,Regions" event="onchange" oncomplete="ResetState(),ResetCountry()"/>
                                    </apex:selectList> 
                                </td>
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BSureC_SubZone} "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:selectList value="{!strCustomerSubZone}" id="SSZid" size="1" style="width:80%"> 
                                        <apex:selectOptions value="{!SubZoneList}" />  
                                        <apex:actionSupport reRender="SCid,CustomerState,Regions" event="onchange"  oncomplete="ResetState();"/>
                                    </apex:selectList>
                                </td>
                            </tr>
                            <tr height="25px">
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BSureC_Country} "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:selectList value="{!strCustomerCountry}" id="SCid" size="1" style="width:80%"> 
                                        <apex:selectOptions value="{!CountriesList}" />  
                                        <apex:actionSupport reRender="CustomerState,Regions" event="onchange"  />
                                    </apex:selectList> 
                                </td>
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BSureC_State} "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:selectList value="{!strCustomerState}" id="CustomerState" size="1" style="width:80%"> 
                                        <apex:selectOptions value="{!StateList}" />  
                                    </apex:selectList> 
                                </td>                       
                            </tr>
                            <apex:outputPanel id="Regions" >
                                <script>
                                    sCustZone = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:SZid}');
                                    sCustSubZone = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:SSZid}');
                                    sCustCountry = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:SCid}');
                                    sCustState = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:CustomerState}');
                                </script>
                            </apex:outputPanel>
                            <tr>
                                <td colspan="4" style="border-top-width:1px;border-top-style:solid;">&nbsp;</td>
                            </tr>
                            <tr height="25px">
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BSureC_CreditLimit} From: "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:inputText id="SpendFrom"  value="{!dSpendFrom}" style="width:80%;"  />
                                </td>
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="To: "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:inputText id="SpendTo"  value="{!dSpendTo}" style="width:80%;"  />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-top-width:1px;border-top-style:solid;">&nbsp;</td>
                            </tr>
                            <tr height="25px">
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BSureC_Future_Review_Date} From: "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:inputtext id="NextRevFromDate" value="{!strNextRevFromDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:55%;" />
                                    <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!strTodayDate}', '{!$Component.NextRevFromDate}', true);">{!strTodayDate} </a>&nbsp;]</span>
                                </td>
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="To: "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:inputtext id="NextRevToDate" value="{!strNextRevToDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:55%;" />
                                    <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!strTodayDate}', '{!$Component.NextRevToDate}', true);">{!strTodayDate} </a>&nbsp;]</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-top-width:1px;border-top-style:solid;">&nbsp;</td>
                            </tr>
                            <tr height="25px">
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BSureC_Review_Completed_Date} From: "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:inputtext id="LastRevFromDate" value="{!strLastRevFromDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:55%;" />
                                    <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!strTodayDate}', '{!$Component.LastRevFromDate}', true);">{!strTodayDate} </a>&nbsp;]</span>
                                </td>
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="To: "></apex:outputLabel>
                                </td>
                                <td width="30%" align="left">
                                    <apex:inputtext id="LastRevToDate" value="{!strLastRevToDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:55%;" />
                                    <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!strTodayDate}', '{!$Component.LastRevToDate}', true);">{!strTodayDate} </a>&nbsp;]</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-top-width:1px;border-top-style:solid;">&nbsp;</td>
                            </tr>
                            <tr height="25px">
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BsureC_Risk_Category} "></apex:outputLabel>
                                </td>
                                <td align="left" colspan="3" >
                                    <apex:inputCheckbox id="ZeroRisk" />
                                    <apex:image id="theAImage" value="{!$Resource.BSureC_R000}" />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <apex:inputCheckbox id="OneRisk" />
                                    <apex:image id="theBImage" value="{!$Resource.BSureC_R001}" />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <apex:inputCheckbox id="TwoRisk"/>
                                    <apex:image id="theCImage" value="{!$Resource.BSureC_R002}" />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <apex:inputCheckbox id="ThreeRisk"/>
                                    <apex:image id="theDImage" value="{!$Resource.BSureC_R003}" />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <apex:inputCheckbox id="FourRisk" />
                                    <apex:image id="theFImage" value="{!$Resource.BSureC_R004}" />                                      
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <apex:inputCheckbox id="FiveRisk" />
                                    <apex:image id="theGImage" value="{!$Resource.BSureC_005Img}" />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <apex:inputCheckbox id="SevenRisk" />
                                    <apex:image id="theHImage" value="{!$Resource.BSureC_007Img}" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-top-width:1px;border-top-style:solid;">&nbsp;</td>
                            </tr>
                            <tr height="25px">
                                <td width="20%" align="right" style="padding-right:20px;" class="labelCol  first ">
                                    <apex:outputLabel value="{!$Label.BsureC_Review_Done_Review_Status} "></apex:outputLabel>
                                </td>
                                <td align="left" colspan="3" >
                                    <apex:outputPanel id="StatusCheckBoxes">
                                        <apex:inputCheckbox id="Started" />
                                        <apex:outputLabel styleClass="labelCol" style="font-size:125%" id="lblStarted" value="Started" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <apex:inputCheckbox id="Scheduled" />
                                        <apex:outputLabel styleClass="labelCol" style="font-size:125%" id="lblScheduled" value="Scheduled" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <apex:inputCheckbox id="Overdue" />
                                        <apex:outputLabel styleClass="labelCol" style="font-size:125%" id="lblOverdue" value="Overdue" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <apex:inputCheckbox id="PendingApproval" />
                                        <apex:outputLabel styleClass="labelCol" style="font-size:125%" id="lblPndgApproval" value="Pending Approval" />
                                    </apex:outputPanel>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-top-width:1px;border-top-style:solid;">&nbsp;</td>
                            </tr>
                            <tr height="25px">
                                <td align="center" colspan="4">
                                    <input type="button" value="Search" class="btn" onclick="FetchAdvSearchResults()" />                            
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="button" value="Reset" class="btn" onclick="ClearFields()"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-top-width:1px;border-top-style:solid;">&nbsp;</td>
                            </tr>                           
                        </table>
                        <script>
                            sAdvCustName = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:advCustomerName}');
                            //sCustCatg = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:SCat}'); 
                            sNextRevStartDate = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:NextRevFromDate}');
                            sNextRevEndDate = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:NextRevToDate}');
                            sLastRevStartDate = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:LastRevFromDate}');
                            sLastRevEndDate = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:LastRevToDate}');
                            sSpendFrom = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:SpendFrom}');
                            sSpendUpto = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:SpendTo}');
                            bZeroChecked = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:ZeroRisk}');
                            bOneChecked = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:OneRisk}');
                            bTwoChecked = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:TwoRisk}');
                            bThreeChecked = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:ThreeRisk}');
                            bFourChecked = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:FourRisk}');
                            bFiveChecked = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:FiveRisk}');
                            bSevenChecked = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:SevenRisk}');
                            bStarted = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:Started}');
                            bScheduled = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:Scheduled}');
                            bOverdue = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:Overdue}');
                            bPendApproval = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:PendingApproval}');
                            sHiddenRisk = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:RiskLevelHidden}');
                            sHiddenStatus = document.getElementById('{!$Component.pgCustList:frmCustList:pbCustomer:pbAdvSearch:pbCustSecItem:StatusHidden}');
                        </script>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>                

            </apex:pageBlockSection> -->
            
            <!--<center>
                <apex:panelGrid >
                <c:BSureC_SearchByLetter id="cLetterSearch"></c:BSureC_SearchByLetter>
                </apex:panelGrid>                 
                </center>-->

 			<center>
	            <div style="align:right;">
		            <apex:repeat value="{!searchChar}" var="a"> 
						<apex:commandlink value="{!a}" action="{!SearchByLetter}"  rerender="pbCustomer" style="{!if($CurrentPage.parameters.alpha=a,'font-weight:bold','')}" oncomplete="ClearCheckBoxes();hideAdvSearch();funFormatText();" >
			            	<apex:param name="alpha" value="{!a}"/>
			            </apex:commandlink> 
		            	&nbsp;|&nbsp;&nbsp;          
		            </apex:repeat>     
	            </div>  
            </center>        
                        
            <font color="red"><br></br>          
                <apex:outputText rendered="{!(objCustomerList.size = 0)}" styleClass="msg"
                    value="There are no Customers to display." style="Padding-left:50px;"  />
            </font>
            <div align="right" style="display:{!IF((NOT(ISNULL(totalListSize)) && totalListSize != 0),'block','none')}">
                <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
                <font size="1pt">Results&nbsp;<apex:outputLabel value="{!IF(objCustomerController.PageNumber == 1,1,((objCustomerController.PageNumber -1) * objCustomerController.PageSize)+1)}"/>&nbsp;to
                    &nbsp;<apex:outputLabel value="{!IF(objCustomerController.resultSize < objCustomerController.PageSize,objCustomerController.resultSize,objCustomerController.PageNumber * objCustomerController.pageSize)}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalListSize}"/>&nbsp;&nbsp;</font>
                <apex:commandButton value="First" action="{!first}" disabled="{!previousButtonEnabled}" reRender="pbCustomer" oncomplete="hideAdvSearch();funFormatText();"></apex:commandButton>
                <apex:commandButton value="<< Previous" action="{!previous}" disabled="{!previousButtonEnabled}" reRender="pbCustomer" oncomplete="hideAdvSearch();funFormatText();"></apex:commandButton>
                <apex:commandButton value="Next >>" action="{!next}"  disabled="{!nextButtonDisabled}" reRender="pbCustomer" oncomplete="hideAdvSearch();funFormatText();"></apex:commandButton>
                <apex:commandButton value="Last" action="{!last}"  disabled="{!nextButtonDisabled}" reRender="pbCustomer" oncomplete="hideAdvSearch();funFormatText();"></apex:commandButton>&nbsp;&nbsp;
            </div>
            <apex:outputpanel style="width:100%;" layout="block" >
            
            <apex:pageBlockTable rendered="{!!(objCustomerList.size = 0)}"  value="{!objCustomerList}" var="Customer" id="pbCustTable" >
                <apex:column style="width:5%" rendered="{!showNewBtn}">
                    <apex:facet name="header">
                        <apex:outputLabel value="Action" style="text-decoration:none" />
                    </apex:facet>
                    <apex:commandLink onclick="javascript:ConfirmDelete('{!Customer.Id}');" 
                        reRender="pbCustTable" style="text-decoration:none" >Del</apex:commandLink>
                </apex:column>
                <apex:column style="width:18%">
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="Customer Name" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='Name',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='Name',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="Name" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputLink value="/apex/BSureC_ViewCustomerDetails?id={!Customer.Id}">{!Customer.Name}</apex:outputLink>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="Analyst Name" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='Analyst_Name__c',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='Analyst_Name__c',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="Analyst_Name__c" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!Customer.Vertex_Berry__Analyst_Name__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="Credit Account" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='Credit_Account__c',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='Credit_Account__c',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="Credit_Account__c" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!Customer.Vertex_Berry__Credit_Account__c}"/>
                </apex:column>
                <!-- <apex:column rendered="{!showToVisitor}">
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="Risk Category" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='Risk_Category__c',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='Risk_Category__c',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="Risk_Category__c" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!Customer.Risk_Category_Type__c}"/>
                </apex:column> -->
                <apex:column >
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="Review Status" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='Review_Status__c',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='Review_Status__c',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="Review_Status__c" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!Customer.Vertex_Berry__Review_Status__c}"/>
                </apex:column>
                <!-- <apex:column >
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="Future Review Date" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='Next_Review_Date__c',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='Next_Review_Date__c',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="Next_Review_Date__c" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!Customer.Next_Review_Date__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="Review Completed Date" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='Review_Complete_Date__c',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='Review_Complete_Date__c',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="Review_Complete_Date__c" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!Customer.Review_Complete_Date__c}"/>
                </apex:column>
                <apex:column rendered="{!showToVisitor}">
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="Credit Limit" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='Credit_Limit__c',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='Credit_Limit__c',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="Credit_Limit__c" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!Customer.Credit_Limit__c}"/>
                </apex:column> -->
               
                <apex:column >
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="City" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='City__c',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='City__c',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="City__c" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!Customer.Vertex_Berry__City__c}"/>
                </apex:column>                
                <apex:column >
                    <apex:facet name="header">
                        <apex:commandLink action="{!SortData}" value="State / Province" 
                            style="text-decoration:none" >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),
                                IF(sortExpression=='State_Province__c',true,false))}" styleClass="sortDesc"  
                                alt="Sorted Descending" ></apex:image>
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),
                                IF(sortExpression=='State_Province__c',true,false))}" styleClass="sortAsc"   
                                alt="Sorted Ascending" ></apex:image>
                            <apex:param value="State_Province__c" name="column" assignTo="{!sortExpression}" />
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!Customer.Vertex_Berry__State_Province__c}"/>
                </apex:column>                
            </apex:pageBlockTable>
            </apex:outputpanel>
            <div align="right" style="display:{!IF((NOT(ISNULL(totalListSize)) && totalListSize != 0),'block','none')}">
                <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
                <font size="1pt">Results&nbsp;<apex:outputLabel value="{!IF(objCustomerController.PageNumber == 1,1,((objCustomerController.PageNumber -1) * objCustomerController.PageSize)+1)}"/>&nbsp;to
                    &nbsp;<apex:outputLabel value="{!IF(objCustomerController.resultSize < objCustomerController.PageSize,objCustomerController.resultSize,objCustomerController.PageNumber * objCustomerController.pageSize)}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalListSize}"/>&nbsp;&nbsp;</font>
                <apex:commandButton value="First" action="{!first}" disabled="{!previousButtonEnabled}" reRender="pbCustomer" oncomplete="hideAdvSearch();funFormatText();"></apex:commandButton>
                <apex:commandButton value="<< Previous" action="{!previous}" disabled="{!previousButtonEnabled}" reRender="pbCustomer" oncomplete="hideAdvSearch();funFormatText();"></apex:commandButton>
                <apex:commandButton value="Next >>" action="{!next}"  disabled="{!nextButtonDisabled}" reRender="pbCustomer" oncomplete="hideAdvSearch();funFormatText();"></apex:commandButton>
                <apex:commandButton value="Last" action="{!last}"  disabled="{!nextButtonDisabled}" reRender="pbCustomer" oncomplete="hideAdvSearch();funFormatText();"></apex:commandButton>&nbsp;&nbsp;
            </div>
        </apex:pageBlock>
        <apex:actionFunction name="DeleteCustomerInfo" action="{!DeleteCustomerInfo}" reRender="pbCustomer" oncomplete="hideAdvSearch();funFormatText();">
            <apex:param name="custID" assignto="{!strDelCustID}" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="CreateCustomer" action="{!CreateCustomer}" />
        <apex:actionFunction name="FetchSearchResults" action="{!getAdvSearchResult}" />
        <apex:actionFunction name="ClearFunction" action="{!ClearFields}" reRender="pbAdvSearch"/>      
        <script>
            funFormatText();
        </script>
    </apex:form>
</apex:page>