<apex:page id="prbTerminalPage" controller="pymt.PayPalARBTerminalController" tabStyle="pymt__Payment_Profile__c"  sideBar="{!IF($CurrentPage.parameters.hideSideBar == 'true',false,true)}" showHeader="{!IF($CurrentPage.parameters.hideHeader == 'true',false,true)}">
<script type="text/javascript" src="{!URLFOR($Resource.PaymentConnect, 'includes/tooltip/wz_tooltip.js')}"></script>
<style>

.labelColumn {
    text-align:right;
    width:180px;
    font-weight:bold;
}

.pc_shortinputfield {
    width:50px;
}

    .modalProgressBox {
        display: block;
        position: absolute;
        z-index: 999;
        text-align: center; 
        width: 100%;
        height: 100%;
        background-color: #FFF;
        padding-top:250px;
        top: 0px;
        left: 0px;
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        color: black;
        font-size: 14pt;
    }

  .requiredLegend {
     visibility:hidden;
     } 
     
</style>

<apex:outputPanel id="formsPanel">

<apex:sectionHeader title="Linvio PaymentConnect" subtitle="PayPal Recurring Payment Terminal" help="{!$Page.pymt__Help}"/>

<apex:form id="terminalForm" onsubmit="return validateForm();"  rendered="{!NOT(transactionCompleted)}">
<apex:pageMessages id="pageMessages"/>
     <apex:actionStatus id="modalActionStatus" >
         <apex:facet name="start" >
           <apex:outputPanel styleClass="modalProgressBox">&nbsp; 
           <br/><br/><br/>
             <apex:image value="{!URLFOR($Resource.pymt__PaymentConnect, 'images/spinner_med.gif')}"  style="vertical-align:middle;" alt="busy..." />
             </apex:outputPanel>
         </apex:facet> 
         <apex:facet name="stop"  >
         </apex:facet>
    </apex:actionStatus> 
    
<script language="javascript">
function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
    window.onload = func;
  } else {
    window.onload = function() {
      if (oldonload) {
        oldonload();
      }
      func();
    }
  }
}

// Disable browser autocomplete for fields accepting sensitive data
function disableAutoComplete() {
    var el;
    el = document.getElementById("{!$Component.terminalForm.terminalPageBlock.cardInfo.cardNumberSI.cardNumber}");
    if (el) el.setAttribute("autocomplete","off");
    el = document.getElementById("{!$Component.terminalForm.terminalPageBlock.cardInfo.cardCodeSI.cardCode}");
    if (el) el.setAttribute("autocomplete","off");
}

addLoadEvent(disableAutoComplete);


var enableValidation=false;
function validateForm() {

    if (!enableValidation) return true;
    enableValidation=false;  
    
    // check required fields
    var field = document.getElementById("{!$Component.terminalForm.terminalPageBlock.relatedObjectsSection.contactSI.contact}");
    if (field.value == "") {
        alert("Please select a contact for this transaction.");
        return false;
    }

    // check trial_amount, trial_frequency, and trial_occurrences (all or nothing)
    var trialAmt, trialFreq, trialOccur;
    trialAmt = document.getElementById("{!$Component.terminalForm.terminalPageBlock.transactionDetailsSection.trialAmtSI.trial_amount}");
    trialFreq = document.getElementById("{!$Component.terminalForm.terminalPageBlock.transactionDetailsSection.trialFreqSI.trialFrequency}");
    trialOccur = document.getElementById("{!$Component.terminalForm.terminalPageBlock.transactionDetailsSection.trialOccurSI.trial_occurrences}");
    if (trialOccur !== null  && trialFreq !==null && trialOccur !== null) {
        if (!(trialAmt.value == "" && trialFreq.value == "" && trialOccur.value == "") &&
            (trialAmt.value == "" || trialFreq.value == "" || trialOccur.value == "")
            ) {
            alert("When specifying a trial period, all fields (trial amount, trial frequency, trial period and trial occurrences) are required.");
            return false;
        }
    }

    // check required fields
    var field = document.getElementById("{!$Component.terminalForm.terminalPageBlock.transactionDetailsSection.startDateSI.startDate}");
    if (field.value == "") {
        alert("Please enter a subscription start date.");
        return false;
    }

    var field = document.getElementById("{!$Component.terminalForm.terminalPageBlock.transactionDetailsSection.billingFrequencySI.billingFrequency}");
    if (field.value == "") {
        alert("Please specify the billing frequency.");
        return false;
    }

    field = document.getElementById("{!$Component.terminalForm.terminalPageBlock.transactionDetailsSection.amountSI.amount}");
    if (field.value == "") {
        alert("Please enter a recurring amount.");
        return false;
    }

    field = document.getElementById("{!$Component.terminalForm.terminalPageBlock.cardInfo.cardNumberSI.cardNumber}");
    if (field !== null && field.value == "") {
        alert("Please enter a credit card number.");
        return false;
    }

    
    
    return true;
}
</script>
   <apex:inputHidden value="{!profile.pymt__On_Payment_Completed__c}"/>

<apex:pageBlock id="terminalPageBlock" mode="edit">
    <apex:pageBlockButtons >
        <apex:commandButton id="cancel"  value="Cancel" action="{!cancelFromTerminal}" onclick="enableValidation=false;" immediate="true"/>
        <apex:commandButton id="continue"  value="Create Subscription" action="{!createSubscription}" disabled="{!disableForm}" onclick="enableValidation=true;" status="modalActionStatus" rerender="formsPanel, modalActionStatus" />
        &nbsp;
        <apex:actionStatus id="formActionStatus">
                <apex:facet name="start">
                    <apex:outputPanel >&nbsp;
              <apex:image value="{!URLFOR($Resource.pymt__PaymentConnect, 'images/icon-spinner.gif')}"
                            style="vertical-align:middle;" alt="busy..." />
              &nbsp;Updating Page</apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:image value="{!URLFOR('/s.gif')}" alt="" style="height:17px;" />
                </apex:facet>
            </apex:actionStatus>          
    </apex:pageBlockButtons>

            <apex:pageBlockSection id="transactionDetailsSection" showHeader="true" title="Transaction Details" collapsible="false">

                <apex:pageBlockSectionItem id="subscrNameSI" helpText="Merchant-assigned name for the subscription">
                <apex:outputLabel for="subscr_name">Subscription Name</apex:outputLabel>
                <apex:inputText id="subscr_name" value="{!profile.Name}" >
                </apex:inputText>
                </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem id="processorSelectionSI" helpText="Select the Processor Connection you would like to use to process this transaction." >
            <apex:outputLabel value="Processor Connection"/>
            <apex:selectList size="1" multiselect="false"  value="{!processorConnectionId}" disabled="false">
                    <apex:actionSupport event="onchange" rerender="cardType, paymentType, currencyCode" status="modalActionStatus"/>
                    <apex:selectOptions id="processorOptions" value="{!processorConnectionOptions}" />
                </apex:selectList>
            </apex:pageBlockSectionItem>            

                
                <apex:pageBlockSectionItem helpText="Description of the subscription (optional). The description will be associated with each payment in the subscription.">
                <apex:outputLabel for="description">Description</apex:outputLabel>
                <apex:inputText id="description"  value="{!profile.pymt__Description__c}" style="height:22px;"></apex:inputText>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem helpText="(Optional) Merchant-assigned profile reference number.  This may be an invoice number or similar identifier." rendered="{!NOT(hideProfileReference)}">
                <apex:outputLabel for="profileReference">Profile Reference</apex:outputLabel>
                <apex:inputText id="profileReference" value="{!profile.pymt__Invoice_Number__c}" >
                </apex:inputText>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!NOT(hideProfileReference)}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="startDateSI" helpText="The date when billing for this profile begins.  Note: The profile may take up to 24 hours for activation." >
                <apex:outputLabel for="startDate">Subscription Start Date</apex:outputLabel>
                <apex:inputField id="startDate"  value="{!profile.pymt__Subscription_Start_Date__c}" >
                </apex:inputField>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem helpText="Enter one-time transactions for charges like setup fees. You can only create them when you create a profile and you won't be able to edit or reactivate your one-time transactions later. PayPal processes one-time transactions almost immediately and doesn't wait for the profile start date.  ">
                <apex:outputLabel for="amount">Initial One-Time Amount   </apex:outputLabel>
                <apex:inputField id="initialAmount"  value="{!profile.pymt__Initial_Amount__c}" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="trialAmtSI" rendered="{!NOT(hideTrialFields)}" helpText="Billing amount for each billing cycle during this payment period; required if you specify an optional trial period. This amount does not include shipping and tax amounts.">
                <apex:outputLabel for="trial_amount">Trial Amount</apex:outputLabel>
                <apex:inputField id="trial_amount" value="{!profile.pymt__Trial_Amount__c}" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!NOT(hideTrialFields)}" >
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="trialFreqSI" rendered="{!NOT(hideTrialFields)}" helpText="Required if you specify an optional trial period.  SemiMonth billing is done on the 1st and 15th of the month and should be assigned a frequency of 1.">
                <apex:outputLabel for="trialFrequency">Make Trial Payments Every </apex:outputLabel>
                <apex:outputPanel layout="inline">
                    <apex:inputField id="trialFrequency"  value="{!profile.pymt__Trial_Frequency__c}" styleclass="pc_shortinputfield">
                    </apex:inputField>&nbsp;
                    <apex:selectList value="{!profile.pymt__Trial_Period__c}" size="1">
                        <apex:selectOptions value="{!periodOptions}" /> 
                    </apex:selectList>
                </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="trialOccurSI" rendered="{!NOT(hideTrialFields)}" helpText="The number of billing cycles for trial payment period.  Required if you specify an optional trial period." >
                <apex:outputLabel for="trial_occurrences">Trial Occurrences</apex:outputLabel>
                <apex:inputField id="trial_occurrences"  value="{!profile.pymt__Trial_Occurrences__c}"  styleclass="pc_shortinputfield"/>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="amountSI" helpText="(Required) Billing amount for each billing cycle during this payment period.  The currency code selected will apply to all amounts on the recurring payments profile.">
                <apex:outputLabel for="amount">Recurring Amount</apex:outputLabel>
                <apex:outputPanel layout="inline">
                        <apex:inputField id="amount"  value="{!profile.pymt__Amount__c}"  styleclass="pc_shortinputfield" >
                    </apex:inputField>&nbsp;
                    <apex:selectList id="currencyCode" value="{!profile.pymt__Currency_ISO_Code__c}" size="1">
                        <apex:selectOptions value="{!currencyOptions}" />
                    </apex:selectList>
                </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="shippingSI" helpText="(Optional) Shipping amount for each recurring payment. " rendered="{!NOT(hideShippingAddress)}">
                <apex:outputLabel for="shipping">Shipping</apex:outputLabel>
                <apex:outputPanel layout="inline">
                        <apex:inputField id="shipping"  value="{!profile.pymt__Shipping__c}"  styleclass="pc_shortinputfield" >
                    </apex:inputField>
                </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!NOT(hideShippingAddress)}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="taxSI" helpText="(Optional) Tax amount for each recurring payment. " rendered="{!NOT(hideTaxFields)}">
                <apex:outputLabel for="tax">Tax</apex:outputLabel>
                <apex:outputPanel layout="inline">
                        <apex:inputField id="tax"  value="{!profile.pymt__Tax__c}"  styleclass="pc_shortinputfield" >
                    </apex:inputField>
                </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!NOT(hideTaxFields)}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="billingFrequencySI" helpText="(Required) Unit for billing during this subscription period.   SemiMonth billing is done on the 1st and 15th of the month and should be assigned a frequency of 1.">
                <apex:outputLabel for="billingFrequency">Schedule Payments Every </apex:outputLabel>
                <apex:outputPanel layout="inline">
                    <apex:inputField id="billingFrequency"  value="{!profile.pymt__Frequency__c}"  styleclass="pc_shortinputfield">
                    </apex:inputField>&nbsp;
                    <apex:selectList value="{!profile.pymt__Period__c}"  size="1">
                        <apex:selectOptions value="{!periodOptions}" />
                    </apex:selectList>
                </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem helpText="(Optional) The number of billing cycles for payment period. For the regular payment period, if no value is specified or the value is 0, the regular payment period continues until the profile is cancelled or deactivated.  For the regular payment period, if the value is greater than 0, the regular payment period will expire after the trial period is finished and continue at the billing frequency for TotalBillingCycles cycles.">
                <apex:outputLabel for="total_occurrences">Total Occurrences</apex:outputLabel>
                <apex:inputField id="total_occurrences"  value="{!profile.pymt__Total_Occurrences__c}"  styleclass="pc_shortinputfield" >
                </apex:inputField>
                </apex:pageBlockSectionItem>

                
            </apex:pageBlockSection>

                
            
            <apex:pageBlockSection id="relatedObjectsSection" title="Related Standard Objects" showHeader="true" collapsible="false">

                <apex:pageBlockSectionItem id="contactSI">
                <apex:outputLabel for="contact">{!$ObjectType.Contact.Label}&nbsp;</apex:outputLabel>
                <apex:inputField id="contact"  value="{!profile.pymt__Contact__c}" >
                    <apex:actionSupport event="onblur" action="{!loadContact}"  
                        rerender="addresses, pageMessages, buttons" status="formActionStatus" />
                </apex:inputField>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                <apex:outputLabel for="opportunity">{!$ObjectType.Opportunity.Label}&nbsp;</apex:outputLabel>
                <apex:inputField id="opportunity"  value="{!profile.pymt__Opportunity__c}" />
                </apex:pageBlockSectionItem>


                <apex:pageBlockSectionItem >
                <apex:outputLabel for="account">{!$ObjectType.Account.Label}&nbsp;</apex:outputLabel>
                <apex:inputField id="account"  value="{!profile.pymt__Account__c}" >
                    <apex:actionSupport event="onblur" action="{!loadAccount}" 
                        rerender="addresses, pageMessages, buttons" status="formActionStatus" />
                    </apex:inputField>
                </apex:pageBlockSectionItem>
                
                
            </apex:pageBlockSection>
            
            <apex:pageBlockSection id="paymentTypeSection" title="Payment Information" columns="1" collapsible="false">

                        
            <apex:pageBlockSectionItem id="paymentTypeSI">
            <apex:outputLabel for="paymentType" >Payment Type </apex:outputLabel>
            
            <apex:outputPanel layout="inline">
            <table class="unformattedTable" ><tr><td style="vertical-align:top;">            
            <apex:selectList size="1" id="paymentType"  value="{!paymentType}" >
                <apex:selectOptions value="{!paymentTypeOptions}" />
                <apex:actionSupport event="onchange" id="selectPaymentType" 
                    action="{!paymentTypeChanged}" rerender="paymentTypePanels, addresses, pageMessages" 
                    status="paymentTypeSelectionStatus" 
                     oncomplete="disableAutoComplete();" 
                    />
              </apex:selectList> 
              </td><td style="vertical-align:top;">
                    <apex:actionStatus id="paymentTypeSelectionStatus" >
                        <apex:facet name="start" > 
                            <apex:outputPanel >&nbsp; 
                                <apex:image value="{!URLFOR($Resource.pymt__PaymentConnect, 'images/icon-spinner.gif')}"  style="vertical-align:top;" alt="busy..." />
                            </apex:outputPanel>
                        </apex:facet> 
                        <apex:facet name="stop">
                            <apex:image value="{!URLFOR('/s.gif')}"  alt="" style="height:12px;" />
                        </apex:facet>
                    </apex:actionStatus>             
                </td></tr></table>
                </apex:outputPanel>
            </apex:pageBlockSectionItem>

            </apex:pageBlockSection>            
            
        <apex:outputPanel id="paymentTypePanels"> 

            <apex:pageBlockSection id="cardInfo" showHeader="false" title="Credit Card Information"  collapsible="false" columns="1" rendered="{!(paymentType == 'creditcard')}">

            
            <apex:pageBlockSectionItem id="cardTypeSI">
            <apex:outputLabel for="cardType">Card Type</apex:outputLabel>
            <apex:selectList id="cardType"  value="{!cardType}" size="1" >
                <apex:selectOptions value="{!cardTypeOptions}" />
                <apex:actionSupport event="onchange" action="{!nullAction}" rerender="soloMaestroFields" status="formActionStatus"/>
              </apex:selectList>
            </apex:pageBlockSectionItem>
    
            <apex:pageBlockSectionItem id="cardNumberSI">
            <apex:outputLabel for="cardNumber">Card Number</apex:outputLabel>
            <apex:inputText id="cardNumber"  value="{!cardNumber}" />
            </apex:pageBlockSectionItem>
            
            <apex:pageBlockSectionItem id="expirationSI">
            <apex:outputLabel for="expirationDate">Card Expiration </apex:outputLabel>
            <apex:outputPanel layout="inline">
                <apex:selectList id="expMonth" value="{!expirationMonth}" size="1"> 
                    <apex:selectOptions value="{!expMonthOptions}" />
                </apex:selectList> &nbsp;
                <apex:selectList id="expYear" value="{!expirationYear}" size="1"> 
                    <apex:selectOptions value="{!expYearOptions}" />
                </apex:selectList> 
            </apex:outputPanel>
            </apex:pageBlockSectionItem>
            
            <apex:pageBlockSectionItem id="cardCodeSI" helpText="For your safety and security, PayPal may require that you enter your card’s verification number. The verification number is a 3-digit number printed on the back of your card. It appears after and to the right of your card number. ">
            <apex:outputLabel for="cardCode">Card Code</apex:outputLabel>
            <apex:inputText id="cardCode"  value="{!cardCode}" styleclass="pc_shortinputfield" />
            </apex:pageBlockSectionItem>

            </apex:pageBlockSection>
            
            <apex:outputPanel id="soloMaestroFields">
            <apex:pageBlockSection id="soloMaestroSection" showHeader="false" title="Credit Card"  collapsible="false" columns="2" rendered="{!(cardType == 'Solo' || cardType=='Maestro')}">
            
            <apex:pageBlockSectionItem id="cardIssueDateSI" helpText="Required for Maestro and Solo cards.">
            <apex:outputLabel for="cardIssueDate">Card Issue Date</apex:outputLabel>
            <apex:outputPanel layout="inline">
                <apex:selectList id="issueMonth"  value="{!cardStartMonth}" size="1"> 
                    <apex:selectOptions value="{!expMonthOptions}" />
                </apex:selectList> &nbsp;
                <apex:selectList id="issueYear" value="{!cardStartYear}" size="1"> 
                    <apex:selectOptions value="{!issueYearOptions}" /> 
                </apex:selectList> 
            </apex:outputPanel>
            </apex:pageBlockSectionItem>
            
            <apex:pageBlockSectionItem id="cardIssueNumberSI" helpText="Required for Maestro and Solo cards.">
            <apex:outputLabel for="issueNumber">Issue Number</apex:outputLabel>
            <apex:inputText styleclass="pc_short_input_field" id="issueNumber" value="{!cardIssueNumber}"   />
            </apex:pageBlockSectionItem>
        
        
            </apex:pageBlockSection>
            </apex:outputPanel>
            
          <apex:pageBlockSection id="storedCardInfo" showHeader="false" title="Credit Card Profile"  collapsible="false" columns="1" rendered="{!(paymentType == 'storedCreditCard')}">

            <apex:pageBlockSectionItem id="paymentMethodSelectionSI">
            <apex:outputLabel for="storedCardSelectList">Credit Card Profile</apex:outputLabel>
            <apex:outputPanel >
                <apex:selectList id="storedCardSelectList" value="{!selectedPaymentMethodId}" size="1" multiselect="false">
                    <apex:selectOptions value="{!storedCreditCardOptions}"/> 
                        <apex:actionSupport event="onchange" action="{!cardProfileSelectionChanged}"  id="selectStoredCard"
                            rerender="addresses, storedCardInfo, cardProfileSelectionStatus, pageMessages"                      
                            status="cardProfileSelectionStatus" />
                    
                </apex:selectList>
                    &nbsp;
                    <apex:actionStatus id="cardProfileSelectionStatus">
                        <apex:facet name="start" > 
                            <apex:outputPanel >&nbsp; 
                                <apex:image value="{!URLFOR($Resource.pymt__PaymentConnect, 'images/icon-spinner.gif')}"  style="vertical-align:top;" alt="busy..." />
                            </apex:outputPanel>
                        </apex:facet> 
                        <apex:facet name="stop">
                            <apex:image value="{!URLFOR('/s.gif')}"  alt="" style="height:12px;" />
                        </apex:facet>
                    </apex:actionStatus>  
            </apex:outputPanel>     
            </apex:pageBlockSectionItem>
                                
            <apex:pageBlockSectionItem id="storedCardNumberSI">
            <apex:outputLabel for="maskedCardNumber">Card Number</apex:outputLabel>
            <apex:outputText id="maskedCardNumber" value="************{!paymentMethodRecord.pymt__Last_4_Digits__c}" />
            </apex:pageBlockSectionItem>
            
            <apex:pageBlockSectionItem id="storedCardTypeSI">
            <apex:outputLabel for="storedCardType">Card Type</apex:outputLabel>
            <apex:outputText id="storedCardType" value="{!paymentMethodRecord.pymt__Card_Type__c}" />
            </apex:pageBlockSectionItem>
            
            <apex:pageBlockSectionItem id="storedCardExpirationSI">
                    <apex:outputText value="Expiration"/>
                    <apex:outputText value="{!expirationMonth}/{!expirationYear}"/>
            </apex:pageBlockSectionItem>
                        
            </apex:pageBlockSection>            
        </apex:outputPanel>                                     



        <apex:pageBlockSection title="Address Information" collapsible="false" id="addresses"  >
             
                <apex:pageBlockSectionItem rendered="{!NOT(usePmtMethodBilling)}">
                <apex:outputLabel for="loadBillingFrom">Billing Address Source:</apex:outputLabel>
                <apex:selectList id="selectBillingFrom" size="1"
                                    value="{!loadBillingFrom}" >
                                    <apex:selectOptions value="{!billingAddressFromOptions}" />
                                    <apex:actionSupport event="onchange"
                                        action="{!loadBillingAddressFields}"
                                        rerender="billingname, billingstreet, billingcity, billingstate, billingpostalcode, billingcountry, saveBillingButton, pageMessages"
                                        status="formActionStatus" />
                                </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!usePmtMethodBilling}">
                <apex:outputLabel value="Billing Address Source:"/>
                <apex:outputText value="Stored Payment Method"/>
                </apex:pageBlockSectionItem> 
                            
                <apex:pageBlockSectionItem rendered="{!NOT(hideShippingAddress)}">
                <apex:outputLabel for="loadShippingFrom">Shipping Address Source:</apex:outputLabel>
                <apex:selectList id="selectShippingFrom" size="1"
                                value="{!loadShippingFrom}" >
                                <apex:selectOptions value="{!shippingAddressFromOptions}" />
                                <apex:actionSupport event="onchange"
                                    action="{!loadShippingAddressFields}"
                                    rerender="shippingname, shippingstreet, shippingcity, shippingstate, shippingpostalcode, shippingcountry, saveShippingButton, pageMessages"
                                    status="formActionStatus" />

                            </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!hideShippingAddress}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>                
            
            
                <apex:pageBlockSectionItem >
                <apex:outputLabel for="billingname">Billing Name</apex:outputLabel>
                <apex:inputText id="billingname" 
                                value="{!billingname}"  disabled="{!usePmtMethodBilling}"/>
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem rendered="{!NOT(hideShippingAddress)}">
                <apex:outputLabel for="shippingname">Shipping Name</apex:outputLabel>
                <apex:inputText id="shippingname"  
                                value="{!shippingname}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!hideShippingAddress}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
            
            
                <apex:pageBlockSectionItem >
                <apex:outputLabel for="billingstreet">Billing Address</apex:outputLabel>
                <apex:inputText id="billingstreet" 
                                value="{!billingstreet}"  disabled="{!usePmtMethodBilling}"/>
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem rendered="{!NOT(hideShippingAddress)}">
                <apex:outputLabel for="shippingstreet">Shipping Address</apex:outputLabel>
                <apex:inputText id="shippingstreet" 
                                value="{!shippingstreet}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!hideShippingAddress}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
            
            
                <apex:pageBlockSectionItem >
                <apex:outputLabel for="billingcity">City</apex:outputLabel>
                <apex:inputText id="billingcity" value="{!billingcity}"  disabled="{!usePmtMethodBilling}"/>
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem rendered="{!NOT(hideShippingAddress)}">
                <apex:outputLabel for="shippingcity">City</apex:outputLabel>
                <apex:inputText id="shippingcity" 
                                value="{!shippingcity}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!hideShippingAddress}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
            
            
                <apex:pageBlockSectionItem >
                <apex:outputLabel for="billingstate">State</apex:outputLabel>
                <apex:inputText id="billingstate"  
                                value="{!billingstate}"  disabled="{!usePmtMethodBilling}"/>
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem rendered="{!NOT(hideShippingAddress)}">
                <apex:outputLabel for="shippingstate">State</apex:outputLabel>
                <apex:inputText id="shippingstate" 
                                value="{!shippingstate}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!hideShippingAddress}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
                        
                <apex:pageBlockSectionItem >
                <apex:outputLabel for="billingpostalcode">Postal Code</apex:outputLabel>
                <apex:inputText id="billingpostalcode" 
                                value="{!billingpostalcode}"  disabled="{!usePmtMethodBilling}"/>
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem rendered="{!NOT(hideShippingAddress)}">
                <apex:outputLabel for="shippingpostalcode">Postal Code</apex:outputLabel>
                <apex:inputText id="shippingpostalcode" 
                                value="{!shippingpostalcode}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!hideShippingAddress}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem >
                <apex:outputLabel for="billingcountry">Country</apex:outputLabel>
                <apex:inputText id="billingcountry" 
                                value="{!billingcountry}"  disabled="{!usePmtMethodBilling}"/>
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem rendered="{!NOT(hideShippingAddress)}">
                <apex:outputLabel for="shippingcountry">Country</apex:outputLabel>
                <apex:inputText id="shippingcountry" 
                                value="{!shippingcountry}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!hideShippingAddress}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem >
                <apex:outputText value=""/>
                <apex:commandButton value="Store Address"
                                
                                id="saveBillingButton"
                                styleclass="btnSharing" action="{!saveBillingAddress}"
                                rendered="true" 
                                status="modalActionStatus"
                                disabled="{!OR(NOT(OR(loadBillingFrom == 'mailing',loadBillingFrom == 'billing',loadBillingFrom == 'other')),usePmtMethodBilling)}"
                                rerender="pageMessages" />
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem rendered="{!NOT(hideShippingAddress)}">
                <apex:outputText value=""/>
                <apex:commandButton value="Store Address"
                                
                                id="saveShippingButton"
                                styleclass="btnSharing" action="{!saveShippingAddress}"
                                rendered="{!NOT(personAccountMode)}" 
                                status="modalActionStatus"
                                disabled="{!NOT(OR(loadShippingFrom == 'mailing',loadShippingFrom == 'shipping',loadShippingFrom == 'other'))}"
                                rerender="pageMessages" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!hideShippingAddress}">
                <apex:outputText value=""/>
                <apex:outputText value=""/>
                </apex:pageBlockSectionItem>
            

            
            </apex:pageBlockSection>        
 
            <apex:pageBlockSection collapsible="false" title="Category Splits" columns="1" rendered="{!NOT(hideCatSplitNames)}">
            
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="categorySplit" value="Category Split Name"/>
                    <apex:inputField id="categorySplit" value="{!profile.pymt__Category_Split_Name__c}" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection> 
            
</apex:pageBlock>              
</apex:form>


<!--  =============================================================================== -->

<apex:form id="terminalFormFinished"  rendered="{!transactionCompleted}">
<apex:pageMessages id="finishedPageMessages" />

     <apex:actionStatus id="modalActionStatus2" >
         <apex:facet name="start" >
           <apex:outputPanel styleClass="modalProgressBox">&nbsp; 
           <br/><br/><br/>
             <apex:image value="{!URLFOR($Resource.pymt__PaymentConnect, 'images/spinner_med.gif')}"  style="vertical-align:middle;" alt="busy..." />
             </apex:outputPanel>
         </apex:facet> 
         <apex:facet name="stop"  >
         </apex:facet>
    </apex:actionStatus> 

<apex:pageBlock >
<apex:pageBlockButtons >

    <apex:commandButton value="Continue" action="{!continueFromTerminal}"/>
</apex:pageBlockButtons>

<apex:panelGrid columns="2" columnClasses="labelColumn, valueColumn">

<apex:outputLabel for="name">Profile Name:</apex:outputLabel>
<apex:outputField id="name" value="{!profile.name}" />

<apex:outputLabel for="initialAmount" value="Initial Amount:"  rendered="{!IF(ISBLANK(profile.pymt__Initial_Amount__c),'false','true')}"/>
<apex:outputPanel layout="inline" rendered="{!IF(ISBLANK(profile.pymt__Initial_Amount__c),'false','true')}">
<apex:outputText id="initialAmount" value="{!profile.pymt__Initial_Amount__c}" />&nbsp;<apex:outputField value="{!profile.pymt__Currency_ISO_Code__c}" />
</apex:outputPanel>

<apex:outputLabel for="trialAmount" value="Trial Amount:"  rendered="{!IF(ISBLANK(profile.pymt__Trial_Occurrences__c),'false','true')}" />
<apex:outputPanel layout="inline" rendered="{!IF(ISBLANK(profile.pymt__Trial_Occurrences__c),'false','true')}">
<apex:outputField id="trialAmount" value="{!profile.pymt__Trial_Amount__c}" />&nbsp;<apex:outputField value="{!profile.pymt__Currency_ISO_Code__c}" />
&nbsp;every&nbsp;<apex:outputField id="trialFrequency" value="{!profile.pymt__Trial_Frequency__c}" />
&nbsp;<apex:outputField id="trialPeriod" value="{!profile.pymt__Trial_Period__c}" />(s) x&nbsp;<apex:outputField value="{!profile.pymt__Trial_Occurrences__c}" />
</apex:outputPanel>

<apex:outputLabel for="amount" value="Subscription Amount:"/>
<apex:outputPanel layout="inline">
<apex:outputField id="amount" value="{!profile.pymt__Total_Amount__c}" />&nbsp;<apex:outputField value="{!profile.pymt__Currency_ISO_Code__c}" />
&nbsp;every&nbsp;<apex:outputField id="frequency" value="{!profile.pymt__Frequency__c}" />
&nbsp;<apex:outputField id="period" value="{!profile.pymt__Period__c}" />(s)&nbsp;
<apex:outputPanel layout="inline" rendered="{!NOT(OR(profile.pymt__Total_Occurrences__c == 0, profile.pymt__Total_Occurrences__c == NULL))}">
 x&nbsp;<apex:outputField value="{!profile.pymt__Total_Occurrences__c}"/>
</apex:outputPanel>
</apex:outputPanel>

<apex:outputText value=""/>
<apex:outputText value=""/>

<apex:outputLabel for="contact">Contact:</apex:outputLabel>
<apex:outputField id="contact" value="{!profile.pymt__Contact__c}" />

<apex:outputLabel for="account">Account:</apex:outputLabel>
<apex:outputField id="account" value="{!profile.pymt__Account__c}" />

<apex:outputLabel for="opportunity">Opportunity:</apex:outputLabel>
<apex:outputField id="opportunity" value="{!profile.pymt__Opportunity__c}" />

<apex:outputText value="" styleClass="verticalSpacer"/>
<apex:outputText value=""/>

<apex:outputText value="Processor Connection:"/>
<apex:outputText value="{!connection.Name}"/>

<!--  Start Payment Type == creditcard -->
<apex:outputText value="Payment Method:" rendered="{!(paymentType== 'creditcard')}"/>
<apex:outputText value="Credit Card" rendered="{!(paymentType== 'creditcard')}"/>


<apex:outputText value="Credit Card Number:" rendered="{!(paymentType== 'creditcard')}"/>
<apex:outputText id="ccNumber" value="************{!profile.pymt__Last_4_Digits__c}" rendered="{!(paymentType== 'creditcard')}"/>

<apex:outputText value="Card Type:" rendered="{!(paymentType== 'creditcard')}"/>
<apex:outputText id="cardType" value="{!cardType}" rendered="{!(paymentType== 'creditcard')}"/>

<apex:outputText value="CVV:" rendered="{!(paymentType== 'creditcard')}"/>
<apex:outputText id="cvvNumberMasked" value="***"  rendered="{!paymentType== 'creditcard'}"/>

<apex:outputText value="Card Expiration:" rendered="{!(paymentType== 'creditcard')}"/>
<apex:outputPanel layout="inline" rendered="{!(paymentType== 'creditcard')}">
<apex:outputText id="expMonth" value="{!expirationMonth}"/>/<apex:outputText id="expYear" value="{!expirationYear}"/>
</apex:outputPanel>
<!--  End Payment Type == creditcard -->

<!--  Start Payment Type == storedCreditCard -->
<apex:outputText value="Payment Method:" rendered="{!(paymentType== 'storedCreditCard')}"/>
<apex:outputText value="Stored Credit Card" rendered="{!(paymentType== 'storedCreditCard')}"/>

<apex:outputText value="Credit Card Number:" rendered="{!(paymentType== 'storedCreditCard')}"/>
<apex:outputText id="pmCardNumber" value="************{!profile.pymt__Last_4_Digits__c}" rendered="{!(paymentType== 'storedCreditCard')}"/>

<apex:outputText value="Card Type:" rendered="{!(paymentType== 'storedCreditCard')}"/>
<apex:outputText id="pmCardType" value="{!cardType}" rendered="{!(paymentType== 'storedCreditCard')}"/>

<apex:outputText value="CVV:" rendered="{!(paymentType== 'storedCreditCard')}"/>
<apex:outputText id="pmCVVNumberMasked" value="***"  rendered="{!paymentType== 'storedCreditCard'}"/>

<apex:outputText value="Card Expiration:" rendered="{!(paymentType== 'storedCreditCard')}"/>
<apex:outputPanel layout="inline" rendered="{!(paymentType== 'storedCreditCard')}">
<apex:outputText id="pmExpMonth" value="{!expirationMonth}"/>/<apex:outputText id="pmExpYear" value="{!expirationYear}"/>
</apex:outputPanel>
<!--  End Payment Type == storedCreditCard -->


<apex:outputText value="" styleClass="verticalSpacer"/>
<apex:outputText value=""/>

<!--  Start Billing address -->
<apex:outputText value="Billing Name:" />
<apex:outputText value="{!billingname}"  />

<apex:outputText value="Billing Address:" />
<apex:outputText value="{!billingStreet} "  />

<apex:outputText value="" />
<apex:outputText value="{!billingCity}, {!billingState} {!billingPostalCode} {!billingCountry}"  />



<!--  Start Shipping Address -->
<apex:outputText value="" styleClass="verticalSpacer"/>
<apex:outputText value=""/>

 
<apex:outputText value="Ship To Name:" rendered="{!NOT(hideShippingAddress)}"/>
 <apex:outputText value="{!shippingname}"  rendered="{!NOT(hideShippingAddress)}"/>

<apex:outputText value="Shipping Address:" rendered="{!NOT(hideShippingAddress)}"/>
 <apex:outputText value="{!shippingstreet} "  rendered="{!NOT(hideShippingAddress)}"/>

<apex:outputText value="" rendered="{!NOT(hideShippingAddress)}"/>
 <apex:outputText value="{!shippingcity}, {!shippingstate} {!shippingpostalcode} {!shippingcountry}"  rendered="{!NOT(hideShippingAddress)}"/>
  
  
<apex:outputText value=""  rendered="{!savePmtDetailsEnabled}"/>
<apex:outputPanel layout="inline"  rendered="{!savePmtDetailsEnabled}">
<apex:inputCheckbox value="{!savePmtDetails}"/>&nbsp;Save payment details to stored Credit Card Payment Method.
</apex:outputPanel>

<apex:outputText value=""  rendered="{!savePmtDetailsEnabled}"/>
<apex:outputPanel layout="inline"  rendered="{!savePmtDetailsEnabled}">
<apex:inputCheckbox value="{!setPmtMethodAsDefault}"/>&nbsp;Mark as default Payment Method.
</apex:outputPanel>

</apex:panelGrid>
</apex:pageBlock>
</apex:form>


</apex:outputPanel>
</apex:page>