<apex:page id="siteCheckoutStorePmtMethod" controller="pymt.SiteCheckoutController"  showHeader="false" sidebar="false" cache="false" standardStylesheets="false">
<head>
<title>Store Payment Method</title>
</head>
<apex:composition template="{!$Site.Template}">
  <apex:define name="body">
    <div id="pc_context_{!HTMLENCODE($CurrentPage.parameters.context)}">
    <div id="pc_lang_{!HTMLENCODE($CurrentPage.parameters.lang)}">
    <div class="pc_page" id="pc_sitecheckoutstorepmtmethod_page">
    <div class="pc_page_content_top"></div>
    <div class="pc_page_content" >
    <div class="pc_page_content_inner"> 
	<apex:pageMessage summary="This page reserved for future use." severity="warning" strength="3" />

    </div><!--  pc_page_content_inner -->
    </div><!--  pc_page_content -->
    </div><!--  pc_page --> 
</div> <!--  page pc_lang_xxx div -->
</div> <!--  page pc_context_xxx div -->
    
    </apex:define>
</apex:composition>
</apex:page>