<apex:page id="siteScheduledPaymentsPage" controller="pymt.SiteScheduledPaymentsController" showHeader="false" title="Scheduled Payments"  cache="false" standardStylesheets="false">
  <apex:composition template="{!$Site.Template}">
 <apex:define name="body">
  <div class="pc_page_content_top"></div>
  <div class="pc_page_content"  id="pc_sitescheduledpayments_page">
    <div class="pc_page_content_inner"> 
    <apex:outputPanel rendered="{!(ISPICKVAL($User.UserType,'Guest'))}"> 
        <apex:pageMessage summary="Login required." severity="warning" strength="3" />
    </apex:outputPanel>
    <apex:outputPanel rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">
    
    <apex:pageMessages id="messages"/>    
    <apex:outputPanel rendered="{!NOT($Label.SiteScheduledPayments_Heading == '-')}">
    <h1>{!$Label.SiteScheduledPayments_Heading}</h1>
    </apex:outputPanel>
                    
    <apex:outputPanel rendered="{!NOT($Label.SiteScheduledPayments_Message == '-')}">
    <p>{!$Label.SiteScheduledPayments_Message}</p> 
    </apex:outputPanel>
    
    <c:ScheduledPaymentList contactId="{!contactId}" />
    </apex:outputPanel>
    
    
    </div>
  </div>
  </apex:define> 
  </apex:composition>
</apex:page>