<apex:page standardController="Account" extensions="AccountWithDirectories">
    <apex:pageBlock >
        <apex:pageBlockTable value="{!DirectoryWrapperList}" var="Wrapper" columnsWidth="220px, 100px, 100px" border="1" cellspacing="4" cellpadding="4">
            <apex:column value="{!Wrapper.DirectoryName}" headerValue="Directory Name"/>
            <apex:column headerValue="PI">
                <apex:outputText value="{0,number,currency}">
                    <apex:param value="{!Wrapper.PI}"/>
                </apex:outputText>
            </apex:column>
            <apex:column headerValue="NI">
                <apex:outputText value="{0,number,currency}">
                    <apex:param value="{!Wrapper.NI}"/>
                </apex:outputText>
            </apex:column>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>