<apex:page standardController="Account" extensions="AdvertisingSummaryReport_v1" action="{!FetchDetailedInfo}" showHeader="false" sidebar="false">
<style>
.headrow
{
background: #f2f3f3;
border-width: 0 0 1px 1px;
border-color: #e0e3e5;
color: #000;
font-size: .9em;
font-weight: bold;
padding: 5px 2px 4px 5px;
}
</style>
 <apex:pageBlock id="pblk" title="Advertising Summary Detail">
 <table cellpadding="0" cellspacing="0" class="list">
 <tr>
 <td class="headrow">Order Line Item</td>
 <td class="headrow">UDAC</td>
 <td class="headrow">Heading</td>
 <td class="headrow">Sales Price</td>
 <td class="headrow">Order Line Total</td>
 <td class="headrow">Payment Duration(Months)</td>
 <td class="headrow">Publication Date</td>
 </tr>
 <apex:variable value="{!0}" var="TotalSalesPrice"/>
 <apex:repeat value="{!FetchOLIs}" var="oli">
 <tr>
 <td><apex:outputfield value="{!oli.Name}"/></td>
 <td><apex:outputfield value="{!oli.UDAC__c}"/></td>
 <td><apex:outputfield value="{!oli.Directory_Heading__r.Name}"/></td>
 <td><apex:outputfield value="{!oli.UnitPrice__c}"/>
 <apex:variable var="TotalSalesPrice" value="{!TotalSalesPrice+oli.UnitPrice__c}" />
 </td>
 <td><apex:outputfield value="{!oli.Order_Line_Total__c}"/></td>
 <td><apex:outputfield value="{!oli.Payment_Duration__c}"/></td>
 <td><apex:outputfield value="{!oli.Directory__r.Pub_Date__c}"/></td>
 
 </tr>
 </apex:repeat>
 <tr style="">
 <td colspan="3" style="font-size: .9em;font-weight: bold;padding-right:10px;border:solid 0px red;" align="Right">Total : </td>
 <td colspan="4" style="font-size: .9em;font-weight: bold;">
 <apex:outputText value="{0, number,$###,###,##0.00}">
 <apex:param value="{!TotalSalesPrice}" />
 </apex:outputText>
 </td>
 </tr>
 </table>
 <!--
 <apex:pageBlockTable id="pblktable" value="{!FetchOLIs}" var="oli">
 <apex:column headervalue="Order Line Item" value="{!oli.Name}"/>
 <apex:column headervalue="UDAC" value="{!oli.UDAC__c}" />
 <apex:column headervalue="Heading" value="{!oli.Directory_Heading__r.Name}" />
 <apex:column headervalue="Sales Price" value="{!oli.UnitPrice__c}" />
 <apex:column headervalue="Order Line Total" value="{!oli.Order_Line_Total__c}" />
 <apex:column headervalue="Payment Duration(Months)" value="{!oli.Payment_Duration__c}"/>
 <apex:column headervalue="Publication Date" value="{!oli.Directory__r.Pub_Date__c}"/>
 </apex:pageBlockTable>
 -->
 </apex:pageBlock> 
</apex:page>