<apex:page controller="BillingWizard_v1" sidebar="false" tabStyle="Telco__c" id="Pg" showHeader="false">
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery-1.7.1.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery.vfFloatingHeaders.js')}"/>
<apex:outputPanel id="scriptpanel">

<script>
    var totalcount=0;
    var totalcountRec='{!LstStmntWrapper.size}';
    
    function checkbox(getchkbox,listsize)
    {
        if(totalcount<0)
            totalcount=0;
        if(getchkbox.checked)
            totalcount=totalcount+1;
        else
            totalcount=totalcount-1;       
    }
    
    function checkboxForRec(getchkbox,recordId,invOrScn)
    {
        updateReconcile(recordId,getchkbox.checked,invOrScn);
    }
    function checkboxForRec(getchkbox,listsize)
    {
        if(totalcountRec<0)
            totalcountRec=0;
        if(getchkbox.checked)
            totalcountRec=totalcountRec+1;
        else
            totalcountRec=totalcountRec-1;
    }       
    function ValidatePostData()
    {
      var lstsize='{!LstStmntWrapper.size}';
      var countunchecked=0;
      for(var i=0;i<lstsize;i++)
      {
             var recchk=document.getElementById('Pg:frm:pblk:pbtable:pgbdtble:'+i+':reconciledchckbox').checked;
              var postchk=document.getElementById('Pg:frm:pblk:pbtable:pgbdtble:'+i+':cccheckbox1').checked;
              if(postchk  ==true && recchk==false)
              {
                  countunchecked=countunchecked+1;
              }
       }
      if(countunchecked>0)
       {
             alert('You are about to submit '+countunchecked+' unreconciled records');
               
           if(totalcount<0)
           totalcount=0;
            if(totalcount<0)
               totalcount=0;
                if(totalcount<=0)
                alert('Please select invoices for Posting to FinancialForce');
                else
                {
                  var res=confirm('Are you sure you want to post?\nThis cannot be undone');
                  if(res==true)
                  {
                    PostStatementInvoices(); 
                  }
                }
       }
       else if(countunchecked==0)
       {
             if(totalcount<0)
               totalcount=0;
                if(totalcount<=0)
                alert('Please select invoices for Posting to FinancialForce');
                else
                {
                  var res=confirm('Are you sure you want to post?\nThis cannot be undone');
                  if(res==true)
                  {
                    PostStatementInvoices(); 
                  }
                }
       }
    }
    
    function checkAll(cb)
        {
            var inputElem = document.getElementsByTagName("input");
            var iCount = 0;
            for(var i=0; i<inputElem.length; i++)
            {
            
                if(cb.checked)
                {
                    if(inputElem[i].id.indexOf("cccheckbox1")!=-1) {
                        inputElem[i].checked = cb.checked;
                        iCount++;
                    }
                }
                
                else
                {
                        if(inputElem[i].id.indexOf("cccheckbox1")!=-1) {
                        inputElem[i].checked = cb.checked;
                        iCount--;
                    }
                }
                
            }
            if(cb.checked)
                totalcount=iCount;
            else
                totalcount=0;
        } 
      
        function esc(myid) 
        {
           return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
        }
        $(function() { 
                if($.browser.mozilla) 
                    //table row doean't float in firefox, div floats 
                    $(".floatingHeader" + " tr th div").addClass("floatingStyle");
                    });
    $(document).ready(function() 
    {
        $('.floatingHeaderTable').vfFloatingHeaders();
        
    });
    </script>
</apex:outputPanel>
<apex:sectionHeader title="Statment Reconcile Wizard" subtitle="Step 3 of 3"/>
<apex:form id="frm">
    <apex:pageMessages ></apex:pageMessages>
    <apex:actionFunction action="{!checkIndividualReconcile}" name="updateReconcile" reRender="frm,pblk,pgblksec,pbtable" status="fetchStatus">
            <apex:param value="" assignTo="{!selectedInvoiceId}" name="prm"/>
            <apex:param value="" assignTo="{!selectedInvoice}" name="prm1"/>
            <apex:param value="" assignTo="{!invOrScnCheck}" name="prm2"/>
            </apex:actionFunction>
    <apex:actionstatus id="fetchstatus">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>
    
    <apex:actionFunction action="{!toggleExportReturn}" reRender="frm,pblk,pbtable" name="toggleexportreturn" status="fetchStatus"/>
    <apex:actionFunction action="{!toggleExport}" name="toggleexport" reRender="frm,pblk,pbtable" status="fetchStatus" oncomplete="tableToExcel('{!$Component.Pg.frm.pblk.pbtable.pgbdtble}', '{!$Component.Pg.frm.pblk.pbtable.pgbdtble}','Statement Reconciled Invoices.xls');toggleexportreturn();"/>
                    
 <apex:pageBlock id="pblk" title="Post to Financial Force">
<script> 
                    
            var pTableId = '{!$Component.Pg.frm.pblk.pbtable.pgbdtble}'; 
            var pTableBodyId = pTableId + ':tb';
            var pbsId = '{!$Component.Pg.frm.pblk.pbtable}';
                    
          </script>
<apex:pageBlockSection collapsible="false" columns="4">
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="Selected Date Range :"/>
                <apex:outputLabel value="{!fromdate} - {!todate}"/>
             </apex:pageBlockSectionItem>
             </apex:pageBlockSection>
<apex:pageBlockSection columns="1" collapsible="false" id="pbtable" title="Invoice Summary">
<apex:outputPanel layout="block" style="overflow:auto; height:250px;">
 <apex:pageBlockTable id="pgbdtble"  value="{!LstStmntWrapper}" var="StmtSIWrap" styleclass="floatingHeaderTable">
  <apex:column headerValue="Invoice/SCN Number" >
  <apex:outputPanel > <a href="/{!StmtSIWrap.Recordids}" target="_BLANK"> {!StmtSIWrap.InvName}</a> </apex:outputPanel>
  </apex:column>
  
 <apex:column headerValue="Invoice Date">
<apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
<apex:param value="{!StmtSIWrap.InvDate}"/> 
 </apex:outputText>
 </apex:column>
 <apex:column headerValue="Invoice Total">
 <apex:outputText value="{0,number,$ 0.00}">
 <apex:param value="{!StmtSIWrap.InvTotal}"/>
 </apex:outputText>
 </apex:column>
 <apex:column value="{!StmtSIWrap.SILINum}" headerValue="# of Line Items"/>
 <apex:column value="{!StmtSIWrap.accname}" headerValue="Account Name" />
 <apex:column value="{!StmtSIWrap.accid}" headerValue="Account#" />
 <apex:column value="{!StmtSIWrap.transactionType}" headerValue="Transaction Type"/>
 <apex:column headerValue="Rec">
 <apex:inputCheckbox id="reconciledchckbox" value="{!StmtSIWrap.isReconciled}" onchange="checkboxForRec(this,'{!StmtSIWrap.RecordIds}','{!StmtSIWrap.checkCredit}')" rendered="{!!isExport}"/>
  <apex:outputText value="{!StmtSIWrap.isReconciled}" rendered="{!isExport}" ></apex:outputText>
 </apex:column>
           <apex:column headerClass="centercolpost" style="text-align:center;">
                            <apex:facet name="header">
                                <apex:outputPanel layout="block" >
                                <apex:outputLabel style="position: relative;float: left;padding-left:60px;">Post&nbsp;</apex:outputLabel>
                                <apex:inputCheckbox id="chkbox1" onclick="checkAll(this)" rendered="{!!isExport}"/>
                                 </apex:outputPanel>
                            </apex:facet>
                                 <apex:inputCheckbox id="cccheckbox1" value="{!StmtSIWrap.ischecked}" onchange="checkbox(this,'{!LstStmntWrapper.size}')" rendered="{!!isExport}"/>
                                 <apex:outputText value="{!StmtSIWrap.isReconciled}" rendered="{!isExport}" ></apex:outputText>
            </apex:column>   
       
 
 </apex:pageBlockTable>
 
   </apex:outputPanel>
</apex:pageBlockSection>

<apex:actionPoller action="{!PollingBatchProcess}" enabled="{!polleraction}" interval="5" reRender="frm,pblk,pbtable,pgbdtble,batchPanel,scriptpanel" status="pollingStatus"/>
    
    <apex:pageBlockSection id="batchPanel" columns="1" title="FF Batch Process" rendered="{!isBatchProcessed}">
    <apex:actionStatus startText="(checking progress...)" id="pollingStatus"/>
    <apex:pageBlockSectionItem rendered="{!if(batchId==null,false,true)}">
       <apex:outputLabel style="font-weight:bold;color: #4a4a56;">Status of Financial Force Invoice Batch :</apex:outputLabel> 
       <apex:outputLabel value="{!batchStatus}" style="font-weight:bold;color:{!If(batchStatus=='Completed','green','red')}"> </apex:outputLabel>
    </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem rendered="{!if(SCNbatchId==null,false,true)}">
       <apex:outputLabel style="font-weight:bold;color: #4a4a56;">Status of Financial Force SCN Batch :</apex:outputLabel>
       <apex:outputLabel value="{!SCNbatchStatus}" style="font-weight:bold;color:{!If(SCNbatchStatus=='Completed','green','red')}"> </apex:outputLabel>  
    </apex:pageBlockSectionItem>
    </apex:pageBlockSection> 
    
   <apex:pageBlockSection id="btnPanel" columns="1">
    <apex:pageBlockSectionItem dataStyle="padding-left:50px;">
      <apex:outputPanel >
      <apex:commandButton value="Cancel" style="margin:10px;width:120px;height:30px;font-size:13px" id="CancelSecondStep" action="{!CancelStmtStep}"/>
      <apex:commandButton value="Previous" style="margin:10px;width:120px;height:30px;font-size:13px" id="backSecondStep" action="{!backStmtStep2}"/>
      <apex:commandButton value="Post to FF"  style="margin:10px;width:120px;height:30px;font-size:13px"  status="fetchstatus" onclick="ValidatePostData();return false;" disabled="{!if(LstStmntWrapper.size==0,true,false)}"/>
     <apex:actionFunction action="{!postInvoicestoFF}" name="PostStatementInvoices" reRender="frm,pblk,pbtable,pgbdtble,batchPanel,scriptpanel" status="fetchStatus" />
     <apex:commandButton id="StmntReconciledExportbtn" style="margin:10px;width:120px;height:30px;font-size:13px" value="Export to Excel" onclick="toggleexport();return false;"/>
     <a id="dlink" style="display:none;">Download</a>
     <apex:commandButton value="Finish" style="margin:10px;width:120px;height:30px;font-size:13px" status="fetchstatus" disabled="{!if(LstStmntWrapper.size==0,false,true)}" action="{!CancelStmtStep}"/>
     </apex:outputPanel>
    </apex:pageBlockSectionItem>
   </apex:pageBlockSection>
</apex:pageBlock>
<script type="text/javascript">
    var tableToExcel = (function() {
      var uri = 'data:application/vnd.ms-excel;base64,'
        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
        , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
      return function(table, name,filename) {
        if (!table.nodeType) table = document.getElementById(table)
        var ctx = {worksheet:'Statement Reconciled Invoices before Posting to FF', table: table.innerHTML}
        document.getElementById("dlink").href = uri + base64(format(template, ctx));
        document.getElementById("dlink").download = filename;
        document.getElementById("dlink").click();
        //window.location.href = uri + base64(format(template, ctx))
      }
    })()
</script> 
  </apex:form>                   
</apex:page>