<apex:page controller="BillingDateChangesController" action="{!onLoad}">
	<apex:form >
		<apex:pageBlock >
			<apex:pageBlockButtons >
				<apex:commandButton value="Update" action="{!updateOrderBillingDate}" />
				<apex:commandButton value="Cancel" action="{!cancel}" />
			</apex:pageBlockButtons>
			<apex:pageBlockSection title="Order Details">
				<apex:outputField value="{!objOrder.Name}" />
				<apex:inputField value="{!objOrder.Billing_Anniversary_Date__c}" />
				<apex:outputField value="{!objOrder.Account__c}" />
			</apex:pageBlockSection>
			<apex:pageBlockSection columns="1"  title="Order Line Item Details">
				<apex:pageBlockTable value="{!objOrder.Order_Line_Items__r}" var="or">
					<apex:column value="{!or.Name}" />
					<apex:column value="{!or.Opportunity__c}" />
					<apex:column value="{!or.Order_Anniversary_Start_Date__c}" />
					<apex:column value="{!or.Talus_Go_Live_Date__c}" />
					<apex:column value="{!or.Service_Start_Date__c}" /> 
					<apex:column value="{!or.Service_End_Date__c}" />
					<apex:column value="{!or.Billing_Close_Date__c}" />
					<apex:column value="{!or.Next_Billing_Date__c}" /> 
				</apex:pageBlockTable>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>