<apex:page standardController="Account" extensions="BillingTransferControllerCopy" id="pg" sidebar="false">

    <apex:form id="frm">
    <apex:pageMessages id="errMsg"></apex:pageMessages>
        <apex:actionFunction id="fncname" action="{!CheckBundle}" name="CheckBulndle" reRender="frm,pbsBillingTransfer,nextbutton" status="counterStatus">
            <apex:param name="oliId" value="" assignTo="{!OLIIdforcheck}" />
            <apex:param name="OldValue" value="" assignTo="{!CheckBool}" />
        </apex:actionFunction>
        <apex:actionFunction action="{!fetchLINVIOPaymentMethods}" name="paymentmethodFunction" rerender="pbsBillingTransfer" status="counterStatus" />
        <apex:actionFunction action="{!fetchSalesInvoiceonBasisOfOlis}" name="reDirectToPage3"  status="counterStatus" />
        <apex:actionFunction action="{!billingPartnerSelection}" name="billingPartnerFunction" rerender="pbsBillingTransfer" status="counterStatus" />
        <apex:actionFunction id="fncname1" action="{!selectAll}" name="selectAll" reRender="frm" status="counterStatus">
            <apex:param assignTo="{!selectAllCheck}" name="prm" value=""/>
        </apex:actionFunction>
        <apex:actionstatus id="counterStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;">
                    <div class="waitingHolder" style="width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
        <apex:pageBlock id="pgblk"   rendered="{!IF(OliWrapperList.size > 0, TRUE, FALSE)}">
            <div style="margin-left:11px">
               <!-- <apex:inputCheckbox id="selectAllchkbox" onChange="checkAll(this)" />
                <div style="margin-top: -17px;margin-left: 20px;">
                    <label style="font-weight:bold;font-style:italic;">
                        Select All</label>
                </div> -->
                <apex:pageBlockButtons location="top">
                    <apex:commandButton value="Back to Account" action="/{!accountId}" />
                </apex:pageBlockButtons>
            </div>
            <apex:outputPanel id="OliPanel">
                <apex:repeat value="{!OliWrapperList}" var="pWrapper">

                    <div style="background-color:#8a9ebe;height:25px;margin-top:6px;">
                        <div style="padding-top: 5px;margin-left: 6px;">
                            <h1 style="font-weight:bold;font-style:italic;color:white"> {!pWrapper.editionName}</h1>
                        </div>
                    </div>
                    <apex:pageBlockTable value="{!pWrapper.subWrapper}" var="sWrapper">
                        <apex:column headerValue="Select">
                            &nbsp;&nbsp;
                            <apex:inputCheckbox id="cccheckbox" value="{!sWrapper.isChecked}" onchange="CheckBulndle('{!sWrapper.oli.id}',this.checked)" disabled="{!sWrapper.setDisabled}"/>
                        </apex:column>
                        <apex:column headerValue="Product Name" value="{!sWrapper.oli.ProductCode__c}" />
                        <apex:column headerValue="Item Number" >
                        <apex:outputText rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,true,false)}" escape="false">
                          <a href="/{!sWrapper.oli.BillingTransfer_OLI_Histories__r[0].id}" target="_BLANK">{!sWrapper.oli.name}</a>
                        </apex:outputText>
                        <apex:outputtext escape="false" value="{!sWrapper.oli.name}" rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,false,true)}"/>
                        </apex:column>
                        
                        <apex:column headerValue="Last Transfer Date" >
                                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,true,false)}" escape="false">
                                    <apex:param value="{!sWrapper.oli.BillingTransfer_OLI_Histories__r[0].createddate}"/> 
                                </apex:outputText>
                               
                        <apex:outputtext escape="false" value="NA" rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,false,true)}">
                        </apex:outputtext>
                        </apex:column>
                      <apex:column headerValue="Transfer Today" >
                                <apex:outputText rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,true,false)}" escape="false">
                                    <apex:outputText rendered="{!If(DATEVALUE(sWrapper.oli.BillingTransfer_OLI_Histories__r[0].createddate)=TODAY(),true,false)}" escape="false">
                                    <apex:image url="{!URLFOR($Resource.Billing_Transfer,'/Billing_Transfer/img/yes.jpg')}" width="20" height="20"/>
                                    </apex:outputText>
                                    <apex:outputText rendered="{!If(DATEVALUE(sWrapper.oli.BillingTransfer_OLI_Histories__r[0].createddate)=TODAY(),false,true)}" escape="false">
                                    <apex:image url="{!URLFOR($Resource.Billing_Transfer,'/Billing_Transfer/img/cancel.png')}" width="16" height="16"/> 
                                    </apex:outputText>                              
                                </apex:outputText>
                               
                        <apex:outputtext escape="false"  rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,false,true)}">
                        <apex:image url="{!URLFOR($Resource.Billing_Transfer,'/Billing_Transfer/img/cancel.png')}" width="16" height="16"/> 
                        </apex:outputtext>                      
                        </apex:column>                                                                        
                        <apex:column headerValue="Go Live Date" value="{!sWrapper.oli.Talus_Go_Live_Date__c}"/>
                        <apex:column headerValue="Bundle Indicator" value="{!sWrapper.oli.Package_ID_External__c}" />
                        <apex:column headerValue="Heading" value="{!sWrapper.oli.Directory_Heading__r.name}" />

                        <apex:column headerValue="Status" value="{!sWrapper.oli.Status__c}" />
                        <apex:column headerValue="Billing Partner" value="{!sWrapper.oli.Billing_Partner__c}" />
                        <apex:column headerValue="Payment Method" value="{!sWrapper.oli.Payment_Method__c}" />
                        <apex:column headerValue="Bill Frequency" value="{!sWrapper.oli.Billing_Frequency__c }" />
                        <apex:column headerValue="Product Amount" value="{!sWrapper.oli.UnitPrice__c}" />

                    </apex:pageBlockTable>
                  <div style="margin-left:79%;font-weight:bold;color:blue;font-style:italic;margin-top: 3px;"><apex:outputText style="font-style:italic;">Total OLI</apex:outputText></div> <div style="margin-left: 89%;margin-top: -16px;margin-bottom: 5px;">${!pWrapper.totalGrossAmount}</div>
                </apex:repeat>
            </apex:outputPanel>

            <apex:outputPanel id="pbsBillingTransfer">
                <apex:pageBlockSection columns="2" title="Billing Transfer Information">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Reason For Transfer" />
                        <apex:selectList id="sltReasonForTransfer" value="{!selectedReasonForTransfer}" size="1">
                            <apex:selectOptions value="{!reasonForTransferList}" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Transfer to Account" />
                        <apex:selectList value="{!selectedAccountID}" size="1" disabled="{!accountCheck}">
                            <apex:selectOptions value="{!accountPickList}" />
                            <apex:actionSupport event="onchange" action="{!loadContactPickList}" reRender="frm" status="counterStatus"/>
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Billing Contact" />
                        <apex:selectList id="sltContact" value="{!selectedContactID}" size="1" disabled="{!contactCheck}">
                            <apex:selectOptions value="{!contactPickList}" />
                            <apex:actionSupport action="{!fetchLINVIOPaymentMethods}" event="onchange" rerender="errMsg,pbsBillingTransfer" status="counterStatus" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Billing Partner" />
                            <apex:selectList id="sltpartner" value="{!selectedPartner}" size="1" disabled="{!billingPartnerCheck}">
                            <apex:selectOptions value="{!billingPartnerPickList}" />
                            <apex:actionSupport action="{!billingPartnerSelection}" event="onchange" rerender="errMsg,pbsBillingTransfer" status="counterStatus" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Payment Method" />
                        <apex:selectList id="sltPaymentMethod" value="{!selectedPayment}" size="1" disabled="{!paymentMethodCheck}">
                            <apex:selectOptions value="{!paymentMethodPickList}" />
                            <apex:actionSupport action="{!fetchLINVIOPaymentMethods}" event="onchange" rerender="errMsg,pbsBillingTransfer" status="counterStatus" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!linvioPymtMtdBool}">
                        <apex:outputLabel value="LINVIO Payment Methods" />
                        <apex:selectList value="{!selectedLINVIOPymtMtd}" size="1" disabled="{!LinvioCheck}">
                            <apex:selectOptions value="{!pymtMtdLINVIOPickList}" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <apex:pageBlockSection title="Billing Frequency Information">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Billing Frequency" />
                        <apex:selectList id="sltFrequency" value="{!selectedFrequency}" size="1" disabled="{!OR(billingFrequencyCheck,oliDigitaCheck)}">
                            <apex:selectOptions value="{!billingFrequencyPickList}" />
                            <apex:actionSupport action="{!billingFrequencySelection}" event="onchange" rerender="errMsg,pbsBillingTransfer" status="counterStatus" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <script>
                //alert('{!LinvioCheck}');
                </script>
                <apex:commandButton value=" << Previous" action="{!Step1}" />
                <apex:commandButton value="Next >> " id="nextbutton" action="{!Step3}" reRender="frm,alertPanel"  status="counterStatus" disabled="{!nextButtonCheck}" oncomplete="checkAlreadyTransfer();"  /> 
            </apex:outputPanel>

        </apex:pageBlock>
        <apex:outputPanel id="alertPanel">
            <script>
            
            function checkAlreadyTransfer()
            {
                if({!alreadyTransfer})
                 {
                       var check = confirm('{!MatchedOLisForTodayTransfer}' + ' has already been transferred today, do you wish to continue?.');
                       if (check) 
                       {
                           if({!alertForNoChange})
                               alertForNoChangeFunction();
                           else
                               reDirectToPage3();
                       } 
                 }
                 else if({!alertForNoChange})
                 {
                     alertForNoChangeFunction();
                 }
                 else
                 {
                     reDirectToPage3();
                 }
                 
                 
            }
                function alertForNoChangeFunction()
                {
                    var selectedOlis='{!MatchedOLis}';
                    if(selectedOlis=='' || selectedOlis==null)
                    {
                        reDirectToPage3();
                    }
                    else {
                        var check = confirm('{!MatchedOLis}' + ' has no change, you still want to continue.');
                        if (check) {
                            reDirectToPage3();
                        }
                    }
                  }
            </script>
        </apex:outputPanel>

    </apex:form>
 

    <script>
function checkAll(cb) {
    var inputElem = document.getElementsByTagName("input");
    var iCount = 0;
    for (var i = 0; i < inputElem.length; i++) {

        if (cb.checked) {
            if (inputElem[i].id.indexOf("cccheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount++;
            }
            
        }

        else {
            if (inputElem[i].id.indexOf("cccheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount--;
            }
        }

    }
    if(iCount>0)
        selectAll(cb.checked);
    else
        selectAll(false);
}

function CheckBulndle1(oliId, check) {
    alert(oliId);
    alert(check);
    CheckBulndle(oliId, check)
}
    </script>

</apex:page>