<apex:page controller="BillingWizard_v1" sidebar="false" tabStyle="Telco__c" id="Pg" showHeader="false">
 <apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery-1.7.1.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery.vfFloatingHeaders.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery.pajinate.js')}"/>
<style>
.tableContainer
        {
            height:290px; 
            width: 100%;
            overflow: auto;
        }       
        .floatingStyle 
        { 
            position:relative; 
        } 
.tdhead
{
color:#4a4a56;
text-align: center;
font-size: 91%;
font-weight: bold;
width:20%;
background-color:#A4A4A4;
height:20px;
padding-top:10px;
}
.tdheadtable
{
color:#4a4a56;
text-align: center;
font-size: 91%;
font-weight: bold;
background-color:#A4A4A4;
height:20px;
padding-top:10px;
}
.tdtxt
{
color:#4a4a56;
text-align: center;
font-size: 12px;
font-weight: bold;
width:20%;
height:20px;
padding-top:10px;
}
.page_navigation{
            font-family: tahoma;
            font-size: 11px;
            float: right;
            padding-right:0px;
        }
        
        .page_navigation a{
            text-decoration: none;
            padding: 3px 5px;
            margin: 0 2px;
            background-color: #28ADD9;
            color: white;
            display: block;
            float: left;
            text-align: center;
        }
        
        .page_navigation .active_page{
            background-color: white;
            color: black;
        }
        
        .block{
            display:block;
        }
        
        .panel {
            width: 40%;
            float: left;
            padding: 0 30px;
            
        }
        
        .demo2 .page_navigation a{
            background-color: orange;
            color: black;
        }
        
        .demo2 .page_navigation .active_page{
            background-color: transparent;
            color: white;
        }
</style>

<apex:sectionHeader title="P4P Wizard" subtitle="Step 2 of 2"/>
 
  <apex:form id="frm">
  <apex:pageMessages ></apex:pageMessages>
  <apex:actionstatus id="fetchStatus">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
              <apex:pageBlock title="P4P Invoice Reconcilation & Post to Financial Force" id="pblk">
          <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem >
              <apex:outputLabel >Selected Date Range:</apex:outputLabel> 
              <apex:outputLabel >
              <apex:outputText value="{!fromdate}"/>
                 &nbsp; - &nbsp; 
              <apex:outputText value="{!todate}"/>
                  </apex:outputLabel>
              </apex:pageBlockSectionItem>  
                </apex:pageBlockSection>
               
         <apex:pageBlockSection columns="1" collapsible="false" id="pgblksec">
          <div class="page_navigation"></div>
          <script> 
            var pTableId = '{!$Component.Pg.frm.pblk.pgblksec.pbtable}'; 
            var pTableBodyId = pTableId + ':tb';
            var pbsId = '{!$Component.Pg.frm.pblk.pgblksec}';
                    
          </script>
        <apex:actionFunction name="aSelectItem" action="{!doReconcileInvoice}" reRender="Pg,frm,pblk,pgblksec,pbtable" status="fetchStatus">
            <apex:param name="selectedInvoice" value="" assignTo="{!selectedInvoice}"/>
            <apex:param name="selectedInvoiceId" value="" assignTo="{!selectedInvoiceId}"/>
        </apex:actionFunction>
        <apex:actionFunction action="{!postInvoicestoFF}" name="PostInvoices" reRender="frm,pblk,pgblksec,pbtable" status="fetchStatus"/>
        <apex:outputPanel style="width:100%;height:285px;overflow:auto;margin:0px auto;" layout="block" styleClass="tableContainer">
          <apex:pageBlockTable id="pbtable"  value="{!ListP4PWrapper}" var="P4PWrap" style="" styleclass="floatingHeaderTable">
               <apex:column headerValue="Account Name" value="{!P4PWrap.AccountName}" headerClass="tdheadtable" style="text-align:center;width:250px"/>
                
                <apex:column headerValue="Account #" value="{!P4PWrap.AccNum}" headerClass="tdheadtable" style="text-align:center;width:150px"/>
                
                <apex:column headerValue="SIN/SCR" headerClass="tdheadtable" style="text-align:center;width:200px">
                 <a href="/{!IF(P4PWrap.checkCredit,P4PWrap.SCNLItem.c2g__CreditNote__c,P4PWrap.InvoiceLItem.c2g__Invoice__c)}" target="_blank">
                  {!IF(P4PWrap.checkCredit,P4PWrap.SCNLItem.c2g__CreditNote__r.Name,P4PWrap.InvoiceLItem.c2g__Invoice__r.Name)}
                  </a> 
                       
                </apex:column>
                <apex:column headerValue="Transaction Type" headerClass="tdheadtable" style="text-align:center;width:100px" value="{!P4PWrap.TransactionType}"/>
                <apex:column headerValue="OLI #" headerClass="tdheadtable" style="text-align:center;width:150px">
                  <a href="/{!IF(P4PWrap.checkCredit,P4PWrap.SCNLItem.Order_Line_Item__c,P4PWrap.InvoiceLItem.Order_Line_Item__c)}" target="_blank">
                  {!IF(P4PWrap.checkCredit,P4PWrap.SCNLItem.Order_Line_Item__r.Name,P4PWrap.InvoiceLItem.Order_Line_Item__r.Name)}
                  </a>    
                </apex:column>
                 <apex:column headerValue="# of Calls" headerClass="tdheadtable" style="text-align:center;width:50px" value="{!P4PWrap.NumCall}">
                 </apex:column>
                  <apex:column headerValue="Cost/Call" headerClass="tdheadtable" style="text-align:center;width:100px">
                  <apex:outputText value="{0,number,$ 0.00}">
                       <apex:param value="{!P4PWrap.CostperCall}"/> 
                 </apex:outputText>
                 
                 </apex:column>
                  
                <apex:column headerValue="Total" headerClass="tdheadtable" style="text-align:center;width:150px">
                <apex:outputText value="{0,number,$ 0.00}">
                       <apex:param value="{!P4PWrap.TotalAmount}"/> 
                 </apex:outputText>
                </apex:column>
                <apex:column headerClass="tdheadtable" style="text-align:center;width:150px" headerValue="Gross Total">
                <apex:outputText value="{0,number,$ 0.00}">
                       <apex:param value="{!P4PWrap.GrossTotal}"/> 
                 </apex:outputText>
                 </apex:column>
                 <apex:column headerClass="tdheadtable" style="text-align:center;width:150px" headerValue="Tax Total" >
                 <apex:outputText value="{0,number,$ 0.00}">
                       <apex:param value="{!P4PWrap.TaxTotal}"/> 
                 </apex:outputText>
                 </apex:column>
                  <apex:column headerClass="tdheadtable" style="text-align:center;width:150px" headerValue="Net Total SIN/SCR">
                  <apex:outputText value="{0,number,$ 0.00}">
                       <apex:param value="{!P4PWrap.NetTotal}"/> 
                 </apex:outputText>
                 </apex:column>
                  <apex:column headerClass="tdheadtable" style="text-align:center;width:80px" headerValue="Rec">
                     <apex:inputCheckbox id="reconciledchckbox" value="{!P4PWrap.ischeckedForRec}" rendered="{!!isExport}"/>
                     <apex:outputText value="{!P4PWrap.ischeckedForRec}" rendered="{!isExport}" ></apex:outputText>
                 </apex:column>
                 <apex:column headerClass="tdheadtable" style="text-align:center;width:130px;">
                  <apex:facet name="header">
                                <apex:outputPanel >
                                <apex:outputLabel style="position: relative;float: left;margin-left:12px" >Post&nbsp;</apex:outputLabel>
                                <apex:inputCheckbox style="float: left;position: relative;margin: 2px;" id="chkbox1" onclick="checkAll(this)" rendered="{!!isExport}"/>
                                 </apex:outputPanel>
                            </apex:facet>
                                 <apex:inputCheckbox id="invoicepostchckbox" value="{!P4PWrap.ischecked}" onchange="checkbox(this,'{!ListP4PWrapper.size}')" rendered="{!!isExport}" />
                                  <apex:outputText value="{!P4PWrap.ischecked}" rendered="{!isExport}" ></apex:outputText>
                        </apex:column>             
                </apex:pageBlockTable>
            
             </apex:outputPanel>
             <div class="page_navigation"></div>
           </apex:pageBlockSection>
           
    <apex:actionPoller action="{!PollingBatchProcess}" enabled="{!polleraction}" interval="5" reRender="frm,pblk,pbtable,batchPanel,btnPanel,scriptpanel" status="pollingStatus"/>
    
    <apex:pageBlockSection id="batchPanel" columns="1" title="FF Batch Process" rendered="{!isBatchProcessed}">
    <apex:actionStatus startText="(checking progress...)" id="pollingStatus"/>
    <apex:pageBlockSectionItem rendered="{!if(batchId==null,false,true)}">
       <apex:outputLabel style="font-weight:bold;color: #4a4a56;">Status of Financial Force Invoice Batch :</apex:outputLabel> 
       <apex:outputLabel value="{!batchStatus}" style="font-weight:bold;color:{!If(batchStatus=='Completed','green','red')}"> </apex:outputLabel>
    </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem rendered="{!if(SCNbatchId==null,false,true)}">
       <apex:outputLabel style="font-weight:bold;color: #4a4a56;">Status of Financial Force SCN Batch :</apex:outputLabel>
       <apex:outputLabel value="{!SCNbatchStatus}" style="font-weight:bold;color:{!If(SCNbatchStatus=='Completed','green','red')}"> </apex:outputLabel>  
    </apex:pageBlockSectionItem>
    </apex:pageBlockSection>   
    
           <apex:pageBlockSection >
      <apex:pageBlockSectionItem >
      <apex:outputPanel >
      <apex:inputCheckbox value="{!isReconcile}" id="check">
            <apex:actionSupport event="onclick" action="{!UpdateInvoicesReconciled}" reRender="pgblk,pgblksec"  status="fetchStatus" /> 
      </apex:inputCheckbox>
      <span style="font-weight:bold;color: #4a4a56;">Reconciled</span>
      </apex:outputPanel>
      </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem dataStyle="text-align:right">
      <apex:commandButton value="Post to FF" reRender="Pg,frm,pgblk,pgblksec,pbtable,batchPanel,scriptpanel" style="margin:10px;width:120px;height:30px;font-size:13px" status="fetchStatus" onclick="ValidatePostData();return false;"/>
      </apex:pageBlockSectionItem>
      </apex:pageBlockSection>
   <apex:actionFunction action="{!toggleExportReturn}" reRender="frm,pgblksec,pbtable" name="toggleexportreturn" status="fetchStatus"/>
<apex:actionFunction action="{!toggleExport}" name="toggleexport" reRender="frm,pgblksec,pbtable" status="fetchStatus" oncomplete="tableToExcel('{!$Component.Pg.frm.pblk.pgblksec.pbtable}', '{!$Component.Pg.frm.pblk.pgblksec.pbtable}','P4P Invoices.xls');toggleexportreturn();"/>

   <apex:pageBlockSection id="btnPanel">
    <apex:pageBlockSectionItem >
    <apex:outputPanel >
      <apex:commandButton id="Exportbtn" value="Export to Excel" style="margin:10px;width:120px;height:30px;font-size:13px" onclick="toggleexport();return false;"/>
     <a id="dlink" style="display:none;">Download</a>
    </apex:outputPanel>
    </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem dataStyle="text-align:right">
     <apex:outputPanel >
     <apex:commandButton value="Cancel" style="margin:10px;width:120px;height:30px;font-size:13px" action="{!gobackP4Pstep}"/>
     <apex:commandButton value="Save" style="margin:10px;width:120px;height:30px;font-size:13px" action="{!saveCheckedReconcile}" reRender="frm,pgblk,pgblksec,pbtable" status="fetchStatus"/>
     <apex:commandButton value="Finish" style="margin:10px;width:120px;height:30px;font-size:13px" action="{!gobackfinishstep}" disabled="{!if(ListP4PWrapper.size==0,false,true)}"/>
    </apex:outputPanel>
     </apex:pageBlockSectionItem>  
   </apex:pageBlockSection>
               
           </apex:pageBlock>
           
                  
    </apex:form>
    <apex:outputPanel id="scriptpanel">
    <script>
    var totalcount=0;
    function checkbox(getchkbox,listsize)
    {
        if(totalcount<0)
            totalcount=0;
        if(getchkbox.checked)
        {
            totalcount=totalcount+1;
        }
        else
        {   
            totalcount=totalcount-1;
            document.getElementById('Pg:frm:pblk:pgblksec:pbtable:chkbox1').checked=false;
        }
    }
    function ValidatePostData()
    {
      var lstsize='{!ListP4PWrapper.size}';
      var countunchecked=0;
      for(var i=0;i<lstsize;i++)
      {
              var recchk=document.getElementById('Pg:frm:pblk:pgblksec:pbtable:'+i+':reconciledchckbox').checked;
              var postchk=document.getElementById('Pg:frm:pblk:pgblksec:pbtable:'+i+':invoicepostchckbox').checked;
              if(postchk  ==true && recchk==false)
              {
                  countunchecked=countunchecked+1;
              }
       }
          if(countunchecked>0)
          {
             alert('You are about to submit '+countunchecked+' unreconciled records');
              if(totalcount<0)
               totalcount=0;
                if(totalcount<=0)
                alert('Please select invoices for Posting to FinancialForce');
                else
                {
                  var res=confirm('Are you sure you want to post?\nThis cannot be undone');
                  if(res==true)
                  {
                    PostInvoices(); 
                  }
                }
         }
         else if(countunchecked==0)
         {
                if(totalcount<0)
               totalcount=0;
                if(totalcount<=0)
                alert('Please select invoices for Posting to FinancialForce');
                else
                {
                  var res=confirm('Are you sure you want to post?\nThis cannot be undone');
                  if(res==true)
                  {
                    PostInvoices(); 
                  }
                }
         }
    }
    $(function() { 
                if($.browser.mozilla) 
                    //table row doean't float in firefox, div floats 
                    $(".floatingHeader" + " tr th div").addClass("floatingStyle");
                    });
    $(document).ready(function() 
    {
        $('.floatingHeaderTable').vfFloatingHeaders();
        /*$(esc(pbsId)).pajinate({
                item_container_id : esc(pTableBodyId),
                items_per_page : 50
            });
            $('.demo2').pajinate();
            */
    });
    
    function checkAll(cb)
        {
            var inputElem = document.getElementsByTagName("input");
            var iCount = 0;
            for(var i=0; i<inputElem.length; i++)
            {
                if(inputElem[i].id.indexOf("invoicepostchckbox")!=-1) 
                {
                    inputElem[i].checked = cb.checked;
                    iCount++;
                }
                
            }
            if(cb.checked)
            {
                if(iCount==1)
                {
                  totalcount=1;
                }
                else
                {
                totalcount=iCount-1;
                }            
            }
            else
                totalcount=0;
        } 
      
        function esc(myid) 
        {
           return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
        }
    </script> 
 <script type="text/javascript">
var tableToExcel = (function() {
  var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
  return function(table, name,filename) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet:'Telco Invoices', table: table.innerHTML}
    document.getElementById("dlink").href = uri + base64(format(template, ctx));
    document.getElementById("dlink").download = filename;
    document.getElementById("dlink").click();
    //window.location.href = uri + base64(format(template, ctx))
  }
})()
</script>   
</apex:outputPanel>             
</apex:page>