<apex:page controller="BillingWizard_v1" sidebar="false" tabStyle="Telco__c" id="Pg" showHeader="false" docType="html-5.0">
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery-1.7.1.min.js')}"/>
<script>
     function setFocusOnLoad(){}
      (function() 
    {
        var windowOnload = window.onload; 
        window.onload = function() 
        { 
            if (windowOnload) windowOnload(); 
            var select = document.getElementById('calYearPicker'); 
            if (!select) return; 
            select.innerHTML = ''; 
            var startYear = new Date().getFullYear()-10; 
            for (var year = startYear; year < startYear + 100; year++) 
            { 
                select.options[select.options.length] = new Option(year, year); 
            } 
        } 
    }());
    
    function checkformrequest()
        {
          var dateString = document.getElementById('Pg:frm:processpblk:stmtsec:stmtitem:StmntFromDate').value;
          var myDate = new Date(dateString);
          var today = new Date();
          if (myDate>today)
          { 
            //alert('The statement job can not run for a future date. Please enter a valid date.')
            validatedstmtrequest();
          }
          else
          {
              validatedstmtrequest(); 
              
          }
         }  
</script>
<style>

</style>
  <apex:form id="frm">
 <apex:actionFunction name="validatedstmtrequest" action="{!checkInvoicesforCreateStatement}" status="fetchStatus" reRender="frm"/>
  <apex:sectionHeader title="Billing Wizard" subtitle="{!subtitle}"/>
    <apex:pageMessages ></apex:pageMessages>
  <apex:actionstatus id="fetchStatus">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>

 <apex:pageBlock title="Process Selection" id="processpblk">
          <apex:pageBlockSection columns="1">
                    <apex:selectRadio value="{!selectedval}">
                        <apex:selectOptions value="{!items}" />
                        <apex:actionSupport event="onclick" action="{!PopulateSelectedPanel}" reRender="frm,SelectionPanel" status="fetchStatus"/>
                    </apex:selectRadio>               
          </apex:pageBlockSection>

<apex:outputPanel id="SelectionPanel">
 <!-- Digital Panel -->            
<apex:outputPanel id="showdigitallocal" rendered="{!showdigitalpanel}">
 <apex:actionFunction name="populatebillingEntity" action="{!populateEdition}" status="fetchStatus" reRender="editionPanel,countPanel,btnPanel,GobuttonPanel"/>
<apex:pageBlockSection title="Digital Local/Foreign">

<apex:pageBlockSectionItem >
<apex:outputLabel value="Bill prep Date"></apex:outputLabel> 
<apex:actionRegion renderRegionOnly="false">
 <apex:inputText value="{!telcoBilldate}" id="billdate" onfocus="DatePicker.pickDate(false,this,false);"  onblur="populatebillingEntity();"/> 
<!--<apex:input type="date" value="{!telcoBilldate}" id="billdate" onblur="populatebillingEntity();"/> -->
</apex:actionRegion>  
</apex:pageBlockSectionItem>
                   
</apex:pageBlockSection>
<apex:pageBlockSection id="GobuttonPanel">
<apex:pageBlockSectionItem >
<apex:outputLabel value="Billing Entity"></apex:outputLabel>
<apex:outputPanel >
<apex:selectList value="{!directoriesEdition}" multiselect="false" size="1">
<apex:selectOptions value="{!directoryEdition}"/>
 </apex:selectList>
 &nbsp;&nbsp;<apex:commandButton value="Go" action="{!checkInvoicesforDigital}" reRender="countPanel,DigitalbtnPanel" status="fetchStatus"/>
 </apex:outputPanel>
</apex:pageBlockSectionItem>

</apex:pageBlockSection>
<apex:pageBlockSection id="countPanel" columns="1">
<p style="color: #4a4a56;text-align: left;padding-left:120px;font-weight: bold;width:300px;" >
{!DigitalAccountCounts} Accounts and {!DigitalInvoiceCounts} Invoices for the selections.
</p>
</apex:pageBlockSection>
<apex:pageBlockSection id="DigitalbtnPanel" >
<apex:pageBlockSectionItem dataStyle="padding-left:50px;">
<apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px"/>
<apex:commandButton value="Start" disabled="{!enablebtn}" action="{!goDigitalStep1}" style="width:120px;height:30px;font-size:13px" status="fetchStatus" />
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
</apex:outputPanel>
      <!-- Digital Panel End Here -->
  <!-- Subsequent Panel Start Here -->
  <apex:outputPanel id="Subsequentpanel" rendered="{!showsubsequentpanel}">
  <apex:pageBlockSection title="Subseqent Print Local/Foreign" collapsible="false">
      <apex:outputPanel >
     <apex:pageBlockSectionItem >
     <apex:outputLabel value="Invoice Date :" style="font-weight: bold;padding-top:5px;padding-bottom:10px"/>&nbsp;&nbsp;<br/><br/>
     </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem >
     <apex:outputLabel ><b>From: &nbsp;</b></apex:outputLabel>
        <apex:inputText value="{!fromdate}" id="fromdate" onfocus="DatePicker.pickDate(false, this , false);" />
     </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem >
     <apex:outputLabel style="padding-left:5px;"><b>To: &nbsp;</b></apex:outputLabel>
        <apex:inputText value="{!todate}" id="todate" onfocus="DatePicker.pickDate(false, this , false);"/>
     </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem dataStyle="padding-left:10px;">
       <apex:commandButton value="Go" action="{!CheckInvoicesforSubsequent}" reRender="Subsequentpanel,countPanel,SubsequentbtnPanel" status="fetchStatus"/><br/>
      </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem >
       <apex:outputPanel id="countPanel">
                    <p style="color: #4a4a56;text-align: left;font-weight: bold;width:300px;" >
                    {!AccountCounts} Accounts and {!InvoiceCounts} Invoices for the selections
                    </p>
       </apex:outputPanel>
       </apex:pageBlockSectionItem>
      </apex:outputPanel>
</apex:pageBlockSection>
<apex:pageBlockSection id="SubsequentbtnPanel" >
    <apex:pageBlockSectionItem dataStyle="padding-left:50px;">
      <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px" action="{!cancelSubsequentStep}"/>
      <apex:commandButton value="Start" disabled="{!enablesubsequentbtn}" style="width:120px;height:30px;font-size:13px" action="{!enterSubsequentStep1}" status="fetchStatus"/>
    </apex:pageBlockSectionItem>
  </apex:pageBlockSection>
  </apex:outputPanel>
  <!-- Subsequent Panel End Here -->    
 <!-- Print Panel -->    
 <br/>        
<apex:outputPanel id="PrintPanel" rendered="{!showprintpanel}">
<apex:actionFunction name="populateEdition" action="{!populateEdition}" status="fetchStatus" reRender="editionPanel,countPanel,btnPanel"/>
<apex:pageBlockSection title="First Month Print">
<apex:pageBlockSectionItem >
<apex:outputLabel value="Select Bill Prep Date"></apex:outputLabel>
<apex:inputText value="{!telcoBilldate}" id="billdate" onfocus="DatePicker.pickDate(false,this,false);" onblur="populateEdition();" />                           
<!--<apex:input type="date" value="{!telcoBilldate}" id="billdate" onblur="populateEdition()"/> -->  
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
<apex:pageBlockSection id="editionPanel">
<apex:pageBlockSectionItem >
<apex:outputLabel value="Directory Edition"></apex:outputLabel>
<apex:outputPanel >
<apex:selectList value="{!directoriesEdition}" multiselect="false" size="1">
            <apex:selectOptions value="{!directoryEdition}"/>
            </apex:selectList>
 &nbsp;&nbsp;<apex:commandButton value="Go" action="{!checkInvoices}" reRender="countPrintPanel,btnPanel" status="fetchStatus"/>
</apex:outputPanel>
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
<apex:pageBlockSection columns="1">
<apex:outputPanel id="countPrintPanel">
<p style="color: #4a4a56;text-align: left;padding-left:120px;font-weight: bold;width:300px;" >
{!AccountCounts} Accounts and {!InvoiceCounts} Invoices for the selections.
</p>
</apex:outputPanel>
</apex:pageBlockSection>
<apex:pageBlockSection id="btnPanel" >
<apex:pageBlockSectionItem dataStyle="padding-left:50px;">
  <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px"/>
  <apex:commandButton value="Start" disabled="{!IF(AND(NOT(ISBLANK(AccountCounts)),AccountCounts>0),false,true)}" style="width:120px;height:30px;font-size:13px" action="{!enterStep1}" status="fetchStatus"/>
</apex:pageBlockSectionItem>

  
</apex:pageBlockSection>
</apex:outputPanel>
      <!-- Print Panel End Here -->
      
 <!-- Credit Card Panel -->            
<apex:outputPanel id="CreditCardPanel" rendered="{!showcreditpanel}">
    <apex:pageBlockSection title="Credit Card" columns="1">
     <apex:pageBlockSectionItem >
     <apex:outputPanel >
     <apex:outputLabel value="Payment Method:" style="color: #4a4a56;font-weight: bold;width:300px;"/>
            <apex:selectList value="{!paymentType}" size="1"  >
                    <apex:selectOptions value="{!PaymentMethods}"/>
       </apex:selectList>
     </apex:outputPanel>
     </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
     <apex:pageBlockSection >
     <apex:pageBlockSectionItem >
     <apex:outputPanel >
       <apex:outputLabel value="Invoice Date :" style="color: #4a4a56;font-weight: bold;padding-top:5px;padding-bottom:10px"/>
     </apex:outputPanel>
     </apex:pageBlockSectionItem>
   </apex:pageBlockSection>
   <apex:pageBlockSection >
    <apex:outputPanel >
     <apex:pageBlockSectionItem >
     <apex:outputLabel style="color:#4a4a56;font-weight:bold;">From: &nbsp;</apex:outputLabel>
        <apex:inputText value="{!fromdate}" id="fromdate" onfocus="DatePicker.pickDate(false, this , false);" />
     </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem >
     <apex:outputLabel style="color:#4a4a56;font-weight:bold;">To: &nbsp;</apex:outputLabel>
        <apex:inputText value="{!todate}" id="todate" onfocus="DatePicker.pickDate(false, this , false);"/>
     </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem dataStyle="padding-left:10px;">
       <apex:commandButton value="Go" action="{!CheckInvoicesforCreditCard}" reRender="CreditCardPanel,CCcountPanel,CCbtnPanel" status="fetchStatus"/><br/>
      </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem >
       <apex:outputPanel id="CCcountPanel">
                    <p style="color: #4a4a56;text-align: left;font-weight: bold;width:300px;" >
                    {!CCAccountCount} Accounts and {!CCInvoiceCount} Invoices for the selections
                    </p>
       </apex:outputPanel>
       </apex:pageBlockSectionItem>
     </apex:outputPanel>
  </apex:pageBlockSection>
<apex:pageBlockSection id="CCbtnPanel" >
    <apex:pageBlockSectionItem dataStyle="padding-left:50px;">
      <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px" action="{!CancelCCStep}"/>
      <apex:commandButton value="Start" disabled="{!IF(AND(NOT(ISBLANK(CCAccountCount)),CCAccountCount>0),false,true)}" style="width:120px;height:30px;font-size:13px" action="{!CCStep2}" status="fetchStatus"/>
    </apex:pageBlockSectionItem>
   </apex:pageBlockSection>
</apex:outputPanel>
      <!-- Credit Card Panel End Here -->

 <!-- P4P Panel -->            
<apex:outputPanel id="P4PPanel" rendered="{!showp4ppanel}">
     <apex:pageBlockSection title="P4P" columns="4">
     <apex:outputPanel >
     <apex:pageBlockSectionItem >
     <apex:outputLabel value="Invoice Date :" style="font-weight: bold;padding-top:5px;padding-bottom:10px"/>&nbsp;&nbsp;<br/><br/>
     </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem >
     <apex:outputLabel ><b>From: &nbsp;</b></apex:outputLabel>
        <apex:inputText value="{!fromdate}" id="fromdate" onfocus="DatePicker.pickDate(false, this , false);" />
     </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem >
     <apex:outputLabel style="padding-left:5px;"><b>To: &nbsp;</b></apex:outputLabel>
        <apex:inputText value="{!todate}" id="todate" onfocus="DatePicker.pickDate(false, this , false);"/>
     </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem dataStyle="padding-left:10px;">
       <apex:commandButton value="Go" action="{!CheckInvoicesforP4P}" reRender="P4PPanel,countPanel,P4PbtnPanel" status="fetchStatus"/><br/>
      </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem >
       <apex:outputPanel id="countPanel">
                    <p style="color: #4a4a56;text-align: left;font-weight: bold;width:300px;" >
                    {!AccountCounts} Accounts and {!InvoiceCounts} Invoices for the selections
                    </p>
       </apex:outputPanel>
       </apex:pageBlockSectionItem>
      </apex:outputPanel>
</apex:pageBlockSection>
<apex:pageBlockSection id="P4PbtnPanel" >
    <apex:pageBlockSectionItem dataStyle="padding-left:50px;">
      <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px"/>
      <apex:commandButton value="Start" disabled="{!enableP4Pbtn}" style="width:120px;height:30px;font-size:13px" action="{!enterP4PStep1}" status="fetchStatus"/>
    </apex:pageBlockSectionItem>
   </apex:pageBlockSection> 
</apex:outputPanel>
      <!-- P4P Card Panel End Here -->

       <!--Reconcile Statement Panel -->
<apex:outputPanel id="ReconcileStatementPanel" rendered="{!showReconcileStmtpanel}">

  <apex:pageBlockSection title="Reconcile Statement" columns="4">
     <apex:outputPanel >
     <apex:pageBlockSectionItem >
     <apex:outputLabel value="Invoice Date :" style="font-weight: bold;padding-top:5px;padding-bottom:10px"/>&nbsp;&nbsp;<br/><br/>
     </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem >
     <apex:outputLabel ><b>From: &nbsp;</b></apex:outputLabel>
        <apex:inputText value="{!fromdate}" id="fromdate" onfocus="DatePicker.pickDate(false, this , false);" />
     </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem >
     <apex:outputLabel style="padding-left:5px;"><b>To: &nbsp;</b></apex:outputLabel>
        <apex:inputText value="{!todate}" id="todate" onfocus="DatePicker.pickDate(false, this , false);"/>
     </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem dataStyle="padding-left:10px;">
       <apex:commandButton value="Go" action="{!checkInvoicesforStatement}" reRender="ReconcileStatementPanel,countstmtPanel,StmtbtnPanel" status="fetchStatus"/><br/>
      </apex:pageBlockSectionItem>
      <apex:pageBlockSectionItem >
       <apex:outputPanel id="countstmtPanel">
                    <p style="color: #4a4a56;text-align: left;font-weight: bold;width:300px;" >
                    {!stmtAccountCounts} Accounts and {!stmtInvoiceCounts} Invoices for the selections
                    </p>
       </apex:outputPanel>
       </apex:pageBlockSectionItem>
      </apex:outputPanel>
</apex:pageBlockSection>
<apex:pageBlockSection id="StmtbtnPanel" >
    <apex:pageBlockSectionItem dataStyle="padding-left:50px;">
      <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px" action="{!CancelStmtStep}"/>
      <apex:commandButton value="Start" disabled="{!IF(AND(NOT(ISBLANK(stmtAccountCounts)),stmtAccountCounts>0),false,true)}" style="width:120px;height:30px;font-size:13px" status="fetchStatus" action="{!StmtStep1}" />
    </apex:pageBlockSectionItem>
   </apex:pageBlockSection>
</apex:outputPanel>
      <!-- Reconcile Statement Panel End Here --> 
      
            
       <!--Create Statement Panel -->
<apex:outputPanel id="CreateStatementPanel" rendered="{!showCreateStmtPanel}">
       <apex:pageBlockSection title="Create Statement" columns="2" id="stmtsec"> 
       <apex:outputPanel id="stmtPnl">
        <apex:pageBlockSectionItem >
        <apex:outputLabel value="Statement Date:" style="font-weight: bold;color: #4a4a56;"/>
        &nbsp;
        </apex:pageBlockSectionItem>                    
        <apex:pageBlockSectionItem id="stmtitem">                    
            &nbsp; <apex:inputText value="{!StatementDate}" id="StmntFromDate" onfocus="DatePicker.pickDate(false, this , false);" />
           <!--  <apex:input value="{!StatementDate}" id="StmntFromDate" type="date"/>  -->
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
                        &nbsp;    <apex:commandButton value="Go"  onclick="checkformrequest();return false;"/>
        </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem >
                            <apex:pageBlockSection id="countPanel1" columns="1">
                                <p style="color: #4a4a56;text-align: left;font-weight: bold;width:300px;" >
                                {!CreateStmtAccountCounts} Accounts and {!CreatestmtInvoiceCounts} Invoices for the selections
                                </p>
                            </apex:pageBlockSection>
                            <apex:pageBlockSection id="BtnStmnt">
                                <apex:pageBlockSectionItem >
                                    <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px" action="{!CancelCCStep}" reRender="fetchStatus"/>
                                    <apex:commandButton value="Start" disabled="{!IF(AND(NOT(ISBLANK(CreateStmtAccountCounts)),CreateStmtAccountCounts>0),false,true)}" style="width:120px;height:30px;font-size:13px" action="{!enterCreateStmt1}"> 
                                    </apex:commandButton>
                                </apex:pageBlockSectionItem> 
                            </apex:pageBlockSection>
             
        </apex:pageBlockSectionItem>
        </apex:outputPanel>
             </apex:pageBlockSection>  
 </apex:outputPanel>          
       <!-- Create Statement Panel End Here -->      
</apex:outputPanel>
</apex:pageBlock>
 
</apex:form>
</apex:page>