<apex:page StandardController="Opportunity" extensions="lockCloneInvoiceandPaymentController_v6" action="{!showTerminal}">   
    <apex:form >    
        <apex:pageMessages />
        <apex:commandButton value="Return To Opportunity" action="{!backToOpportunity}"/>   
    </apex:form>
</apex:page>