<apex:page standardController="Digital_Product_Requirement__c" extensions="DFFArrangement_v1" showHeader="false" sidebar="false" action="{!OLIChildMembers}">
  <apex:pageBlock id="pblk" title="Display Ads/Caption Members">
    <apex:pageBlockTable value="{!LstOLIChildMembers}" var="olis">
      <apex:column value="{!olis.Name}"/>
      <apex:column value="{!olis.UDAC__c}"/>
      <apex:column value="{!olis.Digital_Product_Requirement__r.Caption_Display_Text__c}"/>
      <apex:column value="{!olis.Opportunity__c}"/>
      <apex:column value="{!olis.Directory_Section__c}"/>
      <apex:column value="{!olis.Directory_Heading__c}"/>
      <apex:column value="{!olis.CreatedDate}"/>
    </apex:pageBlockTable>
  </apex:pageBlock>
</apex:page>