<apex:page standardController="Directory__c" extensions="DirectoryFlipbookRun">
  <script type="text/javascript">
        function selectAllCheckboxes(obj,receivedInputID){
            var inputCheckBox = document.getElementsByTagName("input");                  
            for(var i=0; i<inputCheckBox.length; i++){          
                if(inputCheckBox[i].id.indexOf(receivedInputID)!=-1){                                     
                    inputCheckBox[i].checked = obj.checked;
                }
            }
        }
    </script>
    <style type="text/css">
    .pbTitle {
    white-space: nowrap
    }
    .cola{
        width:20%;
    }
    .colb{
        width:30%;
    }
    .colc{
        width:20%;
    }
    .cold{
        width:30%;
    }
    </style>
  <apex:form id="frm">
      <apex:pageBlock >
      <apex:pageMessages />
      <apex:pageBlockSection title="Search Directories" columns="1">
        <apex:panelGrid columns="4" columnClasses="cola,colb,colc,cold">
            <apex:outputLabel style="font-weight:bold;" value="Directory Name"></apex:outputLabel>
            <apex:inputText value="{!userinputName}"/>
            <apex:commandButton value="Search" action="{!doSearch}" status="status"/>
            <apex:outputtext />
        </apex:panelGrid>
      <apex:commandButton value="Run" style="margin-left:50%;" action="{!doRun}"/>
      <apex:actionstatus id="status">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
      </apex:actionstatus>
      </apex:pageBlockSection>
      </apex:pageBlock>
      <apex:pageBlock >
          <apex:pageblocksection columns="1" title="All Directories">
          <apex:pageBlockTable value="{!wrapperDirLst}" var="DLst" rendered="{!IF(wrapperDirLst.size == 0, false, true)}">
              <apex:column headervalue="Select">
                  <apex:facet name="header">
                        <apex:inputCheckbox onclick="selectAllCheckboxes(this,'inputId')"/>
                    </apex:facet>
                   <apex:inputCheckbox value="{!DLst.ischecked}" id="inputId"/>      
               </apex:column>             
               <apex:column headervalue="Directory">
                       <apex:outputtext value="{!DLst.objDir.Name}"/>
               </apex:column>
               <apex:column headervalue="Sales Lock Out Date">
                   <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" >
                     <apex:param value="{!DLst.objDir.Sales_Lockout__c}"/>
                   </apex:outputText>
               </apex:column>
          </apex:pageBlockTable>
          </apex:pageBlockSection>     
      </apex:pageBlock>
  </apex:form>
</apex:page>