<apex:page controller="GalleyReportPageControllerV1" tabStyle="Galley_Parameter__tab">
<style>
    .col1{width:250px;}
    .col2{width:100px;}
    .col3{width:250px;}
</style>
<c:ActionStatus />
    <apex:form >
    <apex:pageMessages id="errMsg"/>
        <apex:pageBlock id="pg">
            <apex:pageBlockSection title="Select Galley Report Criteria" collapsible="false" columns="1">
                <apex:panelGrid columns="3">
                    <apex:outputLabel >Directory Name: </apex:outputLabel>
                    <apex:inputText value="{!searchText}"/>
                    <apex:commandButton value="Search" reRender="pg" status="actStatus" action="{!fetchDirs}"/>
                </apex:panelGrid>
                <apex:panelGrid columns="2">
                    <apex:selectList multiSelect="false" size="1" value="{!selectedDirId}">
                        <apex:selectOptions value="{!listDirSelOpt}"/>
                    </apex:selectList>
                    <apex:commandButton value="Go" action="{!fetchDirEdDirSec}" reRender="pg" status="actStatus"/>
                </apex:panelGrid>
                
                Select Directory Edition Name:
                <apex:panelGrid columns="3" columnClasses="col1, col2, col3">
                    <apex:outputLabel value="Available Values:"/>
                    <apex:outputLabel />
                    <apex:outputLabel value="Selected Values:"/>
                    <apex:selectList multiSelect="true" size="5" value="{!listDirEdAvaVal}">
                        <apex:selectOptions value="{!listDirEdAvaOpt}"/>
                    </apex:selectList>
                    <apex:panelGroup >
                        <br/><apex:commandButton value="  >  " action="{!addDirEd}" reRender="pg" status="actStatus"/><br/>
                        <apex:commandButton value="  >>  " action="{!addAllDirEd}" reRender="pg" status="actStatus"/>
                    </apex:panelGroup>
                    <apex:selectList multiSelect="true" size="5" value="{!listDirEdSelVal}">
                        <apex:selectOptions value="{!listDirEdSelOpt}"/>
                    </apex:selectList>
                    <apex:outputLabel />
                    <apex:outputLabel />
                    <apex:panelGroup >
                        <apex:commandButton value="Remove" action="{!removeDirEd}" reRender="pg" status="actStatus"/>
                        <apex:commandButton value="Remove All" action="{!removeAllDirEd}" reRender="pg" status="actStatus"/>
                    </apex:panelGroup>
                </apex:panelGrid>
                
                Select Section:
                <apex:panelGrid columns="3" columnClasses="col1, col2, col3">
                    <apex:outputLabel value="Available Values:"/>
                    <apex:outputLabel />
                    <apex:outputLabel value="Selected Values:"/>
                    <apex:selectList multiSelect="true" size="5" value="{!listDirSecAvaVal}">
                        <apex:selectOptions value="{!listDirSecAvaOpt}"/>
                    </apex:selectList>
                    <apex:panelGroup >
                        <br/><apex:commandButton value="  >  " action="{!addDirSec}" reRender="pg" status="actStatus"/><br/>
                        <apex:commandButton value="  >>  " action="{!addAllDirSec}" reRender="pg" status="actStatus"/>
                    </apex:panelGroup>
                    <apex:selectList multiSelect="true" size="5" value="{!listDirSecSelVal}">
                        <apex:selectOptions value="{!listDirSecSelOpt}"/>
                    </apex:selectList>
                    <apex:outputLabel />
                    <apex:outputLabel />
                    <apex:panelGroup >
                        <apex:commandButton value="Remove" action="{!removeDirSec}" reRender="pg" status="actStatus"/>
                        <apex:commandButton value="Remove All" action="{!removeAllDirSec}" reRender="pg" status="actStatus"/>
                    </apex:panelGroup>
                </apex:panelGrid>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Select Telco" collapsible="false" columns="1">             
                <apex:panelGrid columns="3" columnClasses="col1, col2, col3">
                    <apex:outputLabel value="Available Values:"/>
                    <apex:outputLabel />
                    <apex:outputLabel value="Selected Values:"/>
                    <apex:selectList multiSelect="true" size="5" value="{!listTelcoAvaVal}">
                        <apex:selectOptions value="{!listTelcoAvaOpt}"/>
                    </apex:selectList>
                    <apex:panelGroup >
                        <br/><apex:commandButton value="  >  " action="{!addTelco}" reRender="pg" status="actStatus"/><br/>
                        <apex:commandButton value="  >>  " action="{!addAllTelco}" reRender="pg" status="actStatus"/>
                    </apex:panelGroup>
                    <apex:selectList multiSelect="true" size="5" value="{!listTelcoSelVal}">
                        <apex:selectOptions value="{!listTelcoSelOpt}"/>
                    </apex:selectList>
                    <apex:outputLabel />
                    <apex:outputLabel />
                    <apex:panelGroup >
                        <apex:commandButton value="Remove" action="{!removeTelco}" reRender="pg" status="actStatus"/>
                        <apex:commandButton value="Remove All" action="{!removeAllTelco}" reRender="pg" status="actStatus"/>
                    </apex:panelGroup>
                </apex:panelGrid>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Select Business Type" collapsible="false" columns="1">             
                <apex:panelGrid columns="3" columnClasses="col1, col2, col3">
                    <apex:outputLabel value="Available Values:"/>
                    <apex:outputLabel />
                    <apex:outputLabel value="Selected Values:"/>
                    <apex:selectList multiSelect="true" size="5" value="{!listBusTypAvaVal}">
                        <apex:selectOptions value="{!listBusTypAvaOpt}"/>
                    </apex:selectList>
                    <apex:panelGroup >
                        <br/><apex:commandButton value="  >  " action="{!addBusTyp}" reRender="pg" status="actStatus"/><br/>
                        <apex:commandButton value="  >>  " action="{!addAllBusTyp}" reRender="pg" status="actStatus"/>
                    </apex:panelGroup>
                    <apex:selectList multiSelect="true" size="5" value="{!listBusTypSelVal}">
                        <apex:selectOptions value="{!listBusTypSelOpt}"/>
                    </apex:selectList>
                    <apex:outputLabel />
                    <apex:outputLabel />
                    <apex:panelGroup >
                        <apex:commandButton value="Remove" action="{!removeBusTyp}" reRender="pg" status="actStatus"/>
                        <apex:commandButton value="Remove All" action="{!removeAllBusTyp}" reRender="pg" status="actStatus"/>
                    </apex:panelGroup>
                </apex:panelGrid>
            </apex:pageBlockSection>    
            <apex:pageBlockSection title="Select Local Or National" collapsible="false">
                <apex:selectRadio value="{!localOrNational}">
                    <apex:selectOption itemLabel="Local/National" itemValue="local"/>
                    <apex:selectOption itemLabel="National" itemValue="national"/>
                </apex:selectRadio>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Run" action="{!callGalleyBatch}" reRender="pg, errMsg" status="actStatus"/>
            </apex:pageBlockButtons>          
            <apex:actionPoller action="{!PollingBatchProcess}" enabled="{!pollerAction}" interval="5" reRender="batchPanel" status="pollingStatus"/>
            <apex:pageBlockSection id="batchPanel" columns="1" title="Galley Report Batch Process" rendered="{!isBatchProcessed}" collapsible="false">
                <apex:actionStatus startText="(checking progress...)" id="pollingStatus"/>
                <apex:pageBlockSectionItem rendered="{!if(batchId==null,false,true)}">
                   <apex:outputLabel style="font-weight:bold;color: #4a4a56;">Status of Galley Report Batch :</apex:outputLabel> 
                   <apex:outputLabel value="{!batchStatus}" style="font-weight:bold;color:{!If(batchStatus=='Completed','green','red')}"> </apex:outputLabel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>          
        </apex:pageBlock>
    </apex:form>
</apex:page>