<apex:page standardController="fflbx__ReceiptLineItem__c" extensions="ffirule.IntegrationRuleEngine" action="{!convert}" recordSetVar="records">
<ffirule:IntegrationRule engine="{!engine}"/>
</apex:page>