<apex:page standardController="National_Staging_Order_Set__c" sidebar="false" extensions="NationalManualEntry_v7" id="pg">
 <apex:stylesheet value="{!$Resource.customcss}" />
 <style>
   .throw
   {
        background: #f2f3f3;
        border-width: 0 0 1px 1px;
        border-color: #e0e3e5;
        color: #000;
        font-size: .9em;
        font-weight: bold;
        padding: 5px 2px 4px 5px;
   }
 </style>
 <script>
        function setFocusOnLoad(){}
        function switchMenu(obj,obj1,obj2) 
        {
            var el = document.getElementById(obj);                                       
            if ( el.style.display != 'none' ) {
            el.style.display = 'none';
            }
            else {
            el.style.display = '';
            }
            var e2 = document.getElementById(obj1);                                       
            if ( e2.style.display != 'none' ) {
            e2.style.display = 'none';
            }
            else {
            e2.style.display = '';
            }
             var e3 = document.getElementById(obj2);                                       
            if ( e2.style.display != 'none' ) {
            e3.style.display = 'none';
            }
            else {
            e3.style.display = '';
            }

        }
        
        function checkIsReadyAll(cb)
        {
            var inputElem = document.getElementsByTagName("input");
            for(var i=0; i<inputElem.length; i++)
            {
                if(inputElem[i].id.indexOf("readyprocess")!=-1) 
                {
                    inputElem[i].checked = cb.checked;
                    
                }
                if(inputElem[i].id.indexOf("readychange")!=-1)
                {
                     inputElem[i].checked = cb.checked;
                }
                
            }
       }
       
            function reloadOpener() {
                window.parent.opener.parent.location.reload();
            }
            window.top.onbeforeunload=reloadOpener; 
</script>
 <apex:form id="frm">
    <apex:actionstatus id="counterStatus1">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>
    <apex:pagemessages id="pgMSG" />
    <!--<apex:actionFunction name="afdirsec" action="{!validateDirSection}" immediate="true" rerender="theGrid,pgMSG" status="counterStatus1" >
        <apex:param name="dirSection" assignTo="{!dirSection}" value=""/>
    </apex:actionFunction>-->
    <apex:actionFunction name="afdirnum" action="{!fetchDirectoryByCode}" immediate="true" rerender="theGrid,pgMSG,pbsec" status="counterStatus1" >
        <apex:param name="DirNum" assignTo="{!NatHdrObj.Directory_Number__c}" value=""/>
    </apex:actionFunction>
    <apex:actionFunction name="afdirver" action="{!fetchDEByLSANo}" immediate="true" rerender="theGrid,pgMSG,pbsec" status="counterStatus1" >
        <apex:param name="DirENum" assignTo="{!NatHdrObj.Directory_Version__c}" value=""/>
    </apex:actionFunction>
    <apex:actionFunction Name="afcmrbynum" action="{!fetchCMRbyNumber}" immediate="true" rerender="theGrid,pgMSG,pnlCMRName" status="counterStatus1">
        <apex:param name="CmrNum" assignTo="{!NatHdrObj.CMR_Number__c}"  value=""/>
    </apex:actionFunction>
    <apex:actionFunction Name="clibynum" action="{!fetchClientbyNumber}" immediate="true" rerender="theGrid,pgMSG,pnlClientName" status="counterStatus1">
        <apex:param name="ClientNum" assignTo="{!NatHdrObj.Client_Number__c}"  value=""/>
    </apex:actionFunction>
    <apex:pageBlock title="National Manual Entry" rendered="{! !adviceQueryFormBool}" id="pblk">
        <apex:pageBlockButtons location="top" id="pblkBtn">
           <apex:commandButton value="Save" action="{!save}" title="Save" rendered="{!if(isNotUserLocked || $CurrentPage.parameters.save_new='1',true,false)}" reRender="pg,frm,pgMSG,pblk,pbsec,theGrid" status="counterStatus1"></apex:commandButton>
           <apex:commandButton value="Update & Process" action="{!processOLI}" title="Update & Process" disabled="{!isReadyforProcess}" rendered="{!if(isNotUserLocked || $CurrentPage.parameters.save_new='1',true,false)}" reRender="frm,pgMSG,pblk,pbsec,theGrid" status="counterStatus1" />
            <apex:commandButton value="Override" action="{!overrideNSOS}" title="Override" immediate="true" status="counterStatus1" rendered="{!IF(isNotUserLocked && showoverride,true,false)}" reRender="frm,pblkBtn" disabled="{!IF($Profile.Name='National Order Entry',true,false)}"/>
            <apex:commandButton value="Cancel" action="{!Cancel}" title="Cancel" immediate="true" status="counterStatus1"/>
            <apex:image value="/img/lock_small.gif" rendered="{!if(isLocked,true,false)}" title="Record is locked"/>
            <apex:commandButton value="Lock" action="{!lockNationalOrderSet}" title="Lock" immediate="true" status="counterStatus1" reRender="frm,pblkBtn" rendered="{!if((NOT(isLocked) && isNotUserLocked),true,false)}"/>
            <apex:commandButton value="Unlock" action="{!UnlockNationalOrderSet}" title="UnLock" immediate="true" status="counterStatus1" reRender="frm,pblkBtn" rendered="{!if((isLocked && isNotUserLocked),true,false)}"/>
        </apex:pageBlockButtons>
        <apex:pageBlockSection collapsible="false" title="Header Data" columns="1" id="pbsec">
           <apex:panelGrid columns="8" id="theGrid" width="100%" border="0"  >
                <apex:outputLabel styleClass="tdhead" value="Trans Code :" />
              <!--  <apex:selectList value="{!NatHdrObj.TRANS_Code__c}" id="Trans" size="1" disabled="{!if($CurrentPage.parameters.save_new=='1',false,true)}"> -->
              <apex:selectList value="{!NatHdrObj.TRANS_Code__c}" id="Trans" size="1">
                    <!--<apex:selectOptions value="{!transList}"/>                        -->
                    <apex:selectOption itemValue="0" itemLabel=" --None--"/>
                    <apex:selectOption itemValue="A" itemLabel="A - Advice"/>
                    <apex:selectOption itemValue="C" itemLabel="C - Change Order"/>
                    <apex:selectOption itemValue="D" itemLabel="D - Delete Entire Order"/>
                    <apex:selectOption itemValue="F" itemLabel="F - Forward"/>
                    <apex:selectOption itemValue="H" itemLabel="H - Header Change"/>
                    <apex:selectOption itemValue="I" itemLabel="I - New Insert Order"/>
                    <apex:selectOption itemValue="K" itemLabel="K - Order Compare"/>
                    <apex:selectOption itemValue="L" itemLabel="L - Renumber Order"/>
                    <apex:selectOption itemValue="M" itemLabel="M - Memo"/>
                    <apex:selectOption itemValue="N" itemLabel="N - CMR Transfer (no-standing order)"/>
                    <apex:selectOption itemValue="Q" itemLabel="Q - Query"/>
                    <apex:selectOption itemValue="R" itemLabel="R - Resend Graphic Request"/>
                    <apex:selectOption itemValue="T" itemLabel="T - CMR Transfer (with standing order)"/>
                    <apex:selectOption itemValue="V" itemLabel="V - Verification of Order"/>
                    <apex:selectOption itemValue="X" itemLabel="X - View YPA Elite Standing Order"/>
                </apex:selectList>
               
                <apex:outputLabel styleClass="tdhead" value="Trans Version :" />
                 <apex:panelGroup >
                <apex:OutputField value="{! NatHdrObj.Transaction_Version__c}" id="transv" style="width: 70px;" rendered="{!if($CurrentPage.parameters.save_new=='1',false,true)}"/>
                <apex:inputField value="{! NatHdrObj.Transaction_Version__c}" id="transvi" style="width: 70px;" rendered="{!if($CurrentPage.parameters.save_new=='1',true,false)}" required="true"/>
                </apex:panelGroup>
                
                <apex:outputLabel styleClass="tdhead" value="Trans ID :" />
                <apex:panelGroup >
                <apex:OutputField value="{! NatHdrObj.Transaction_ID__c}" id="TransID" rendered="{!if($CurrentPage.parameters.save_new=='1',false,true)}"/>
                 <apex:inputField value="{! NatHdrObj.Transaction_ID__c}" id="TransIDi" rendered="{!if($CurrentPage.parameters.save_new=='1',true,false)}"/>
                 </apex:panelGroup>
                <apex:outputLabel styleClass="tdhead" value="Date :" />
                <apex:inputField value="{! NatHdrObj.Date__c}" id="thedate" required="True" />
                <apex:outputLabel styleClass="tdhead" value="Ref Date :" />
                <apex:inputField value="{! NatHdrObj.Reference_Date__c}" id="refdate" />
                <apex:outputLabel styleClass="tdhead" value="To :" />
                <apex:outputPanel >
                <div class="requiredInput"><div class="requiredBlock"></div><apex:selectList value="{!NatHdrObj.To_Type__c}" id="to" size="1" required="True">
                    <!-- <apex:selectOptions value="{!toFromList}"/>-->
                    <apex:selectOption itemValue="" itemLabel=" --None--"/>
                    <apex:selectOption itemValue="C" itemLabel="C - CMR"/>
                    <apex:selectOption itemValue="P" itemLabel="P - Publisher"/>
                    <apex:selectOption itemValue="Y" itemLabel="Y - YPA Elite"/>
                </apex:selectList></div>
                </apex:outputPanel>                    
                <apex:outputLabel styleClass="tdhead" value="To Code :" />
                <apex:inputField value="{!NatHdrObj.To_Number__c}" id="toc" required="True" style="width: 50px;" />
                <apex:outputLabel styleClass="tdhead" value="From :" />
                <apex:outputPanel >
                <div class="requiredInput"><div class="requiredBlock"></div><apex:selectList value="{!NatHdrObj.From_Type__c}" id="from" size="1" required="True" >
                    <!-- <apex:selectOptions value="{!toFromList}"/>-->
                    <apex:selectOption itemValue="" itemLabel=" --None--"/>
                    <apex:selectOption itemValue="C" itemLabel="C - CMR"/>
                    <apex:selectOption itemValue="P" itemLabel="P - Publisher"/>
                    <apex:selectOption itemValue="Y" itemLabel="Y - YPA Elite"/>
                </apex:selectList></div>
                </apex:outputPanel> 
                <apex:outputLabel styleClass="tdhead" value="From Code :" />
                <apex:inputField value="{!NatHdrObj.From_Number__c}" id="fromc" required="True" style="width: 50px;" />
                <apex:outputLabel styleClass="tdhead" value="Directory Number :" />
                <apex:inputField value="{!NatHdrObj.Directory_Number__c}" id="dirnum" onChange="afdirnum(this.value)" required="True" style="width: 50px;" />
                <apex:outputLabel styleClass="tdhead" value="Directory Version :" />
                <apex:inputField value="{!NatHdrObj.Directory_Version__c}" id="dirver" onChange="afdirver(this.value)" required="True" style="width: 50px;" />
                <apex:outputLabel styleClass="tdhead" value="State :" />
                <apex:outputField value="{!NatHdrObj.State__c}" id="state" />
                <apex:outputLabel styleClass="tdhead" value="Directory Name :" />
                 <a href="/{!NatHdrObj.Directory__c}" target="blank">{!if($CurrentPage.parameters.save_new=='1',DirName,NatHdrObj.Directory__r.Name)}</a>
                <apex:outputLabel styleClass="tdhead" value="Pub Date :" />
                <apex:OutputField value="{!NatHdrObj.Publication_Date__c}" id="pubdate" />
                <apex:outputLabel styleClass="tdhead" value="CMR Number :" />
                <apex:inputField value="{!NatHdrObj.CMR_Number__c}" id="cmrnum1" onChange="afcmrbynum(this.value)" required="True" style="width: 50px;" />
                <apex:outputLabel styleClass="tdhead" value="Client Number :" />
                <apex:inputField value="{!NatHdrObj.Client_Number__c}" onChange="clibynum(this.value)"  id="clinum" required="True" style="width: 50px;" />                    
                <apex:outputLabel styleClass="tdhead" value="Directory Edition :" />
                <a href="/{!NatHdrObj.Directory_Edition__c}" target="blank">{!if($CurrentPage.parameters.save_new=='1',DirEName,NatHdrObj.Directory_Edition__r.Name)}</a>
                <!--<apex:OutputField value="{!NatHdrObj.Directory_Edition__c}" id="dired"/> --> 
                <apex:outputLabel styleClass="tdhead" value="Nat :" />
                <apex:selectList value="{!NatHdrObj.NAT__c}" id="nat" size="1" required="True"  >
                    <!--<apex:selectOptions value="{!natList}"/>  -->
                    <apex:selectOption itemValue="A" itemLabel="A - National"/>
                    <apex:selectOption itemValue="B" itemLabel="B - Local"/>
                    <apex:selectOption itemValue="E" itemLabel="E - Emerging"/>
                    <apex:selectOption itemValue="R" itemLabel="R - Regional"/>                      
                </apex:selectList>                    
                <apex:outputLabel styleClass="tdhead" value="CMR Name :" />
                <apex:outputPanel id="pnlCMRName">
              <!--  <a href="/{!NatHdrObj.CMR_Name__c}" id="dirname">{!if($CurrentPage.parameters.save_new=='1',CMRName,NatHdrObj.CMR_Name__r.Name)}</a> -->
                 <apex:outputPanel rendered="{!IF($CurrentPage.parameters.save_new=='1',true,false)}">
                    <a href="/{!NatHdrObj.CMR_Name__c}" id="dirname">{!CMRName}</a>
                 </apex:outputPanel>
                 <apex:outputPanel rendered="{!IF($CurrentPage.parameters.save_new=='1',false,true)}">
                    <apex:outputField value="{!NatHdrObj.CMR_Name__c}"/>
                 </apex:outputPanel>
                </apex:outputPanel>
                <apex:outputLabel styleClass="tdhead" value="Client Name :" />
                <apex:outputPanel id="pnlClientName">
                    <apex:outputPanel rendered="{!IF(NatHdrObj.Client_Name__c != Null ,true,false)}">
                    <a href="/{!NatHdrObj.Client_Name__c}" id="dirname">{!NatHdrObj.Client_Name_Text__c}</a>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(NatHdrObj.Client_Name__c != Null ,false,true)}">  
                        <apex:inputField value="{!NatHdrObj.Client_Name_Text__c}" id="clinamein" /> 
                    </apex:outputPanel>
                </apex:outputPanel>
                <apex:outputLabel styleClass="tdhead" value="Is Ready:" />
                <apex:inputField value="{!NatHdrObj.Is_Ready__c}" id="isReady" onclick="checkIsReadyAll(this)">
                 </apex:inputfield>
                <apex:outputLabel styleClass="tdhead" value="Is Converted :" />
                <apex:inputCheckbox value="{!NatHdrObj.Is_Converted__c}" id="isConverted" />
                 <apex:outputLabel styleClass="tdhead" value="Override :" rendered="{!if(NatHdrObj.CMR_Name__r.National_Credit_Status__c!='Approved',true,false)}"/>
                <apex:outputField value="{!NatHdrObj.Override__c}" id="isOverridden" rendered="{!if(NatHdrObj.CMR_Name__r.National_Credit_Status__c!='Approved',true,false)}"/>
                 <apex:outputLabel styleClass="tdhead" value="Late Order :" rendered="{!IF(NatHdrObj.Late_Order__c,true,false)}"/>
                 <apex:inputCheckbox value="{!NatHdrObj.Late_Order__c}" id="isLateOrder" disabled="true" rendered="{!IF(NatHdrObj.Late_Order__c,true,false)}"/>
                 <apex:outputLabel styleClass="tdhead" value="Approved to Process :" rendered="{!IF(NatHdrObj.Late_Order__c,IF(NOT(ISBLANK(NatHdrObj.Directory_Edition__r.National_Billing_Lockout_Date__c)),if(NatHdrObj.Directory_Edition__r.National_Billing_Lockout_Date__c>TODAY(),true,false),true),false)}"/>
                 <apex:inputCheckbox value="{!NatHdrObj.Approved_to_Process__c}" id="isApproved" rendered="{!IF(NatHdrObj.Late_Order__c,IF(NOT(ISBLANK(NatHdrObj.Directory_Edition__r.National_Billing_Lockout_Date__c)),if(NatHdrObj.Directory_Edition__r.National_Billing_Lockout_Date__c>TODAY(),true,false),true),false)}" disabled="{!if(NatHdrObj.Approved_to_Process__c,true,false)}"/>
             </apex:panelGrid>
          </apex:pageBlockSection>
        
    </apex:pageBlock>
    <apex:actionFunction name="showlookuppanel" reRender="pbLine,pgMSG" status="counterStatus1" action="{!valueChanged}"/>
    <apex:pageBlock rendered="{! !adviceQueryFormBool}">
        <!--<apex:pageBlockSection id="pbLine" columns="1">-->
        <apex:outputPanel id="pbLine">
            <apex:variable var="rowNum" value="{!0}"/>
            <apex:commandButton value="Add Line" action="{!addLineItems}" rerender="pbLine,pgMSG" immediate="true" status="counterStatus1"/>
           <table cellpadding="0" cellspacing="0" width="100%" border="0">
           <tr style="border-bottom: solid 1px #C0C0C0;">
           <td class="throw" style="width: 5%;">Standing Order</td>
           <td class="throw" style="width: 6%;">Is Ready for <br/> Processing</td>
           <td class="throw" style="width: 5%;">Changed</td>
           <td class="throw" style="width: 5%;">Needs <br/> Review</td>
           <td class="throw">Line1#</td>
           <td class="throw">Action</td>
           <td class="throw">Item<br/>/Product</td>
           <td class="throw">Add<br/>Advice<br/>/Query</td>
           <td class="throw">BAS</td>
           <td class="throw">DAT</td>
           <td class="throw">SPINS</td>
           <td class="throw">Advertising Data</td>
           <td class="throw">Line Error Description</td>
           </tr>
           <apex:repeat value="{!NatLinLstObj}" var="NatLin" id="RepeatlinedataDT">
           <tr style="background-color:white;" >
           <td>
               <apex:inputCheckbox value="{!NatLin.Standing_Order__c}" style="width: 35px;"/>
               <apex:variable var="rowNum" value="{!rowNum + 1}" />
           </td>
           <td>
                <apex:inputCheckbox id="readyprocess" value="{!NatLin.Ready_for_Processing__c}" style="width: 35px;" rendered="{!if(LEN(NatLin.UDAC__c)>0,true,false)}"/>
           </td>
           <td>
               <apex:inputCheckbox id="readychange" value="{!NatLin.Is_Changed__c}" rendered="{!if(LEN(NatLin.UDAC__c)>0,true,false)}"/>
           </td> 
           <td>
               <apex:inputCheckbox id="needreview" value="{!NatLin.Needs_Review__c}"/>
           </td>
           <td>
               <apex:inputField value="{!NatLin.Line_Number__c}" id="lineno" required="true" style="width: 40px;"/>
           </td>
           <td>
               <apex:inputField value="{!NatLin.Action__c}" id="action" style="width: 40px;"/>
           </td>
           <td>
                <apex:inputField value="{!NatLin.UDAC__c}" id="udac" style="width: 50px;" onchange="showlookuppanel()"/>
           </td>
           <td>
           
           <apex:commandLink style="width: 50px;" onclick="window.open('/apex/AddAdviceQuery?NSLIID={!NatLin.id}&id={!$CurrentPage.parameters.id}&core.apexpages.devmode.url=1','Advice/Query','toolbar=no, scrollbars=yes, resizable=no, left=300,top=100, width=1000, height=500');return false;" title="Add Child Lines" immediate="true" type="image/png">
                            <apex:image value="{!URLFOR($Resource.AddAdviceQuery)}" styleClass="mbutton"/>
                            <apex:param value="{!NatLin.id}" id="NSLIID1"  name="NSLIID"/>
               </apex:commandLink>
               
            <!--   <apex:commandLink style="width: 50px;" target="_blank" title="Add Child Lines" action="{!addAdviceQuery}" immediate="true" type="image/png">
                            <apex:image value="{!URLFOR($Resource.AddAdviceQuery)}" styleClass="mbutton"/>
                            <apex:param value="{!NatLin.id}" id="NSLIID1"  name="NSLIID"/>
               </apex:commandLink>
           -->
           </td>
           <td>
               <apex:inputField value="{!NatLin.BAS__c}" id="bas" style="width: 28px;"/>
           </td>
           <td>
               <apex:inputField value="{!NatLin.DAT__c}" id="dat" style="width: 28px;"/>
           </td>
           <td>
               <apex:inputField value="{!NatLin.SPINS__c}" id="spins" style="width: 28px;"/>
           </td>
           <td>
                <apex:inputField value="{!NatLin.Advertising_Data__c}" id="ad" style="width: 350px;"/>
           </td>
            <td>
                <apex:inputText value="{!NatLin.Line_Error_Description__c}" id="ErrorDesc" style="width: 300px;height:15px;margin:2px auto;background-color: white;" disabled="true" />
           </td>
           </tr>
           <tr>
           <td colspan="11" style="display:{!if(LEN(NatLin.UDAC__c)>0,' ','none')};">
            <apex:outputpanel id="plusimage">
            <apex:image url="{!URLFOR($Resource.NationalManualEntryIcons,'/NationalManualEntryIcons/Plus_Image.gif')}" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.minusimage}','{!$Component.plusimage}')" title="Additional Fields for UDAC:{!NatLin.UDAC__c} Line"/> 
            </apex:outputpanel>
            <apex:outputpanel id="minusimage" style="display:none;">
            <apex:image url="{!URLFOR($Resource.NationalManualEntryIcons,'/NationalManualEntryIcons/Minus_image.gif')}" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.plusimage}','{!$Component.minusimage}')" title="Additional Fields for UDAC:{!NatLin.UDAC__c} Line"/>
            </apex:outputpanel>
            
            <apex:repeat value="{!setErrorRowNo}" var="key">
                 <apex:outputText value="Please expand to see error messages" style="color:red;" rendered="{!key==rowNum}"/> 
            </apex:repeat>
           <!--<apex:outputText value="Please expand to see error messages" style="color:red;" rendered="{!setErrorRowNo[Text(rowNum)] == true}"/> -->
             <apex:outputpanel id="inlinetablesec" style="display:none;width:100%">
               <table width="100%" celpadding="0" cellspacing="0" style="padding-left:30px;">
               <tr id="row1">
                   <td>
                   <table width="100%" border="0" style="border: 1px solid #BDBDBD;border-bottom:0px">  
                      <tr>
                           <td class="throw">Directory Section</td>
                           <td class="throw">Directory Heading</td>
                           <td class="throw">Listing</td>
                           <td class="throw">Trade Header</td>
                            <td class="throw">Seniority Date</td>
                      </tr>
                      <tr style="background-color:white">
                           <!--<td width="25%"><apex:inputField id="dirSection" onChange="afdirsec({)" value="{!NatLin.Directory_Section__c}"/></td>-->
                           <td width="20%"><apex:inputField id="dirSection" value="{!NatLin.Directory_Section__c}"/></td>
                           <td width="20%"> <apex:inputField value="{!NatLin.Directory_Heading__c}"/></td>
                           <td width="20%"><apex:inputField value="{!NatLin.Listing__c}"/></td>
                           <td width="20%"><apex:inputField value="{!NatLin.Caption_Header__c}"/></td>
                            <td width="25%" valign="middle">
                              <apex:outputPanel id="SeniorityDatePnl" layout="block">
                                  <!--   <apex:inputField value="{!NatLin.Seniority_Date__c}" id="sndtedit" rendered="{!if(NatLin.Seniority_Date_Reset__c || $CurrentPage.parameters.save_new='1',true,false)}"/>
                                   <apex:outputField value="{!NatLin.Seniority_Date__c}" id="sndt" rendered="{!if(NatLin.Seniority_Date_Reset__c,false,true)}"/>
                                   -->
                                   <apex:inputField value="{!NatLin.Seniority_Date__c}" id="sndtedit"/>
                                 </apex:outputPanel>
                            </td>
                           
                      </tr>
                    </table>
                    </td>
                </tr>
                <tr id="row2">
                  <td>
                   <table width="100%" border="0" style="border: 1px solid #BDBDBD;border-top:0px;">  
                      <tr style="background-color:white">
                           <td class="throw">National Pricing</td>
                           <td class="throw">Product</td>
                           <td class="throw">Graphic Id</td>
                           <td class="throw">Discount</td>
                      </tr>
                      <tr>
                           <td width="25%"> <apex:inputField value="{!NatLin.National_Pricing__c}"/></td>
                           <td width="25%"> <apex:inputField value="{!NatLin.Product2__c}"/></td>
                           <td width="25%"><apex:inputField value="{!NatLin.National_Graphics_ID__c}"/></td>
                           <td width="25%"> <apex:inputField value="{!NatLin.Discount__c}"/></td>
                      </tr>
                    </table> 
                    </td>
            </tr>
            </table>
             </apex:outputpanel>  
           </td>
           </tr>
          
          </apex:repeat>
           
           </table>
        </apex:outputPanel>
        <!--</apex:pageBlockSection>-->
    </apex:pageBlock>
   
 </apex:form>
</apex:page>