<apex:page standardController="Heading_Request__c"  extensions="publicsitepages"  showHeader="true">
    <apex:sectionHeader title="Create a New Heading Request" />
    <apex:form id="frmid">
        <apex:pageBlock id="pbid"> 
            <apex:pageBlockButtons id="bt">
                
                 <apex:commandbutton value="Save" action="{!save}"/> 
                  <apex:commandbutton value="Cancel" action="{!HRCancel}"  immediate="true"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection id="pbsid" title="Information" columns="1" collapsible="false" >
                    
                     <apex:inputField id="reqname" required="true" value="{!Heading_Request__c.Requester_Name__c}"/>
                    <apex:inputField id="reqphone" required="true" value="{!Heading_Request__c.Requester_Phone__c}"/>
                    <apex:inputField id="reqemailid" required="true" value="{!Heading_Request__c.Requester_Email_Address__c}"/> 
                     <apex:inputField id="Heading_s_Requested" required="true" value="{!Heading_Request__c.Heading_s_Requested__c}"/>
                    <apex:inputField id="Request_Type" required="true" value="{!Heading_Request__c.Request_Type__c}"/>
                    <apex:inputField id="Directorynames" required="true" value="{!Heading_Request__c.Directory_Name_s__c}"/>
                   
                    
            </apex:Pageblocksection>
            <apex:pageblockSection id="pbssid" title="Other Information" columns="1">
                    <apex:inputField id="Busname" value="{!Heading_Request__c.Business_Name__c}"/>
                    <apex:inputField id="Businessphone" value="{!Heading_Request__c.Business_Phone__c}"/>
                    <apex:inputField id="Primary_Heading_s_Currently_Used" value="{!Heading_Request__c.Primary_Heading_s_Currently_Used__c}"/>
                    <apex:inputField id="Why_would_the_new_heading_be_beneficial" value="{!Heading_Request__c.Why_would_the_new_heading_be_beneficial__c}"/>
                    <apex:inputField id="Is_the_terminology_well_know_to" value="{!Heading_Request__c.Is_the_terminology_well_know_to__c}"/>
                    <apex:inputField id="Is_the_requested_product_service_used_by__c" value="{!Heading_Request__c.Is_the_requested_product_service_used_by__c}"/>
                    <apex:inputField id="Describe_Product_or_Service" value="{!Heading_Request__c.Describe_Product_or_Service__c}"/>
                    <apex:inputField id="accountSite2" value="{!Heading_Request__c.Is_this_a_new_Business_Product_Service__c}"/>
                    <apex:inputField id="Heading_restricted_by_legal_or_prof_assc" value="{!Heading_Request__c.Heading_restricted_by_legal_or_prof_assc__c}"/>
                    <apex:inputField id="National_association_related_to_heading__c" value="{!Heading_Request__c.National_association_related_to_heading__c}"/>
                    <apex:inputField id="Suggested_Related_Heading_s" value="{!Heading_Request__c.Suggested_Related_Heading_s__c}"/>
                    <apex:inputField id="Suggested_Cross_Reference_s" value="{!Heading_Request__c.Suggested_Cross_Reference_s__c}"/>
                    <apex:inputField id="Headings_used_in_surrounding_directories" value="{!Heading_Request__c.Headings_used_in_surrounding_directories__c}"/>
                    <apex:inputField id="What_advertising_is_planned_for_headings" value="{!Heading_Request__c.What_advertising_is_planned_for_headings__c}"/>
                       
              <!--   <apex:inputField id="accountName" value="{!Heading_Request__c.name}"/>
               
                
                <apex:inputField id="Requester_Email_Address" value="{!Heading_Request__c.Requester_Email_Address__c}"/>
                <apex:inputField id="Requester_Name" value="{!Heading_Request__c.Requester_Name__c}"/>
                <apex:inputField id="foradminpupose" value="{!Heading_Request__c.Pubsite_Desc_vis__c}"/>
              -->  
                </apex:pageblockSection>    
           
       </apex:pageBlock>
    </apex:form>
</apex:page>