<apex:page standardController="Account" extensions="SelectOrderSetController" standardStylesheets="true" id="page">
 <style>

.newtooltip {

background-color: #8a9ebe !important;
color: rgb(248, 245, 245) !important;
border-radius: 5px !important;
border: 1px solid #8a9ebe !important;
width: 180px !important;
position: absolute !important;
-webkit-transition: opacity 0.5s !important;
-moz-transition: opacity 0.5s !important;
-ms-transition: opacity 0.5s !important ;
-o-transition: opacity 0.5s !important;
transition: opacity 0.5s !important;
margin-left: 55px !important;
padding: 2px !important;
}
.newtooltipForCancel {

background-color: #8a9ebe !important;
color: rgb(248, 245, 245) !important;
border-radius: 5px !important;
border: 1px solid #8a9ebe !important;
width: 180px !important;
position: absolute !important;
-webkit-transition: opacity 0.5s !important;
-moz-transition: opacity 0.5s !important;
-ms-transition: opacity 0.5s !important ;
-o-transition: opacity 0.5s !important;
transition: opacity 0.5s !important;
margin-left: 9px !important;
margin-top:18px !important;
padding: 2px !important;
}

</style>


<apex:form id="form">

 <apex:pageMessages ></apex:pageMessages>
<apex:actionFunction name="getOrderSets" action="{!fetchOrderSets}" status="checkselect" reRender="form"/> 
<apex:actionFunction id="fncname" action="{!CheckBundle}" name="CheckBulndle" reRender="SOL" status="checkselect">
<apex:param name="oliId" value="" assignTo="{!OLIIdforcheck}" />
<apex:param name="OldValue" value="" assignTo="{!CheckBool}" />
</apex:actionFunction>

                <apex:actionstatus id="checkselect">
                    <apex:facet name="start">
                        <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;">
                            <div class="waitingHolder" style="top: 100px; width: 91px;">
                                <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                <span class="waitingDescription">Loading...</span>
                            </div>
                        </div>
                    </apex:facet>
                </apex:actionstatus>

    <apex:inputHidden value="{!caseID}"/>
    <apex:inputHidden value="{!cancelpage2}"/>
    <apex:inputHidden value="{!pagenum}"/>
    
    <apex:outputPanel rendered="{!IF(pagenum == 0 || pagenum == 1 ,True,False)}">
<div style="background:#FFFFdd;"><b>Instructions:</b> <br/>
 The two steps for selecting Order Line items to cancel are:<br/>
 1. Check the Order Set(s) below to show the line items and click <b><i>Show Line Items</i></b><br/>
 2. Check in the List of Order Line Items that are assocated with the selected Order Set(s) which you wish to cancel and click <b><i>Cancel Selected Line Items</i></b>
 <br/><br/>To return to the Case you opened without saving your selections click <b><i>Return to Case</i></b>
</div></apex:outputPanel>

    <apex:outputPanel rendered="{!IF(pagenum == 2,True,False)}">
<div><b>Instructions:</b> <br/>
 Final Step:<br/>
 Enter the Customer Cancel Date and Cancellation Reason then click <b><i>Continue</i></b><br/>
  <br/><br/>To return to the Case you opened without canceling the line items click <b><i>Return to Case</i></b>
</div></apex:outputPanel>

<br/>

  <apex:pageBlock title="{!if(pagenum < 2 ,'Select an Order Set for Items to Cancel',if(pagenum == 2,'Complete Data below and press continue', 'Submission Status'))}"  id="ordersetblock"   >
      <apex:pageBlockButtons id="pageblockbuts" location="top">
      <apex:commandButton immediate="true" title="Cancel" value="Return to Case" action="/{!CaseObj.id}"/>
      </apex:pageBlockButtons>
     
      <apex:pageBlockSection collapsible="True" title="Account and Contact" columns="2"  id="accountpbsection" >
          <apex:pageBlockSectionItem ><apex:outputLabel >Account: </apex:outputLabel><apex:OutputField value="{!CaseObj.AccountId}"  /></apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem ><apex:outputLabel >Contact: </apex:outputLabel><apex:OutputField value="{!CaseObj.ContactId}"  /></apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem ><apex:outputLabel >Billing Anniversary Date: </apex:outputLabel><apex:OutputField value="{!CaseObj.Account.Billing_Anniversary_Date__c}"  /></apex:pageBlockSectionItem>
          
          <apex:pageBlockSectionItem rendered="{!IF(pagenum ==3, True, false)}"><apex:outputLabel >Total Fees Pending Approval: </apex:outputLabel><apex:OutputText value="{!PendingFees}"  /></apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem rendered="{!IF(pagenum ==3, True, false)}"><apex:outputLabel >Total Fees Billed: </apex:outputLabel><apex:OutputText value="{!BilledFees}"  /></apex:pageBlockSectionItem>

 
      </apex:pageBlockSection>
                     <apex:pageBlockSection columns="2" id="pbsOS" title="Canvass" collapsible="false" rendered="{!if(pagenum !=2 &&  pagenum !=3 &&  pagenum !=4,True, False)}" >
                    <apex:pageBlockSectionItem >
                           <apex:outputLabel value="Canvass:" style="margin-left:-5px;" />
                            <apex:selectList id="canvasslist" value="{!selectedCanvass}" size="1" onchange="getOrderSets();">
                                <apex:selectOptions value="{!CanvassPickList}" />
                            </apex:selectList>
                        </apex:pageBlockSectionItem>
               </apex:pageBlockSection> 
  <apex:pageBlockSection collapsible="true" title="Current Order Sets for Account {!CaseObj.Account.Name}" columns="1" id="ossection" rendered="{!if(pagenum !=2 &&  pagenum !=3 && pagenum !=4,True, False)}" >
      
      <apex:pageBlockSectionItem id="ospbitem">
          <apex:dataTable width="100%" value="{!OrderSetObj}" var="os"  rules="rows" >
              <apex:column >
                  <apex:facet name="header">Select</apex:facet>
                   &nbsp;&nbsp;<apex:inputField value="{!os.Order_Set_Selected_Cancel__c}"  />
                                  
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Created Date</apex:facet>
                  <apex:outputField value="{!os.CreatedDate}"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header"># of Line Items</apex:facet>
                  <apex:outputLabel >{!os.Order_Line_Items__r.size}</apex:outputLabel>
                 <!-- <apex:output value="{!os.Order_Line_Items__r.size}"/>-->
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Opportunity</apex:facet>
                  <apex:outputField value="{!os.Opportunity__c}"/>
              </apex:column>              
          </apex:dataTable>
</apex:pageBlockSectionItem>
  <apex:commandButton title="Show Line Items" value="Show Line Items" action="{!ShowSelectOLI}"   />       
  
  </apex:pageBlockSection> 
 <a name="oli" />
 <apex:outputPanel id="SOL">
  <apex:pageBlockSection title="Selected Order Lines" columns="1" collapsible="false" id="orderlineitemsblock"   rendered="{!IF(pagenum ==1 ,True,false)}">

   <apex:outputPanel layout="block" style="overflow-x:scroll;">
 <apex:dataTable width="150%" value="{!OLIs}" var="oli" id="olioutdt"  rules="rows" >
              <apex:column >
                  <apex:facet name="header">Selected</apex:facet>
               <!--   <apex:inputField value="{!oli.Selected_Cancel__c}" id="OLItemCheck" onchange="CheckBundle('{!oli.id}',this.checked)"/>-->
                <apex:inputField value="{!oli.Selected_Cancel__c}" id="OLItemCheck" onchange="CheckBulndle('{!oli.id}',this.checked)"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Order Set</apex:facet>
                  <apex:outputField value="{!oli.Order_Group__c}" />
              </apex:column>
              
              <!--title="{!oli.Directory__r.Name}{!oli.Name}{!oli.Directory_Heading__r.Name}"-->
               <apex:column >
                  <apex:facet name="header">Order Line Item Name</apex:facet>
                      <a href="/{!oli.id}" class="hover" onmouseover="document.getElementById('tool{!oli.id}').setAttribute('style','display:block');" onmouseout="document.getElementById('tool{!oli.id}').setAttribute('style','display:none');">             
                      {!oli.name}
                      <div  id="tool{!oli.id}" class="newtooltip" style="display:none">Directory Name : {!oli.Directory__r.Name} <br/>
                      Directory Code : {!oli.Directory__r.Directory_Code__c}<br/>
                      Heading : {!oli.Directory_Heading__r.Name}
                          </div></a>
              </apex:column>
               <apex:column >
                  <apex:facet name="header">Product Code/UDAC</apex:facet>
                  <apex:outputField value="{!oli.ProductCode__c}"/>
              </apex:column>           
               <apex:column >
                  <apex:facet name="header">Canvass</apex:facet>
                  <apex:outputField value="{!oli.Canvass__r.name}"/>
              </apex:column>           
                <apex:column >
                  <apex:facet name="header">Sale Price</apex:facet>
                  <apex:outputField value="{!oli.UnitPrice__c}"/>
              </apex:column> 
                <apex:column >
                  <apex:facet name="header">Successful Payments</apex:facet>
                  <apex:outputField value="{!oli.Successful_Payments__c}"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Payments Remaining</apex:facet>
                  <apex:outputField value="{!oli.Payments_Remaining__c}"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Billing Status</apex:facet>
                  <apex:outputField value="{!oli.Status__c}"/>
              </apex:column> 
              <apex:column >
                  <apex:facet name="header">Payment Duration</apex:facet>
                  <apex:outputField value="{!oli.Payment_Duration__c}"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Talus Go Live Date</apex:facet>
                  <apex:outputField value="{!oli.Talus_Go_Live_Date__c}"/>
              </apex:column> 
              <apex:column >
                  <apex:facet name="header">Order Anniversary Start Date</apex:facet>
                  <apex:outputField value="{!oli.Order_Anniversary_Start_Date__c}"/>
              </apex:column> 
              <apex:column >
                  <apex:facet name="header">Contract End Date</apex:facet>
                  <apex:outputField value="{!oli.Contract_End_Date__c}"/>
              </apex:column>                             
                                   
 </apex:dataTable>   
 </apex:outputPanel>
  <apex:commandButton title="Cancel Selected Line Items" value="Cancel Selected Line Items" action="{!oliNext}"   />
</apex:pageBlockSection>
  </apex:outputPanel>
  <apex:outputPanel id="ContinuePanel">
<apex:pageBlockSection title="Order Lines Cancel Data" columns="1" collapsible="false" id="orderlineitemscancelblock"   rendered="{!IF(pagenum ==2, True, false)}">
<apex:pageBlockSectionItem >
    <apex:outputLabel value="Cancellation Reason" />
      <apex:inputField value="{!CaseObj.Cancellation_Reason__c}" required="true"/>
   <!-- <apex:selectList id="ReasonForCancel" value="{!selectedReasonForCancel}" size="1">
        <apex:selectOptions value="{!cancelReasonList }" />
    </apex:selectList>-->
</apex:pageBlockSectionItem>
  <apex:variable value="{!0}" var="rowNum"/>
   <apex:outputPanel layout="block" style="overflow-x:scroll;">
 <apex:dataTable width="150%" value="{!OLIs}" var="oli" id="olioutdt"  rules="rows" >

             <apex:column >
                
                  <apex:facet name="header">$0 Cancel Fee request</apex:facet>
                 <div> &nbsp;&nbsp;<apex:inputField value="{!oli.zero_Cancel_Fee_Requested__c}"   rendered="{!NOT(OR(IF(oli.Media_Type__c=='Print',true,false),IF(AND(OR(oli.Telco__c!=null,oli.Telco__c!=''),oli.Media_Type__c='Digital', oli.Payment_Method__c='Telco Billing', NOT(oli.Telco__r.Accepts_Cancellation_Fee__c)),true,false)))}"     />
<apex:outputField value="{!oli.zero_Cancel_Fee_Requested__c}"   rendered="{!OR(IF(oli.Media_Type__c=='Print',true,false),IF(AND(OR(oli.Telco__c!=null,oli.Telco__c!=''),oli.Media_Type__c='Digital', oli.Payment_Method__c='Telco Billing', NOT(oli.Telco__r.Accepts_Cancellation_Fee__c)),true,false))}"     />
</div>
                 <!--
                   <apex:outputPanel rendered="{!IF(AND(oli.Media_Type__c='Digital', oli.Payment_Method__c='Telco Billing', NOT(oli.Telco__r.Accepts_Cancellation_Fee__c)),true,false)}" layout="block" style="float: right;margin-top: -18px;margin-right: 75px;"> <apex:image url="{!$Resource.Info_Icon}" width="20" height="20" title="No fee will be raise for this OLI because the Telco does not receive fees." /></apex:outputPanel>-->
                      <apex:outputPanel rendered="{!IF(AND(OR(oli.Telco__c!=null,oli.Telco__c!=''),oli.Media_Type__c='Digital', oli.Payment_Method__c='Telco Billing', NOT(oli.Telco__r.Accepts_Cancellation_Fee__c)),true,false)}" layout="block" style="float: right;margin-top: -18px;margin-right: 75px;"> <apex:image url="{!$Resource.Info_Icon}" width="20" height="20" styleclass="hover" onmouseover="document.getElementById('cancelfee').setAttribute('style','display:block');" onmouseout="document.getElementById('cancelfee').setAttribute('style','display:none');">
                            <div  id="cancelfee" class="newtooltipForCancel" style="display:none;" >
                      No fee will be raise for this OLI because the Telco does not receive fees.
                          </div>
                          
                          </apex:image>
                          </apex:outputPanel>
                                  
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Cutomer Cancel Date</apex:facet>
                  

                  <apex:inputField required="true" id="OLItemCheck" value="{!oli.Cutomer_Cancel_Date__c}"/>
                  
               <!--  <apex:inputHidden value="{!oli.Cutomer_Cancel_Date__c}" id="OLItemCheckHidden" rendered="{!IF(OR(oli.Media_Type__c='Print',oli.Talus_Go_Live_Date__c=null),true,false)}"/> -->
                  
                 
              </apex:column>
             
              <apex:column >
              <script>
                  var idUrl='page:form:ordersetblock:orderlineitemscancelblock:olioutdt:{!rowNum}:OLItemCheck';
                  var mediaType='{!oli.Media_Type__c}';
                  var goLiveDate='{!oli.Talus_Go_Live_Date__c}';                   
                  if(mediaType=='Print' || goLiveDate==null || goLiveDate=='')
                  {
                     document.getElementById(idUrl).disabled=true;
                      
                  }
              </script>
                  <apex:variable var="rowNum" value="{!rowNum + 1}"/>              
                  <apex:facet name="header">Comments</apex:facet>
                   <apex:inputField value="{!oli.Comments__c}"  /> 
              
              </apex:column> 
              <apex:column >
                  <apex:facet name="header">Order Set</apex:facet>
                  <apex:outputField value="{!oli.Order_Group__c}" />
              </apex:column>

               <apex:column >
                  <apex:facet name="header">Product Code/UDAC</apex:facet>
                  <apex:outputField value="{!oli.ProductCode__c}"/>
              </apex:column>           
           
                <apex:column >
                  <apex:facet name="header">Sale Price</apex:facet>
                  <apex:outputField value="{!oli.UnitPrice__c}"/>
              </apex:column> 
                <apex:column >
                  <apex:facet name="header">Successful Payments</apex:facet>
                  <apex:outputField value="{!oli.Successful_Payments__c}"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Payments Remaining</apex:facet>
                  <apex:outputField value="{!oli.Payments_Remaining__c}"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Billing Status</apex:facet>
                  <apex:outputField value="{!oli.Status__c}"/>
              </apex:column> 
              
              <apex:column >
                  <apex:facet name="header">Talus Go Live Date</apex:facet>
                  <apex:outputField value="{!oli.Talus_Go_Live_Date__c}"/>
              </apex:column> 
              <apex:column >
                  <apex:facet name="header">Order Anniversary Start Date</apex:facet>
                  <apex:outputField value="{!oli.Order_Anniversary_Start_Date__c}"/>
              </apex:column> 
              <apex:column >
                  <apex:facet name="header">Contract End Date</apex:facet>
                  <apex:outputField value="{!oli.Contract_End_Date__c}"/>
              </apex:column>                 
                                   
 </apex:dataTable> 
</apex:outputPanel> 
  <apex:commandButton title="Continue" value="Continue" action="{!oliCancel}"   />
  
  </apex:pageBlockSection>
</apex:outputPanel>
<apex:pageBlockSection title="Order Lines Cancel Information" columns="1" collapsible="false" id="orderlineitemscancelblockConfirm"   rendered="{!IF(pagenum ==3, True, false)}">
 <apex:dataTable width="100%" value="{!OLIs}" var="oli" id="olioutdt"  rules="rows" >

             <apex:column >
                
                  <apex:facet name="header">$0 Cancel Fee request</apex:facet>
                   &nbsp;&nbsp;<apex:outputField value="{!oli.zero_Cancel_Fee_Requested__c}"  />
                   
                                  
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Cutomer Cancel Date</apex:facet>
                  <apex:outputField value="{!oli.Cutomer_Cancel_Date__c}" id="OLItemCheck"    />
              </apex:column>
              <apex:column >            
                  <apex:facet name="header">Cancellation Fee</apex:facet>
                   <apex:outputField value="{!oli.Cancelation_Fee__c}"  /> 
              </apex:column>             
              <apex:column >            
                  <apex:facet name="header">Comments</apex:facet>
                   <apex:outputField value="{!oli.Comments__c}"  /> 
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Order Set</apex:facet>
                  <apex:outputField value="{!oli.Order_Group__c}" />
              </apex:column>

               <apex:column >
                  <apex:facet name="header">Product Code/UDAC</apex:facet>
                  <apex:outputField value="{!oli.ProductCode__c}"/>
              </apex:column>           
           
                <apex:column >
                  <apex:facet name="header">Sale Price</apex:facet>
                  <apex:outputField value="{!oli.UnitPrice__c}"/>
              </apex:column> 
                <apex:column >
                  <apex:facet name="header">Successful Payments</apex:facet>
                  <apex:outputField value="{!oli.Successful_Payments__c}"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Payments Remaining</apex:facet>
                  <apex:outputField value="{!oli.Payments_Remaining__c}"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Billing Status</apex:facet>
                  <apex:outputField value="{!oli.Status__c}"/>
              </apex:column> 
              
              <apex:column >
                  <apex:facet name="header">Talus Go Live Date</apex:facet>
                  <apex:outputField value="{!oli.Talus_Go_Live_Date__c}"/>
              </apex:column> 
              <apex:column >
                  <apex:facet name="header">Order Anniversary Start Date</apex:facet>
                  <apex:outputField value="{!oli.Order_Anniversary_Start_Date__c}"/>
              </apex:column> 
              <apex:column >
                  <apex:facet name="header">Contract End Date</apex:facet>
                  <apex:outputField value="{!oli.Contract_End_Date__c}"/>
              </apex:column>                 
                                   
 </apex:dataTable> 
  <apex:outputPanel layout="block">
  <apex:commandButton title="Comfirm" value="Confirm" action="{!FinalCancel}"   /> &nbsp;&nbsp;&nbsp;&nbsp;   
   <apex:commandButton title="Previous" value="Previous" action="{!backToStep2}" />
   </apex:outputPanel> 
  </apex:pageBlockSection>

  <apex:pageBlockSection title="Order Lines Cancel Results" columns="1" collapsible="false" id="orderlineitemscancelblockfinal"   rendered="{!IF(pagenum ==4, True, false)}">

  
 <apex:dataTable width="100%" value="{!OLIs}" var="oli" id="olioutdt"  rules="rows" >
             <apex:column >
                  <apex:facet name="header">$0 Cancel Fee request</apex:facet>
                   &nbsp;&nbsp;<apex:outPutField value="{!oli.zero_Cancel_Fee_Requested__c}"  />
                                  
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Cutomer Cancel Date</apex:facet>
                  <apex:outputField value="{!oli.Cutomer_Cancel_Date__c}" id="OLItemCheck"/>
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Comments</apex:facet>
                  <apex:outputField value="{!oli.Comments__c}" />
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Calculated Cancelation Fee</apex:facet>
                  <apex:outputField value="{!oli.Cancelation_Fee__c}"/>
              </apex:column> 
             
              

               <apex:column >
                  <apex:facet name="header">Product Code/UDAC</apex:facet>
                  <apex:outputField value="{!oli.ProductCode__c}"/>
              </apex:column>
              
              <apex:column >
                  <apex:facet name="header">P4P Tracking Number status</apex:facet>
                  <apex:outputField value="{!oli.P4P_Tracking_Number_Status__c}"/>
              </apex:column>
              
                                   
 </apex:dataTable>   
   <apex:commandButton immediate="true" title="Done" value="Done Return to Case" action="/{!CaseObj.id}" />   
  </apex:pageBlockSection>
  
  
  </apex:pageBlock>
 
  <!-- document.getElementById(?{!$Component.theText} -->
  <!-- j_id0:form:j_id2:lineitemsblock:oliout:0:OLItemCheck -->
  <!-- page:form:ordersetblock:orderlineitemsblock:olioutdt:0:OLItemCheck -->
   


</apex:form>  
</apex:page>