<apex:page >

<apex:form >
<apex:pageBlock >
<iframe src="https://67.211.229.241/lorescopy/2372995.pdf" id="theIframe" height="700" width="100%"/> 
<!-- <apex:image value="http://67.211.229.241/lorescopy/2372995.pdf" height="700" width="100%"/> -->
</apex:pageBlock>
</apex:form>
</apex:page>