<apex:page Standardcontroller="Directory__c" extensions="vertex_NationalRateCardController_v3"   sidebar="false" showHeader="false" applyHtmlTag="false" renderAs="pdf"  action="{!onLoad_Forpdf}">
   
    <head>  
    <style>
@page
{
    size:{!pdfsize} landscape;

}
</style>
</head>
<body>
 <apex:form >
        <apex:pageMessages id="pmId" />
        <apex:pageBlock id="pbId">
            <apex:outputpanel id="outp1">
           <table border="0" width="100%">
             <tr>
                        <td style="background-color:Orange;" width="25%"><apex:outputLabel ><b>Directory Name:</b></apex:outputLabel></td> 
                        <td style="background-color:#D0D0D0  ;" width="25%"><apex:outputLabel ><b>{!strdirectoryName }</b></apex:outputLabel></td>
            </tr> 
             <tr>           
                 <td style="background-color:Orange;" width="25%"><apex:outputLabel ><b>Directory Code:</b></apex:outputLabel></td> 
                 <td style="background-color:#D0D0D0  ;" width="25%"><apex:outputLabel ><b>{!strdirectoryPUBCOCode}</b></apex:outputLabel></td>
              </tr>
              <tr>           
                 <td ></td> 
              </tr>
              <tr>           
                 <td ></td> 
              </tr>
           </table> 
            
            </apex:outputpanel>
            <apex:pageblock id="pbmaintab">
           
            <apex:outputpanel rendered="{!bFlag40}" id="outp1">
                <table border="1" width="100%">
                    <tr>
                        <td style="background-color:#FFFFFF;" width="8%"><apex:outputLabel ><b>UDAC</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0   ;" width="8%"><apex:outputLabel ><b>Full Rate</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="8%"><apex:outputLabel ><b>X40</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0  ;" width="8%"><apex:outputLabel ><b>X45</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="8%"><apex:outputLabel ><b>X50</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0  ;" width="8%"><apex:outputLabel ><b>X55</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="8%"><apex:outputLabel ><b>X60</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0  ;" width="8%"><apex:outputLabel ><b>X65</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="8%"><apex:outputLabel ><b>X70</b></apex:outputLabel></td>
                    </tr>
                 </table>   
             </apex:outputpanel>
              <apex:outputpanel rendered="{!bFlag}" id="outp2">
                <table border="1" width="100%">
                    <tr>
                         <td style="background-color:#FFFFFF;" width="6.66%"><apex:outputLabel ><b>UDAC</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0  " width="6.66%"><apex:outputLabel ><b>Full Rate</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="6.66%"><apex:outputLabel ><b>X5</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0  " width="6.66%"><apex:outputLabel ><b>X10</b></apex:outputLabel></td>
                         <td style="background-color:#FFFFFF;" width="6.66%"><apex:outputLabel ><b>X15</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0  " width="6.66%"><apex:outputLabel ><b>X20</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="6.66%"><apex:outputLabel ><b>X25</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0  " width="6.66%"><apex:outputLabel ><b>X30</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="6.66%"><apex:outputLabel ><b>X35</b></apex:outputLabel></td> 
                        <td style="background-color:#D0D0D0  " width="6.66%"><apex:outputLabel ><b>X40</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="6.66%"><apex:outputLabel ><b>X45</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0  " width="6.66%"><apex:outputLabel ><b>X50</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="6.66%"><apex:outputLabel ><b>X55</b></apex:outputLabel></td>
                        <td style="background-color:#D0D0D0  " width="6.66%"><apex:outputLabel ><b>X60</b></apex:outputLabel></td>
                        <td style="background-color:#FFFFFF;" width="6.66%"><apex:outputLabel ><b>X65</b></apex:outputLabel></td>
                        
                    </tr>
                 </table>   
             </apex:outputpanel>
             <apex:outputpanel >
           <table>
               <tr>
               <td style="background-color:#FFFFFF" width="4%"><apex:outputLabel ><b>Speciality</b></apex:outputLabel></td>
            </tr> 
            </table>
          
            </apex:outputpanel>
                    <apex:pageblocktable id="pbidsp" value="{!objSpeciality.lstChildSpeciality}" var="varsp" width="100%" border="1">
                            <apex:column width="6.66%"    title="UADC" style="background-color:#FFFFFF;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:outputtext value="{!varsp.UDAC}" />
                            </apex:column>
                          <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:outputText id="ipFullRate"   value="{!varsp.fullRate}"/>
                                        
                                    
                            </apex:column> 
                           
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varsp.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX05" value="{!varsp.X05}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX10" value="{!varsp.X10}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX15" value="{!varsp.X15}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX20" value="{!varsp.X20}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX25" value="{!varsp.X25}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX30" value="{!varsp.X30}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX35" value="{!varsp.X35}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX40" value="{!varsp.X40}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX45" value="{!varsp.X45}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX50" value="{!varsp.X50}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX55" value="{!varsp.X55}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX60" value="{!varsp.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varsp.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varsp.X70}" />
                            </apex:column> -->
                            
                            <apex:column width="6.66%"     style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX65" value="{!varsp.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX70" value="{!varsp.X70}" />
                            </apex:column>
                           
                    </apex:pageblocktable>
                 <apex:outputPanel >
                
                  <table>
            <tr>
               <td style="background-color:#FFFF00;" width="8%"><apex:outputLabel ><b>WHITE PAGE ADVERTISING</b></apex:outputLabel></td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
                <td style="background-color:#FFFFFF" width="7%"><apex:outputLabel ><b>In Columns and Ads</b></apex:outputLabel></td>
                </tr>
            </table>
            
                 </apex:outputPanel> 
                       <apex:pageblocktable id="idwpinc" value="{!objSpeciality.lstChildWhitePIncolumn}" var="varwpinc" width="100%" border="1">
                            <apex:column width="6.66%"    title="UADC" style="background-color:#FFFFFF;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:outputtext value="{!varwpinc.UDAC}" />
                            </apex:column>
                          <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:outputText id="ipFullRate"   value="{!varwpinc.fullRate}"/>
                                        
                                    
                            </apex:column> 
                           
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varwpinc.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX05" value="{!varwpinc.X05}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX10" value="{!varwpinc.X10}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX15" value="{!varwpinc.X15}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX20" value="{!varwpinc.X20}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX25" value="{!varwpinc.X25}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX30" value="{!varwpinc.X30}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX35" value="{!varwpinc.X35}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX40" value="{!varwpinc.X40}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX45" value="{!varwpinc.X45}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX50" value="{!varwpinc.X50}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX55" value="{!varwpinc.X55}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX60" value="{!varwpinc.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varwpinc.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varwpinc.X70}" />
                            </apex:column> -->
                            
                            <apex:column width="6.66%"     style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX65" value="{!varwpinc.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX70" value="{!varwpinc.X70}" />
                            </apex:column>
                            
                    </apex:pageblocktable>
                   
                    
                     <apex:outputPanel >
                
                  <table>
            <tr>
               <td style="background-color:#FFFFFF" width="3%"><apex:outputLabel ><b>Listings</b></apex:outputLabel></td>
            </tr>
            
           
            </table>
            </apex:outputPanel>
                           <apex:pageblocktable id="idwplst" value="{!objSpeciality.lstChildWhitePlisting}" var="lstChildWhitePlisting" width="100%" border="1">
                            <apex:column width="6.66%"    title="UADC" style="background-color:#FFFFFF;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:outputtext value="{!lstChildWhitePlisting.UDAC}" />
                            </apex:column>
                          <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:outputText id="ipFullRate"   value="{!lstChildWhitePlisting.fullRate}"/>
                                        
                                    
                            </apex:column> 
                           
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!lstChildWhitePlisting.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX05" value="{!lstChildWhitePlisting.X05}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX10" value="{!lstChildWhitePlisting.X10}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX15" value="{!lstChildWhitePlisting.X15}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX20" value="{!lstChildWhitePlisting.X20}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX25" value="{!lstChildWhitePlisting.X25}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX30" value="{!lstChildWhitePlisting.X30}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX35" value="{!lstChildWhitePlisting.X35}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX40" value="{!lstChildWhitePlisting.X40}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX45" value="{!lstChildWhitePlisting.X45}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX50" value="{!lstChildWhitePlisting.X50}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX55" value="{!lstChildWhitePlisting.X55}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX60" value="{!lstChildWhitePlisting.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!lstChildWhitePlisting.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!lstChildWhitePlisting.X70}" />
                            </apex:column> -->
                            
                            <apex:column width="6.66%"     style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX65" value="{!lstChildWhitePlisting.X65}" />
                            </apex:column>
                             <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX70" value="{!lstChildWhitePlisting.X70}" />
                            </apex:column>
                    </apex:pageblocktable>
               <apex:outputPanel >
                <table>
                <tr>
                   <td style="background-color:#FFFF00" width="8%"><apex:outputLabel ><b>YELLO PAGE ADVERTISING</b></apex:outputLabel></td>
                </tr>
                <tr>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td style="background-color:#FFFFFF;" width="7%"><apex:outputLabel ><b>In-Columns</b></apex:outputLabel></td>
               </tr>
            </table>
                </apex:outputPanel>
                
                
                       <apex:pageblocktable id="idypic" value="{!objSpeciality.lstChildYellowPIncolumn}" var="varyelpinc" width="100%" border="1">
                            <apex:column width="6.66%"    title="UADC" style="background-color:#FFFFFF;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:outputtext value="{!varyelpinc.UDAC}" />
                            </apex:column>
                          <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:outputText id="ipFullRate"   value="{!varyelpinc.fullRate}"/>
                                        
                                    
                            </apex:column> 
                           
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varyelpinc.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX05" value="{!varyelpinc.X05}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX10" value="{!varyelpinc.X10}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX15" value="{!varyelpinc.X15}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX20" value="{!varyelpinc.X20}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX25" value="{!varyelpinc.X25}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX30" value="{!varyelpinc.X30}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX35" value="{!varyelpinc.X35}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX40" value="{!varyelpinc.X40}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX45" value="{!varyelpinc.X45}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX50" value="{!varyelpinc.X50}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX55" value="{!varyelpinc.X55}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX60" value="{!varyelpinc.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varyelpinc.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varyelpinc.X70}" />
                            </apex:column> -->
                            
                            <apex:column width="6.66%"     style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX65" value="{!varyelpinc.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX70" value="{!varyelpinc.X70}" />
                            </apex:column>
                    </apex:pageblocktable>
                   <!--    <apex:pageblockSection title="Displays" columns="1"> -->
                   <apex:outputPanel >
                      <table>
                        <tr>
                           <td style="background-color:#FFFFFF" width="4%"><apex:outputLabel ><b>Displays</b></apex:outputLabel></td>
                        </tr>
                    </table>
                       </apex:outputPanel>
                       <apex:pageblocktable id="idypdisp" value="{!objSpeciality.lstChildYellowPDisplay}" var="varyelpdisplay" width="100%" border="1">
                            <apex:column width="6.66%"    title="UADC" style="background-color:#FFFFFF;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:outputtext value="{!varyelpdisplay.UDAC}" />
                            </apex:column>
                          <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:outputText id="ipFullRate"   value="{!varyelpdisplay.fullRate}"/>
                                        
                                    
                            </apex:column> 
                           
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varyelpdisplay.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX05" value="{!varyelpdisplay.X05}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX10" value="{!varyelpdisplay.X10}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX15" value="{!varyelpdisplay.X15}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX20" value="{!varyelpdisplay.X20}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX25" value="{!varyelpdisplay.X25}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX30" value="{!varyelpdisplay.X30}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX35" value="{!varyelpdisplay.X35}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX40" value="{!varyelpdisplay.X40}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX45" value="{!varyelpdisplay.X45}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX50" value="{!varyelpdisplay.X50}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX55" value="{!varyelpdisplay.X55}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX60" value="{!varyelpdisplay.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varyelpdisplay.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varyelpdisplay.X70}" />
                            </apex:column> -->
                            
                            <apex:column width="6.66%"     style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX65" value="{!varyelpdisplay.X65}" />
                            </apex:column>
                              <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX70" value="{!varyelpdisplay.X70}" />
                            </apex:column>
                    </apex:pageblocktable>
                             <apex:outputPanel >
                                 <table>
                                     <tr>
                                      <td style="background-color:#FFFFFF" width="3%"><apex:outputLabel ><b>Listings</b></apex:outputLabel></td>
                                        
                                      </tr>
                                 </table>
                             </apex:outputPanel>
                   
                        <apex:pageblocktable id="idyplst" value="{!objSpeciality.lstChildYellowPListing}" var="varyelplisting" width="100%" border="1">
                            <apex:column width="6.66%"    title="UADC" style="background-color:#FFFFFF;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:outputtext value="{!varyelplisting.UDAC}" />
                            </apex:column>
                          <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:outputText id="ipFullRate"   value="{!varyelplisting.fullRate}"/>
                                        
                                    
                            </apex:column> 
                           
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varyelplisting.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX05" value="{!varyelplisting.X05}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX10" value="{!varyelplisting.X10}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX15" value="{!varyelplisting.X15}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX20" value="{!varyelplisting.X20}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX25" value="{!varyelplisting.X25}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX30" value="{!varyelplisting.X30}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX35" value="{!varyelplisting.X35}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX40" value="{!varyelplisting.X40}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX45" value="{!varyelplisting.X45}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX50" value="{!varyelplisting.X50}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX55" value="{!varyelplisting.X55}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX60" value="{!varyelplisting.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varyelplisting.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varyelplisting.X70}" />
                            </apex:column> -->
                            
                            <apex:column width="6.66%"     style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX65" value="{!varyelplisting.X65}" />
                            </apex:column>
                             <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX70" value="{!varyelplisting.X70}" />
                            </apex:column>
                    </apex:pageblocktable>
                       <apex:outputPanel >
                                 <table>
                                     <tr>
                                      <td style="background-color:#FFFFFF;" width="3%"><apex:outputLabel ><b>Trade UDACS</b></apex:outputLabel></td>
                                        
                                      </tr>
                                 </table>
                             </apex:outputPanel>
                      
                        <apex:pageblocktable id="pbttrade" value="{!objSpeciality.lstChildYellowPTradeUDACS}" var="varyelpTradeUDACS" width="100%" border="1">
                            <apex:column width="6.66%"    title="UADC" style="background-color:#FFFFFF;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:outputtext value="{!varyelpTradeUDACS.UDAC}" />
                            </apex:column>
                          <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:outputText id="ipFullRate"   value="{!varyelpTradeUDACS.fullRate}"/>
                                        
                                    
                            </apex:column> 
                           
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varyelpTradeUDACS.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX05" value="{!varyelpTradeUDACS.X05}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX10" value="{!varyelpTradeUDACS.X10}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX15" value="{!varyelpTradeUDACS.X15}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX20" value="{!varyelpTradeUDACS.X20}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX25" value="{!varyelpTradeUDACS.X25}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX30" value="{!varyelpTradeUDACS.X30}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX35" value="{!varyelpTradeUDACS.X35}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX40" value="{!varyelpTradeUDACS.X40}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX45" value="{!varyelpTradeUDACS.X45}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX50" value="{!varyelpTradeUDACS.X50}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX55" value="{!varyelpTradeUDACS.X55}" />
                            </apex:column>
                            <apex:column width="6.66%"   style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX60" value="{!varyelpTradeUDACS.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varyelpTradeUDACS.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varyelpTradeUDACS.X70}" />
                            </apex:column> -->
                            
                            <apex:column width="6.66%"     style="{!IF(bFlag == true,'background-color:#FFFFFF;','background-color:#D0D0D0  ;')}">
                                <apex:outputText id="ipX65" value="{!varyelpTradeUDACS.X65}" />
                            </apex:column>
                             <apex:column width="6.66%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#D0D0D0  ;','background-color:#FFFFFF;')}">
                                <apex:outputText id="ipX70" value="{!varyelpTradeUDACS.X70}" />
                            </apex:column>
                    </apex:pageblocktable>
            </apex:pageblock>
            <apex:outputPanel >
            <table border="0" width="100%">
             <tr>
                 <td width="100%"> </td>
             </tr>
             <tr>
                 <td width="100%"> </td>
             </tr>
            
             <tr>
                        <td style="background-color:#D0D0D0  ;"  widht="88%"/>
                        <td style="background-color:#D0D0D0  ;" width="12%"><apex:outputLabel ><b>{!Today}</b></apex:outputLabel></td>
            </tr> 
            
           </table> 
            
            </apex:outputPanel>
        </apex:pageBlock>
 
       
    </apex:form>
    </body> 
    
</apex:page>