<apex:page StandardController="Account" extensions="AccountManagement">
	<apex:form >
		<apex:pageBlock title="Account Management">
			<apex:pageBlockButtons location="top">				
				<apex:commandButton action="{!cancelContact}" value="Close"/>
			</apex:pageBlockButtons>
			<apex:pageBlockSection id="pbsExistingAcc" title="Converted Child Accounts" columns="1" collapsible="false">
				<apex:pageBlockTable value="{!lstUpdatedAccount}" var="item">
					<apex:column headerValue="Select">
						<apex:commandLink action="/{!item.Id}" value="View" />
					</apex:column>
					<apex:column headerValue="Name" value="{!item.name}"/>
					<apex:column headerValue="Parent Account" value="{!item.ParentId}"/>
					<apex:column headerValue="Manager" value="{!item.Account_Manager__c}"/>
					<apex:column headerValue="Canvass" value="{!item.Primary_Canvass__c}"/>
					<apex:column headerValue="Account Owner" value="{!item.OwnerId}"/>
				</apex:pageBlockTable>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
<!-- End Default Content REMOVE THIS -->
</apex:page>