<apex:page controller="p2f.SiteCashEntriesController"  sidebar="false" cache="false" >
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/ptl_basic.css')}" />

<title>Cash Entries</title>
     <div class="pc_page_content_top"></div>
    <div class="pc_page_content" id="pc_ff_ptlcashentries_page">
    <div class="pc_page_content_inner">
    <apex:outputPanel rendered="{!NOT(advancedSitesEnabled)}"> 
		<apex:pageMessage summary="PaymentConnect Advanced Sites functionality has not been activated in this org." severity="warning" strength="3" />
	</apex:outputPanel>
    <apex:outputPanel rendered="{!advancedSitesEnabled}">      
	    <apex:pageMessages />    
        <apex:sectionHeader title="Cash Entries"/>
            <apex:form >
            <apex:pageblock mode="maindetail">
            <apex:pageBlockTable styleClass="cashEntriesTable" value="{!cashEntries}" var="item" >
                <apex:column value="{!item.record.c2g__Date__c}"/>
                <apex:column headerValue="Account" value="{!item.accountName}"/>
                <apex:column value="{!item.record.c2g__Description__c}"/>

                <apex:column headerValue="Total Amount"  headerClass="currency_column" styleClass="currency_column">
                <apex:outputText value="{0,number,###,###,##0.00} {1}" >
                	<apex:param value="{!item.totalAmount}"/>
                	<apex:param value="{!item.currencyISOCode}"/>
                </apex:outputText>
                </apex:column>
                <apex:column value="{!item.record.c2g__Status__c}"/>
                <apex:column value="{!item.record.c2g__Type__c}"/>

                
            </apex:pageblockTable>
            
            </apex:pageBlock>   
        </apex:form>
	</apex:outputPanel>
    </div><!--  pc_page_content_inner -->
    </div><!--  pc_page_content --> 
</apex:page>