<apex:component controller="LocalBillingReconcileStatementController" allowDML="true">
<style>
.tdhead
{
    color:#4a4a56;
    text-align: center;
    font-size: 91%;
    font-weight: bold;
    width:25%;
    background-color:#A4A4A4;
    padding-top:10px;
    height:20px;
}
.tdtxt
{
    color:#4a4a56;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width:25%;
    padding-top:10px;
    height:20px;
}
</style>
<apex:form id="frm">
        <apex:actionstatus id="fetchStatus">
            <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
            </apex:facet>
        </apex:actionstatus>
        <apex:pageBlock id="pblk">
            <apex:pageBlockSection title="Reconcile Statement" columns="1" id="pbsMain">
                    <apex:outputLabel value="Invoice Date :" style="font-weight: bold;"/>
                    <apex:pageBlockSectionItem >
                          <apex:outputPanel Layout="block" style="width:60%">
                            <apex:pageBlockSection columns="3">
                                <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="From Date:"></apex:outputLabel>
                                    <apex:inputField value="{!objDummy.From_Date__c}" id="billstartdate"/>
                                </apex:pageBlockSectionItem>
                                <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="To Date:"></apex:outputLabel>
                                    <apex:inputField value="{!objDummy.To_Date__c}" id="billenddate"/>
                               </apex:pageBlockSectionItem>
                               <apex:pageBlockSectionItem >
                               <apex:commandButton value="Go" action="{!clickGoNew}" reRender="pblk" status="fetchStatus"/>
                                </apex:pageBlockSectionItem>
                            </apex:pageBlockSection>
                          </apex:outputPanel>
                   </apex:pageBlockSectionItem>
                   <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                        <apex:outputLabel value="{!strNoofAccountAndInvoice}" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                        <apex:outputLabel value="{!strNoofAccountAndSCN}" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
             </apex:pageBlockSection>
             <apex:outputPanel id="opLOB">
                 <apex:pageBlockSection title="Reconcilation" columns="1" id="pbsLOB" rendered="{!bShowReconciliation}">                    
                    <apex:outputPanel >
                        <table cellpading="0" cellspacing="0" width="100%" border="1">
                       <tr>
                                <td class="tdhead">Number of Unreconcilied</td>
                                <td class="tdhead">Sales Invoice Total</td>
                                <td class="tdhead">Sales Credit Note Total</td>
                       </tr>
                       <tr>
                                <td class="tdtxt"><apex:outputText id="stmtRecCount" value="{!StmtReconciledCount}"/></td>
                                <td class="tdtxt">
                                <apex:outputText value="{0,number,$ 0.00}"> 
                                <apex:param value="{!stmtSITotal}"/>
                                 </apex:outputText>
                                 </td>
                                <td class="tdtxt">
                                <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!stmtSCNTotal}"/>
                                </apex:outputText>
                                </td>
                       </tr>
                  </table>
                    </apex:outputPanel>
                    <apex:outputPanel >
                    <apex:commandLink action="/{!EverythingGoneLivewithInvoice}?colDt_s={!objDummy.From_Date__c}&colDt_e={!objDummy.To_Date__c}" target="_blank" value="Go Live - Raised Invoice Report" id="clGoLiveRaisedInvoiceReport"/>&nbsp;&nbsp;&nbsp;
                     <apex:commandLink action="/{!StmtSubsequentReconcileReportId}?pv0={!objDummy.From_Date__c}&pv1={!objDummy.To_Date__c}&pv3={!objDummy.From_Date__c}&pv4={!objDummy.To_Date__c}" target="_blank" value="Reconciliation Report" id="clReconciliationReport"/>&nbsp;&nbsp;&nbsp;
                   <!-- <apex:commandLink action="/apex/SubsequentReconciliationReport?edate={!objDummy.From_Date__c}&sdate={!objDummy.From_Date__c}&rtype=Digital&isStatement=true" target="_blank" value="FC Subsequent Report" id="FCReconciliationReport"/> -->
                   &nbsp;&nbsp;&nbsp;
                    </apex:outputPanel>
                    <apex:pageBlockSectionItem >
                        <apex:inputCheckbox value="{!bReconciled}"> <b style="color: #4a4a56;">Reconciled</b>     
                        </apex:inputCheckbox>
                        <apex:commandButton value="Save" id="ReconciliationBtn" action="{!updateSIwithReconciledCheckBox}" reRender="pbsLOB,opReconciliationPanel" status="fetchStatus"/>
                    </apex:pageBlockSectionItem>
                    <apex:outputPanel id="opReconciliationPanel">
                        <apex:actionPoller action="{!apexReconciliationJobStatus}" enabled="{!bReconciliationEnabledPoller}" interval="5" reRender="opReconciliationPanel,opFFPost" status="counterStatus"/>
                        <apex:actionStatus startText="Fetching Status..." id="counterStatus"/>
                        <br/>
                        <apex:outputLabel value="{!strSIReconcileBatchStatus}" />
                        <br/>
                        <apex:outputLabel value="{!strSCNReconcileBatchStatus}" />
                    </apex:outputPanel>
              </apex:pageBlockSection>
          </apex:outputPanel>
          <apex:outputPanel id="opFFPost">
              <apex:pageBlockSection title="Post to Financial Force" columns="1" id="pbsPostFF" rendered="{!bShowPostFF}">
                    <apex:pageMessages ></apex:pageMessages>
                    <apex:outputPanel >
                        <apex:commandLink action="/{!rptPostingInvoice}?colDt_e={!objDummy.To_Date__c}&colDt_s={!objDummy.From_Date__c}" target="_blank" value="Invoice Posting Report" id="clInvoicePostingReport"/>&nbsp;&nbsp;&nbsp;
                        <apex:commandLink action="/{!rptPostingSCN}?colDt_e={!objDummy.To_Date__c}&colDt_s={!objDummy.From_Date__c}" target="_blank" value="SCN Posting Report" id="clSCNPostingReport"/>
                    </apex:outputPanel>
                    <apex:outputPanel >
                        <apex:inputCheckbox id="chkPostSI" value="{!bPostAllInvoice}">
                            <apex:actionsupport event="onchange" status="fetchStatus" reRender="opFFPost"/>
                        </apex:inputCheckbox>
                       <!-- <apex:inputCheckbox id="chkPostSI" value="{!bPostAllInvoice}"/> -->
                       <apex:outputLabel value="Ready to Post" for="chkPostSI"/>
                    </apex:outputPanel>
                    <apex:outputPanel id="opPostFF">
                        <apex:commandButton id="btnPostingInvoice" value="Post to FF" action="{!postFFInvoice}" reRender="pbsPostFF" status="fetchStatus" disabled="{! NOT(bPostAllInvoice) }"/>&nbsp;
                        <br/>
                        <apex:actionPoller action="{!apexJobStatus}" enabled="{!bEnabledPoller}" interval="5" reRender="opPostFF"/>
                        <br/>
                        <apex:outputLabel value="{!strBatchStatus}" />
                        <br/>
                        <apex:outputLabel value="{!strSCNBatchStatus}" />
                    </apex:outputPanel>
                </apex:pageBlockSection>
            </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>
</apex:component>