<!--
  Copyright (c) 2011, FinancialForce.com inc
  All rights reserved.
-->

<apex:page StandardController="fflbx__Receipt__c" extensions="fflbx.CashEntryController">
    <apex:sectionHeader subtitle="{!fflbx__Receipt__c.Name}" title="{!$Label.CashEntryPageTitle}"/>
    <apex:pageMessages />
    <apex:form >
    	<apex:commandButton value="{!$Label.Yes}" action="{!runBatch}" rendered="{!!isError}" />
        <apex:commandButton value="{!$Label.LabelBack}" action="{!cancel}" /> 
    </apex:form>
</apex:page>