<apex:page standardController="fflbx__Receipt__c" extensions="fflbx.CashEntryProcessProgressInfoController">
    <apex:form >
        <c:fflib_batchInfo id="jobStatus" batchControlRecordId="{!Id}"
            batchJobClass="{!if(fflbx__Receipt__c.fflbx__CashProcessStatus__c='Matched' || fflbx__Receipt__c.fflbx__CashProcessStatus__c='Cash Matching Error' || isCashMatching, 'CashMatchingBatch', 'CashEntryBatch')}"/>
        <apex:inputHidden value="{!fflbx__Receipt__c.fflbx__BatchProcess__c}"/>
    </apex:form>
</apex:page>