<!-- fflib_batchprocessrun -->
<apex:page standardController="fflbx__fflib_BatchProcess__c" extensions="fflbx.fflib_BatchProcessController">
	<apex:form >
		<apex:sectionHeader title="{!$Label.fflib_BatchProcessRunPageTitle}"/>
		<apex:pageBlock title="{!$Label.fflib_BatchProcessRunPageSectionTitle}">
			<apex:pageBlockButtons >
				<apex:commandButton value="{!$Label.fflib_BatchProcessRunJobsButton}" action="{!runJob}"/>
				<apex:commandButton value="{!$Label.fflib_BatchProcessCancelButton}" action="{!cancel}"/>
			</apex:pageBlockButtons>
			
			<apex:pageMessages />
			<apex:pageMessage summary="{!$Label.fflib_BatchProcessConfirmationMessage}" severity="info" strength="2" />
		</apex:pageBlock>
	</apex:form>
</apex:page>