<apex:component controller="c2g.CODASalesCreditNoteTaxTotalsController" access="global">
    <apex:attribute name="creditNote" access="global" description="The sales credit note to pass to the component." type="c2g__codaCreditNote__c" assignTo="{!creditNoteAttr}"/>
    <apex:attribute name="summariesVar" access="global" description="The tax data returned." type="String"/>
    <apex:componentBody >
        <apex:variable var="{!summariesVar}" value="{!taxSummaries}"/>
    </apex:componentBody>   
</apex:component>