<apex:page controller="ffps_mp.MassPostController">
  <apex:sectionHeader title="Mass Post" />
  <apex:form >
      <apex:pageMessages />
      <apex:pageBlock title="Post all {!oType.describe.labelPlural}">
          <apex:pageblockButtons location="bottom">
              <apex:commandButton value="Post All" action="{!startJob}" />
          </apex:pageblockButtons>
          <apex:outputText value="Are you sure that you wish to post all unposted {!oType.describe.labelPlural}?" />
      </apex:pageBlock>
  </apex:form>
</apex:page>